Repository strapi/documentation, pull requests merged in 2020-12, with the labels that each got.

#8 Introduction to the User Guide
  user-docs/.vuepress/config.js
  user-docs/latest/assets/getting-started/admin-panel-homepage.png
  user-docs/latest/assets/getting-started/login-page.png
  user-docs/latest/assets/getting-started/user-information-profile.png
  user-docs/latest/getting-started/introduction.md
Labels: source: user-docs, type: enhancement

#11 Introductions to empty User Guide sections
  user-docs/.DS_Store
  user-docs/.vuepress/config.js
  user-docs/latest/assets/content-types-builder/content-types-builder.png
  user-docs/latest/assets/plugins/plugins-settings.png
  user-docs/latest/assets/users-permissions/users-roles-permissions-settings.png
  user-docs/latest/content-types-builder/introduction-to-content-types-builder.md
  user-docs/latest/plugins/introduction-to-plugins.md
  user-docs/latest/users-roles-permissions/introduction-to-users-roles-permissions.md
Labels: source: user-docs, type: enhancement

#12 [WIP] Sync changes from strapi/strapi repo
  developer-docs/latest/admin-panel/customization.md
  developer-docs/latest/admin-panel/deploy.md
  developer-docs/latest/concepts/configurations.md
  developer-docs/latest/concepts/models.md
  developer-docs/latest/concepts/queries.md
  developer-docs/latest/concepts/templates.md
  developer-docs/latest/deployment/amazon-aws.md
  developer-docs/latest/deployment/heroku.md
  developer-docs/latest/deployment/render.md
  developer-docs/latest/getting-started/deployment.md
  developer-docs/latest/getting-started/installation.md
  developer-docs/latest/getting-started/introduction.md
  developer-docs/latest/getting-started/quick-start.md
  developer-docs/latest/getting-started/troubleshooting.md
  developer-docs/latest/guides/databases.md
  developer-docs/latest/guides/jwt-validation.md
  developer-docs/latest/guides/registering-a-field-in-admin.md
  developer-docs/latest/guides/scheduled-publication.md
  developer-docs/latest/guides/slug.md
  developer-docs/latest/guides/update-version.md
  developer-docs/latest/installation/render.md
  developer-docs/latest/migration-guide/README.md
  developer-docs/latest/migration-guide/migration-guide-3.2.5-to-3.3.0.md
  developer-docs/latest/plugin-development/frontend-development.md
  developer-docs/latest/plugins/upload.md
  developer-docs/latest/plugins/users-permissions.md
Labels: source: developer-docs

#18 Cleaning up doc errors on tabs and some basic cleanup
  developer-docs/latest/concepts/configurations.md
  developer-docs/latest/concepts/models.md
  developer-docs/latest/concepts/webhooks.md
  developer-docs/latest/content-api/api-endpoints.md
  developer-docs/latest/content-api/parameters.md
  developer-docs/latest/deployment/heroku.md
  developer-docs/latest/getting-started/contributing.md
  developer-docs/latest/guides/databases.md
  developer-docs/latest/guides/slug.md
  developer-docs/latest/migration-guide/README.md
Labels: source: developer-docs, type: enhancement

#5 Update contrib guide
  CONTRIBUTING.md
  contrib-docs/.gitkeep
Labels: source: repo, type: enhancement

#17 Fix Heroku deployment guide for DB SSL and server.js
  developer-docs/latest/deployment/heroku.md
Labels: source: developer-docs, type: enhancement

#25 udpated typo
  user-docs/latest/content-manager/writing-content.md
Labels: source: user-docs

#41 Change validateEntity to validateEntityCreation
  developer-docs/latest/concepts/services.md
Labels: source: developer-docs, type: bug
