Repository strapi/documentation, pull requests merged in 2021-06, with the labels that each got.

#303 removed a second of
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
Labels: source: developer-docs, type: typo

#293 Fix a wrong word
  docs/developer-docs/latest/guides/registering-a-field-in-admin.md
Labels: source: developer-docs, type: typo

#294 Users & Permissions plugin documentation
  docs/.vuepress/config.js
  docs/user-docs/latest/assets/plugins/icon_up-plugin.png
  docs/user-docs/latest/assets/settings/up_email-templates.png
  docs/user-docs/latest/assets/settings/up_providers.png
  docs/user-docs/latest/assets/settings/up_settings.png
  docs/user-docs/latest/assets/users-permissions/end-user_content-manager.png
  docs/user-docs/latest/assets/users-permissions/end-user_roles-config.png
  docs/user-docs/latest/assets/users-permissions/end-user_roles.png
  docs/user-docs/latest/plugins/strapi-plugins.md
  docs/user-docs/latest/settings/configuring-users-permissions-plugin-settings.md
  docs/user-docs/latest/users-roles-permissions/configuring-end-users-roles.md
  docs/user-docs/latest/users-roles-permissions/managing-end-users.md
Labels: source: user-docs

#313 Adding a lightbulb to the tip
  docs/user-docs/latest/content-types-builder/introduction-to-content-types-builder.md
Labels: source: user-docs

#310 fix: remove strange character in code blocks
  docs/developer-docs/latest/development/plugins/users-permissions.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
Labels: source: developer-docs, status: pending reproduction

#271 Updated unit-testing.md
  docs/developer-docs/latest/guides/unit-testing.md
Labels: source: developer-docs, type: enhancement

#311 Add warning about MongoDB - Strapi v4
  docs/developer-docs/latest/setup-deployment-guides/configurations/databases/mongodb.md
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
  docs/developer-docs/latest/setup-deployment-guides/installation/docker.md
Labels: source: developer-docs, type: internal

#328 Fix issue templates
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/DOC_REQUEST.yml
Labels: source: repo

#332 Update amazon-aws.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
Labels: source: developer-docs, type: typo

#299 M1 update
  docs/developer-docs/latest/setup-deployment-guides/configurations/databases/mongodb.md
Labels: source: developer-docs, type: enhancement

#302 Digital Ocean Spaces
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
Labels: source: developer-docs

#312 [JWT configuration] add minutes and years in JWT expiry configuration
  docs/developer-docs/latest/development/plugins/users-permissions.md
Labels: source: developer-docs, type: enhancement

#300 Typo in groupBy query.
  docs/developer-docs/latest/development/backend-customization.md
Labels: source: developer-docs, type: typo

#333 Update svelte.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/svelte.md
Labels: source: developer-docs, status: waiting-for-CLA, type: typo

#326 Installation Guides Rewrite
  docs/developer-docs/latest/getting-started/introduction.md
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
  docs/developer-docs/latest/setup-deployment-guides/installation.md
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
  docs/developer-docs/latest/setup-deployment-guides/installation/digitalocean-customization.md
  docs/developer-docs/latest/setup-deployment-guides/installation/digitalocean-one-click.md
  docs/developer-docs/latest/setup-deployment-guides/installation/docker.md
  docs/developer-docs/latest/setup-deployment-guides/installation/platformsh.md
  docs/developer-docs/latest/setup-deployment-guides/installation/render.md
Labels: source: developer-docs, type: internal

#336 Tweak CSS for custom tip in DigitalOcean 1-click
  docs/developer-docs/latest/setup-deployment-guides/installation/digitalocean-one-click.md
Labels: source: developer-docs, type: enhancement, type: internal

#338 Patch for broken links after new QSG & install. guides
  docs/developer-docs/latest/developer-resources/content-api/integrations/dart.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/flutter.md
  docs/developer-docs/latest/development/local-plugins-customization.md
  docs/developer-docs/latest/getting-started/quick-start.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/databases/mongodb.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/render.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
  docs/developer-docs/latest/setup-deployment-guides/installation/templates.md
Labels: source: developer-docs, type: internal
