Repository strapi/documentation, pull requests merged in 2021-11, with the labels that each got.

#463 [v4] Dev docs: cron jobs
  docs/.vuepress/config.js
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/cronjobs.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/server.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: medium

#472 Fix REST API filters name + definition
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest-api.md
Labels: source: developer-docs, type: updated content, type: typo, type: internal, target:v4

#470 [v3] CLI Node version reference
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
Labels: source: developer-docs, target:v3

#467 [v4] Dev docs: CLI updates
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/development/backend-customization/models.md
  docs/developer-docs/latest/development/plugins-development.md
  docs/developer-docs/latest/plugins/graphql.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: medium

#453 [v4] Dev docs updates to services
  docs/developer-docs/latest/development/backend-customization/services.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: medium

#457 [v4] Dev docs: Add API token documentation
  docs/developer-docs/latest/guides/api-token.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/environment.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/server.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: medium

#474 [v4] Dev docs: Update command name for template generation
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/setup-deployment-guides/installation/templates.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: small

#450 [v4] Dev docs updates to routes
  docs/.vuepress/config.js
  docs/developer-docs/latest/development/backend-customization/routes.md
  docs/developer-docs/latest/development/backend-customization/routing.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: medium

#462 [v4] Dev docs: Add destroy() + update functions
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: small

#461 [v4] Dev docs: Move admin configuration out of server configuration
  docs/.vuepress/config.js
  docs/developer-docs/latest/development/admin-customization.md
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/sso.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/admin-panel.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/server.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
Labels: source: developer-docs, type: updated content, type: internal, type: new content, target:v4, size: medium

#445 [v4] Dev docs - Entity Service API
  docs/.vuepress/config.js
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service-api.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/components-dynamic-zones.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/crud.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/filter.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/order-pagination.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/populate.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/query-engine-api.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: large

#477 [v4] Dev docs: Update after policies & routes docs after policies refactoring
  docs/developer-docs/latest/development/backend-customization/policies.md
  docs/developer-docs/latest/development/backend-customization/routes.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: small

#460 [v4] Dev docs: Add error handling
  docs/.vuepress/config.js
  docs/developer-docs/latest/developer-resources/database-apis-reference/graphql-api.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest-api.md
  docs/developer-docs/latest/developer-resources/error-handling.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: medium

#459 [v4] Dev docs: Add more GraphQL customizations: auth, policies, middlewares
  docs/developer-docs/latest/plugins/graphql.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: medium

#452 [v4] Dev docs updates to controllers
  docs/developer-docs/latest/development/backend-customization/controllers.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: medium

#455 [v4] Dev docs updates to middlewares
  docs/.vuepress/config.js
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
  docs/developer-docs/latest/development/backend-customization/middlewares.md
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/middlewares.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: medium

#464 [v4] User Guide: API token documentation
  docs/user-docs/latest/settings/managing-global-settings.md
  docs/user-docs/latest/users-roles-permissions/configuring-administrator-roles.md
Labels: source: user-docs, type: internal, type: new content, target:v4

#478 [v4] next-3 release
  docs/.vuepress/config.js
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/components-dynamic-zones.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/crud.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/filter.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/order-pagination.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/graphql-api.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/query-engine/filtering.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest-api.md
  docs/developer-docs/latest/developer-resources/error-handling.md
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
  docs/developer-docs/latest/development/admin-customization.md
  docs/developer-docs/latest/development/backend-customization.md
  docs/developer-docs/latest/development/backend-customization/controllers.md
  docs/developer-docs/latest/development/backend-customization/middlewares.md
  docs/developer-docs/latest/development/backend-customization/models.md
  docs/developer-docs/latest/development/backend-customization/policies.md
  docs/developer-docs/latest/development/backend-customization/routes.md
  docs/developer-docs/latest/development/backend-customization/routing.md
  docs/developer-docs/latest/development/backend-customization/services.md
  docs/developer-docs/latest/development/plugins-development.md
  docs/developer-docs/latest/guides/api-token.md
  docs/developer-docs/latest/guides/client.md
  docs/developer-docs/latest/guides/custom-data-response.md
  docs/developer-docs/latest/guides/draft.md
  docs/developer-docs/latest/guides/error-catching.md
  docs/developer-docs/latest/guides/external-data.md
  docs/developer-docs/latest/guides/is-owner.md
  docs/developer-docs/latest/guides/scheduled-publication.md
  docs/developer-docs/latest/guides/send-email.md
  docs/developer-docs/latest/guides/unit-testing.md
  docs/developer-docs/latest/plugins/graphql.md
  docs/developer-docs/latest/plugins/i18n.md
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/cronjobs.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/environment.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/middlewares.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/sso.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/admin-panel.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/server.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
  docs/developer-docs/latest/setup-deployment-guides/installation/templates.md
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-beta.15-to-beta.16.md
  docs/user-docs/latest/settings/managing-global-settings.md
  docs/user-docs/latest/users-roles-permissions/configuring-administrator-roles.md
Labels: source: developer-docs, source: user-docs, type: updated content, type: internal, type: new content, target:v4, size: large

#479 Update spelling: Content-Types Builder → Content-Type Builder
  docs/.vuepress/config.js
  docs/developer-docs/latest/concepts/draft-and-publish.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest-api.md
  docs/developer-docs/latest/development/backend-customization/models.md
  docs/developer-docs/latest/getting-started/quick-start.md
  docs/developer-docs/latest/guides/auth-request.md
  docs/developer-docs/latest/guides/scheduled-publication.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
  docs/developer-docs/latest/setup-deployment-guides/installation/render.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-alpha.12.3-to-alpha.12.4.md
  docs/user-docs/latest/content-manager/introduction-to-content-manager.md
  docs/user-docs/latest/content-manager/managing-relational-fields.md
  docs/user-docs/latest/content-manager/saving-and-publishing-content.md
  docs/user-docs/latest/content-manager/writing-content.md
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
  docs/user-docs/latest/content-types-builder/creating-new-content-type.md
  docs/user-docs/latest/content-types-builder/introduction-to-content-types-builder.md
  docs/user-docs/latest/content-types-builder/managing-content-types.md
  docs/user-docs/latest/getting-started/introduction.md
  docs/user-docs/latest/plugins/introduction-to-plugins.md
  docs/user-docs/latest/plugins/strapi-plugins.md
  docs/user-docs/latest/users-roles-permissions/configuring-administrator-roles.md
Labels: source: developer-docs, source: user-docs, type: updated content, type: internal, target:v4, size: medium

#480 Add GraphQL defaultLimit/maxLimit docs in config/plugins.js
  docs/developer-docs/latest/developer-resources/database-apis-reference/graphql-api.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/plugins.md
Labels: source: developer-docs, type: updated content, type: internal, type: new content, target:v4, size: small

#481 [v4] Clean up todos & question comments
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/graphql-api.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/query-engine/populating.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest-api.md
  docs/developer-docs/latest/developer-resources/error-handling.md
  docs/developer-docs/latest/developer-resources/plugin-api-reference/admin-panel.md
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
  docs/developer-docs/latest/development/admin-customization.md
  docs/developer-docs/latest/development/backend-customization.md
  docs/developer-docs/latest/development/backend-customization/controllers.md
  docs/developer-docs/latest/development/backend-customization/middlewares.md
  docs/developer-docs/latest/development/backend-customization/models.md
  docs/developer-docs/latest/development/backend-customization/policies.md
  docs/developer-docs/latest/development/backend-customization/services.md
  docs/developer-docs/latest/development/plugins-extension.md
  docs/developer-docs/latest/plugins/graphql.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/api.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/admin-panel.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
Labels: source: developer-docs, type: internal, target:v4, size: medium, type: chore

#475 [v4] Refactor Proxy documentation
  docs/developer-docs/latest/setup-deployment-guides/deployment/optional-software/caddy-proxy.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/optional-software/haproxy-proxy.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/optional-software/nginx-proxy.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/optional-software/snippets/admin-redirect.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/optional-software/snippets/strapi-server.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
Labels: source: developer-docs, type: updated content, target:v4, size: large

#492 Add Strapi handbook links
  CONTRIBUTING.md
Labels: source: repo, type: internal, size: small

#487 Update 'Database Access' location
  docs/developer-docs/latest/setup-deployment-guides/configurations/databases/mongodb.md
Labels: source: developer-docs, type: updated content, target:v3, flag: next-deployment, size: small

#484 Update amazon-aws.md - Click on the orange `Launch Instance` button
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
Labels: source: developer-docs, type: updated content, target:v3, flag: next-deployment, size: small

#495 Remove global Strapi API reference
  docs/.vuepress/config.js
  docs/developer-docs/latest/developer-resources/global-strapi/api-reference.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4

#497 [v4] Fix SSO paths
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/sso.md
Labels: type: updated content, type: internal, target:v4, size: small

#496 [v4] Snippet for community contributions for integration guides
  docs/developer-docs/latest/developer-resources/content-api/integrations/11ty.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/angular.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/dart.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/flutter.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/gatsby.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/go.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/graphql.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/gridsome.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/jekyll.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/laravel.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/next-js.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/nuxt-js.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/php.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/python.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/react.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/ruby.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/sapper.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/svelte.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/vue-js.md
  docs/developer-docs/latest/developer-resources/content-api/snippets/integration-guide-not-updated.md
Labels: source: developer-docs, type: internal, target:v4, size: medium

#483 [v4] Various Misc fixes to documentation
  docs/developer-docs/latest/getting-started/introduction.md
  docs/developer-docs/latest/getting-started/quick-start.md
  docs/developer-docs/latest/getting-started/troubleshooting.md
  docs/developer-docs/latest/guides/registering-a-field-in-admin.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/databases/sqlite.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/api.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
  docs/developer-docs/latest/setup-deployment-guides/installation/digitalocean-customization.md
  docs/developer-docs/latest/setup-deployment-guides/installation/digitalocean-one-click.md
  docs/developer-docs/latest/setup-deployment-guides/installation/templates.md
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/update-version.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4

#468 [v4] Fix all DB examples
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
Labels: source: developer-docs, type: internal, target:v4, size: small

#509 [v4] Switch to normal logo instead of beta
  docs/.vuepress/config.js
Labels: source: repo, target:v4, type: chore

#515 Fix external DS theme link
  docs/developer-docs/latest/development/admin-customization.md
Labels: source: developer-docs, type: updated content, target:v4, size: small

#519 [v4] Update Algolia docsearch configuration
  .algolia/docsearch.config.json
Labels: flag: don't merge, source: repo, target:v4, type: chore

#522 [v3] Add link to latest docs
  docs/.vuepress/config.js
Labels: source: repo, type: internal, target:v3, size: small

#518 [v4] Add controllers:list CLI command to CLI reference
  docs/developer-docs/latest/developer-resources/cli/CLI.md
Labels: source: developer-docs, type: internal, target:v4, size: small

#523 Update algolia config
  .algolia/docsearch.config.json
Labels: source: repo, type: internal, size: small, type: chore

#517 [v4] Add missing SEO description tag on API tokens
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/api-tokens.md
Labels: source: developer-docs, type: internal, target:v4, size: small, type: chore

#524 Delete old, unused content-api.md file
  docs/developer-docs/latest/developer-resources/content-api/content-api.md
Labels: type: internal, target:v4, type: chore
