Repository strapi/documentation, pull requests merged in 2021-03, with the labels that each got.

#155 Add testAddress option to email docs | email test feature
  docs/developer-docs/latest/development/plugins/email.md
Labels: flag: merge pending release

#175 feat: add Register mutation before Login mutation
  docs/developer-docs/latest/development/plugins/graphql.md
Labels: source: developer-docs

#96 Add Qovery as a deployment option
  docs/developer-docs/latest/setup-deployment-guides/deployment.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/qovery.md
Labels: source: developer-docs, type: enhancement, type: feature release

#158 Add CustomBadge and GoldBadge custom components and use them in existing docs
  docs/.vuepress/theme/global-components/BronzeBadge.vue
  docs/.vuepress/theme/global-components/CustomBadge.vue
  docs/.vuepress/theme/global-components/GoldBadge.vue
  docs/.vuepress/theme/global-components/SilverBadge.vue
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
  docs/user-docs/latest/getting-started/introduction.md
  docs/user-docs/latest/settings/managing-global-settings.md
Labels: source: repo, type: enhancement

#163 Add Dart and Flutter pages
  docs/.vuepress/theme/global-components/IntegrationLinks.vue
  docs/developer-docs/latest/developer-resources/content-api/integrations/dart.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/flutter.md
Labels: source: developer-docs

#194 Update link to Permission Providers in Strapi admin panel
  docs/developer-docs/latest/development/plugins/users-permissions.md
Labels: source: developer-docs

#177 Fixed example that crashed when following it
  docs/developer-docs/latest/development/backend-customization.md
Labels: source: developer-docs

#178 Added Go way of consuming API
  docs/.vuepress/theme/global-components/IntegrationLinks.vue
  docs/developer-docs/latest/developer-resources/content-api/integrations/go.md
Labels: source: developer-docs

#202 Fix for Node.js build failing because of an outdated Yarn lockfile
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
Labels: source: developer-docs

#190 Update setup order in contributing guide
  CONTRIBUTING.md
Labels: source: repo

#200 Update quick-start.md
  docs/developer-docs/latest/getting-started/quick-start.md
Labels: source: developer-docs

#201 PHP Way of Consuming API
  docs/.vuepress/theme/global-components/IntegrationLinks.vue
  docs/developer-docs/latest/developer-resources/content-api/integrations/php.md
Labels: source: developer-docs

#187 Add RBAC (custom conditions) to Developer docs
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
Labels: source: developer-docs

#118 Add RBAC in User Guide
  docs/.vuepress/config.js
  docs/user-docs/latest/assets/users-permissions/administrator_custom-conditions.png
  docs/user-docs/latest/assets/users-permissions/administrator_edit-info.png
  docs/user-docs/latest/assets/users-permissions/administrator_list-view.png
  docs/user-docs/latest/assets/users-permissions/administrator_roles-edition.png
  docs/user-docs/latest/assets/users-permissions/administrator_roles.png
  docs/user-docs/latest/assets/users-permissions/icon_arrowdown.png
  docs/user-docs/latest/assets/users-permissions/icon_delete.png
  docs/user-docs/latest/assets/users-permissions/icon_delete2.png
  docs/user-docs/latest/assets/users-permissions/icon_duplicate.png
  docs/user-docs/latest/assets/users-permissions/icon_edit.png
  docs/user-docs/latest/getting-started/introduction.md
  docs/user-docs/latest/users-roles-permissions/configuring-administrator-roles.md
  docs/user-docs/latest/users-roles-permissions/introduction-to-users-roles-permissions.md
  docs/user-docs/latest/users-roles-permissions/managing-administrators.md
Labels: source: user-docs

#212 Add `create strapi-starter` to CLI install guide
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
Labels: source: developer-docs, type: feature release

#203 Fix isAuthenticated -> is-authenticated
  docs/developer-docs/latest/development/backend-customization.md
Labels: source: developer-docs

#185 Update Atlas connection instructions to target 3.6
  docs/developer-docs/latest/setup-deployment-guides/configurations/databases/mongodb.md
Labels: source: developer-docs
