Repository strapi/documentation, pull requests merged in 2021-05, with the labels that each got.

#257 Revert warning message for DO App Platform
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
Labels: source: developer-docs, type: enhancement

#277 corrected a typo in the backend customization docs
  docs/developer-docs/latest/development/backend-customization.md
Labels: source: developer-docs, type: typo

#263 Renamed variable HEROKU_URL to MY_HEROKU_URL
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
Labels: source: developer-docs

#268 chore: improve language in send-email.md
  docs/developer-docs/latest/guides/send-email.md
Labels: source: developer-docs

#258 Update scheduled-publication.md
  docs/developer-docs/latest/guides/scheduled-publication.md
Labels: source: developer-docs, type: enhancement

#276 Update backend-customization.md
  docs/developer-docs/latest/development/backend-customization.md
Labels: source: developer-docs

#262 RBAC documentation update
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
Labels: source: developer-docs, type: enhancement

#269 Disable a graphql type attribute
  docs/developer-docs/latest/development/plugins/graphql.md
Labels: source: developer-docs

#292 fix: can't find property name with dot notation
  docs/developer-docs/latest/developer-resources/content-api/integrations/angular.md
Labels: source: developer-docs, type: enhancement

#285 Typo heroku.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
Labels: source: developer-docs, type: typo

#286 More appropriate async-await example
  docs/developer-docs/latest/guides/scheduled-publication.md
Labels: source: developer-docs, type: enhancement

#261 Fixed method signature for resolver
  docs/developer-docs/latest/development/plugins/graphql.md
Labels: source: developer-docs, type: enhancement
