Repository strapi/documentation, pull requests merged in 2021-10, with the labels that each got.

#431 [dev/latest-guides-auth-request] Fixed grammatical error
  docs/developer-docs/latest/guides/auth-request.md
Labels: source: developer-docs, type: typo, target:v3

#424 [v4] Dev Docs - Dropping MongoDB
  README.md
  docs/.vuepress/theme/global-components/DatabasesLinks.vue
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/developer-resources/global-strapi/api-reference.md
  docs/developer-docs/latest/getting-started/troubleshooting.md
  docs/developer-docs/latest/guides/slug.md
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/databases/mongodb.md
  docs/developer-docs/latest/setup-deployment-guides/deployment.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
  docs/developer-docs/latest/setup-deployment-guides/installation/docker.md
  docs/developer-docs/latest/snippets/mongodb-warning.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, type: removed content

#430 [v4] Dev Docs - "Lighter" updates
  docs/developer-docs/latest/getting-started/troubleshooting.md
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4
