Repository strapi/documentation, pull requests merged in 2021-04, with the labels that each got.

#217 Update docker.md
  docs/developer-docs/latest/setup-deployment-guides/installation/docker.md
Labels: source: developer-docs

#215 Fix note for collectionName fields on many-to-many relations
  docs/developer-docs/latest/development/backend-customization.md
Labels: source: developer-docs

#210 "Style" section: fix path, conciser, exact example
  docs/developer-docs/latest/development/admin-customization.md
Labels: source: developer-docs

#228 Updating pricing links and EE Support
  docs/developer-docs/latest/getting-started/introduction.md
  docs/developer-docs/latest/getting-started/troubleshooting.md
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
  docs/user-docs/latest/getting-started/introduction.md
  docs/user-docs/latest/settings/managing-global-settings.md
  docs/user-docs/latest/users-roles-permissions/configuring-administrator-roles.md
Labels: source: developer-docs, type: bug, type: enhancement

#221 Modified db (undefined) -> strapi
  docs/developer-docs/latest/development/backend-customization.md
Labels: source: developer-docs

#238 Adding deployment to DigitalOcean App Platform
  docs/developer-docs/latest/setup-deployment-guides/deployment.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean.md
Labels: priority: medium, source: developer-docs, type: enhancement

#235 Add collapsable sub-menus to dev docs
  docs/.vuepress/config.js
  docs/developer-docs/latest/developer-resources/content-api/integrations/11ty.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/angular.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/dart.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/flutter.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/gatsby.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/go.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/graphql.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/gridsome.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/jekyll.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/next-js.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/nuxt-js.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/php.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/python.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/react.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/ruby.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/sapper.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/svelte.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/vue-js.md
  docs/developer-docs/latest/setup-deployment-guides/deployment.md
Labels: source: developer-docs, type: enhancement

#214 Update php.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/php.md
Labels: source: developer-docs

#223 User Guide updates: Internationalization plugin
  docs/.vuepress/config.js
  docs/user-docs/latest/assets/content-manager/content-manager_list-view.png
  docs/user-docs/latest/assets/content-manager/content-manager_single-type.png
  docs/user-docs/latest/assets/content-manager/content-manager_translate.png
  docs/user-docs/latest/assets/content-manager/icon_localizable.png
  docs/user-docs/latest/assets/content-manager/icon_non-localizable.png
  docs/user-docs/latest/assets/plugins/icon_i18n-plugin.png
  docs/user-docs/latest/assets/plugins/marketplace.png
  docs/user-docs/latest/assets/settings/settings-i18n.png
  docs/user-docs/latest/content-manager/introduction-to-content-manager.md
  docs/user-docs/latest/content-manager/managing-relational-fields.md
  docs/user-docs/latest/content-manager/saving-and-publishing-content.md
  docs/user-docs/latest/content-manager/translating-content.md
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
  docs/user-docs/latest/content-types-builder/creating-new-content-type.md
  docs/user-docs/latest/plugins/installing-plugins-via-marketplace.md
  docs/user-docs/latest/plugins/introduction-to-plugins.md
  docs/user-docs/latest/plugins/strapi-plugins.md
  docs/user-docs/latest/settings/managing-global-settings.md
  docs/user-docs/latest/users-roles-permissions/configuring-administrator-roles.md
Labels: flag: merge pending release, source: user-docs

#224 Dev docs updates: Internationalization plugin
  docs/.vuepress/config.js
  docs/.vuepress/theme/global-components/PluginsLinks.vue
  docs/developer-docs/latest/developer-resources/content-api/content-api.md
  docs/developer-docs/latest/development/plugins/documentation.md
  docs/developer-docs/latest/development/plugins/graphql.md
  docs/developer-docs/latest/development/plugins/i18n.md
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
Labels: flag: merge pending release, source: developer-docs

#248 Fix/i18n locales list link
  docs/developer-docs/latest/development/plugins/i18n.md
  docs/user-docs/latest/settings/managing-global-settings.md
Labels: priority: medium, source: developer-docs, source: user-docs, status: confirmed, type: bug
