Repository strapi/documentation, pull requests merged in 2021-02, with the labels that each got.

#88 Add documentation for overriding responsive image sizing
  developer-docs/latest/plugins/upload.md
Labels: flag: merge pending release, source: developer-docs

#45 Docs/graphql disable plugins
  developer-docs/latest/plugins/graphql.md
Labels: flag: merge pending release, source: developer-docs, type: feature release

#32 docs: Add 21YunBox as Hosting Provider Guides
  developer-docs/latest/deployment/21yunbox.md
  developer-docs/latest/getting-started/deployment.md
Labels: source: developer-docs, type: enhancement

#81 Add Auth0 provider
  developer-docs/latest/plugins/users-permissions.md
Labels: source: developer-docs, type: feature release

#82 Added tip about custom plugin development
  developer-docs/latest/plugin-development/quick-start.md
Labels: source: developer-docs, type: enhancement

#48 Fix/typo in queries and minor fix in lifecycle hooks
  developer-docs/latest/concepts/models.md
  developer-docs/latest/concepts/queries.md
Labels: source: developer-docs, type: bug

#97 Update cli.md
  developer-docs/latest/installation/cli.md
Labels: source: developer-docs, type: enhancement

#79 Fix typo on docs page 'Configuring the view of a content type'
  user-docs/latest/content-manager/configuring-view-of-content-type.md
Labels: source: user-docs, type: bug

#99 Update examples in service concept
  developer-docs/latest/concepts/services.md
Labels: flag: don't merge, source: developer-docs, type: enhancement

#102 Adding a warning about Webhooks not working for the User content type
  developer-docs/latest/concepts/webhooks.md
Labels: source: developer-docs, type: enhancement

#78 strapi-plugin-upload localServer configuration
  developer-docs/latest/plugins/upload.md
Labels: flag: merge pending release, source: developer-docs

#103 add pluginsOptions
  developer-docs/latest/concepts/models.md
Labels: flag: merge pending release, source: developer-docs, type: feature release

#110 Docs/contributing workflow
  CONTRIBUTING.md
Labels: flag: don't merge, flag: merge pending release

#130 Fix branch note in contrib guide
  CONTRIBUTING.md
Labels: source: repo

#112 Changes phrasing in getting started
  developer-docs/latest/getting-started/quick-start.md
Labels: source: developer-docs, type: enhancement

#113 Improve path to users persmission
  developer-docs/latest/getting-started/quick-start.md
Labels: source: developer-docs, type: enhancement

#141 Update draft.md
  developer-docs/latest/guides/draft.md
Labels: source: developer-docs

#137 Update GitHub Issue Form template
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/DOC_REQUEST.yml
Labels: source: repo, type: enhancement

#146 SSO documentation update
  developer-docs/latest/concepts/sso.md
Labels: source: developer-docs, type: enhancement

#128 Change branch recommandation for PR
  .github/PULL_REQUEST_TEMPLATE.md
Labels: source: repo, type: bug

#114 Correct intendation
  developer-docs/latest/getting-started/vue-js.md
Labels: source: developer-docs, type: enhancement

#127 Typo in queries.md lodash/loadsh
  developer-docs/latest/concepts/queries.md
Labels: source: developer-docs, type: enhancement

#129 Update migration-guide-3.2.5-to-3.3.0.md
  developer-docs/latest/migration-guide/migration-guide-3.2.5-to-3.3.0.md
Labels: source: developer-docs, type: enhancement

#132 add Microsoft SSO documentation
  developer-docs/latest/concepts/sso.md
Labels: source: developer-docs, type: enhancement

#145 Remove reference to plugin route prefix disable boolean
  developer-docs/latest/plugin-development/backend-development.md
Labels: source: developer-docs
