Repository strapi/documentation, pull requests merged in 2021-12, with the labels that each got.

#542 Fix event.model type in models life cycle hooks
  docs/developer-docs/latest/development/backend-customization/models.md
Labels: source: developer-docs, type: updated content, target:v4, size: small

#544 Improve visibility over v4 vs. v3 docs
  docs/.vuepress/config.js
Labels: source: repo, target:v4, size: small, type: chore

#538 Adds strapi parameter to controller
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
Labels: source: developer-docs, type: updated content, target:v4, size: small

#549 docs: update the Heroku Deployment Guide for v4
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
Labels: source: developer-docs, type: updated content, target:v4, size: medium

#536 Update Email and Upload provider docs / copy readmes from monorepo
  docs/developer-docs/latest/plugins/email.md
  docs/developer-docs/latest/plugins/upload.md
Labels: source: developer-docs, type: bug, target:v4, size: medium

#553 auth route v4
  docs/developer-docs/latest/guides/auth-request.md
Labels: source: developer-docs, type: updated content, target:v4, size: small

#564 Fix typo in i18n.md docs
  docs/developer-docs/latest/plugins/i18n.md
Labels: source: developer-docs, type: updated content, target:v4

#556 Added API suffix
  docs/developer-docs/latest/developer-resources/content-api/integrations/11ty.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/angular.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/go.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/next-js.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/nuxt-js.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/php.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/python.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/react.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/ruby.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/sapper.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/svelte.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/vue-js.md
Labels: source: developer-docs, type: updated content, target:v4, size: medium

#568 Fix remaining localhost links
  docs/developer-docs/latest/guides/unit-testing.md
  docs/developer-docs/latest/plugins/i18n.md
Labels: source: developer-docs, type: typo, target:v4, size: small

#537 Fix wrong syntax in GraphQL plugin docs
  docs/developer-docs/latest/plugins/graphql.md
Labels: source: developer-docs, type: bug, target:v4, size: medium

#559 Fix wrong parameter name in connection.connection documentation
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
Labels: source: developer-docs, type: updated content, target:v4, size: small

#583 Patch some broken links in GraphQL & i18n
  docs/developer-docs/latest/development/plugins/graphql.md
  docs/developer-docs/latest/plugins/i18n.md
Labels: source: developer-docs, type: bug, type: internal, target:v4

#575 Update default MySQL Port
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
Labels: source: developer-docs, type: updated content, target:v4, size: small

#589 Add closing parenthesis to predefined hook code example
  docs/developer-docs/latest/developer-resources/plugin-api-reference/admin-panel.md
Labels: source: developer-docs, type: internal, target:v4, size: small, type: code fix

#593 :book: :arrow_up: bump Mysql/MariaDB minimum verison
  docs/developer-docs/latest/setup-deployment-guides/deployment.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
Labels: source: developer-docs, type: updated content, target:v4, size: small

#566 lifecycles.js file is not generated automatically
  docs/developer-docs/latest/development/backend-customization/models.md
Labels: type: updated content, target:v4, size: small

#541 Rewrite REST examples to use QS + Misc fixes
  docs/.vuepress/config.js
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service-api.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/components-dynamic-zones.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest-api.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/filtering-locale-publication.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/sort-pagination.md
  docs/developer-docs/latest/developer-resources/plugin-api-reference/admin-panel.md
  docs/developer-docs/latest/plugins/i18n.md
  docs/developer-docs/latest/plugins/upload.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/api.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-3.2.3-to-3.2.4.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-alpha.26-to-beta.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-beta.15-to-beta.16.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-beta.16-to-beta.17.4.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-beta.17-to-beta.18.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-beta.18-to-beta.19.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-beta.19-to-beta.19.4.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-beta.20-to-3.0.0.md
  docs/developer-docs/latest/update-migration-guides/update-version.md
  docs/package.json
Labels: source: developer-docs, target:v4, size: medium

#539 Change strapi.api example from function to array
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
Labels: source: developer-docs, status: on-hold, target:v4, size: small, type: code fix

#598 Update server.md
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
Labels: source: developer-docs, type: typo

#609 Update i18n docs, fix locale filter typo + autoformat
  docs/developer-docs/latest/plugins/i18n.md
Labels: source: developer-docs, type: typo

#611 Update email.md
  docs/developer-docs/latest/plugins/email.md
Labels: source: developer-docs

#619 Fix typo in dev configuration options
  docs/developer-docs/latest/development/admin-customization.md
Labels: source: developer-docs, type: typo

#616 Update upload.md - typo "middleware"
  docs/developer-docs/latest/plugins/upload.md
Labels: source: developer-docs, type: typo
