Repository strapi/documentation, pull requests merged in 2021-01, with the labels that each got.

#50 - Updated config:dump to include new --pretty parameter
  developer-docs/latest/cli/CLI.md
Labels: source: developer-docs, type: enhancement

#55 Add docs for configurable limit
  .gitignore
  developer-docs/latest/concepts/configurations.md
Labels: source: developer-docs, type: feature release

#53 Remove references to documentation branch
  CONTRIBUTING.md
Labels: source: repo

#70 Fix typo in deployment/heroku.md
  developer-docs/latest/deployment/heroku.md
Labels: source: developer-docs, type: bug

#86 Add draftAndPublish option
  developer-docs/latest/concepts/models.md
Labels: source: developer-docs, type: enhancement
