Repository strapi/documentation, pull requests merged in 2021-07, with the labels that each got.

#331 Add warning about DigitalOcean MDB + App Platform
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
Labels: priority: high, type: internal, type: security notice

#348 Grammer fix in users-permissions.md
  docs/developer-docs/latest/development/plugins/users-permissions.md
Labels: type: typo

#346 Change decrypted to decoded
  docs/developer-docs/latest/guides/api-token.md
Labels: source: developer-docs, type: enhancement

#347 Update test documentation
  docs/developer-docs/latest/guides/unit-testing.md
Labels: source: developer-docs, type: enhancement

#351 Update Documentation plugin with swagger & OpenAPI
  docs/developer-docs/latest/development/plugins/documentation.md
Labels: source: developer-docs, type: internal

#92 Documentation for CAS authentication provider
  docs/developer-docs/latest/development/plugins/users-permissions.md
Labels: source: developer-docs, type: feature release

#352 Fix tab issue with CAS provider
  docs/developer-docs/latest/development/plugins/users-permissions.md
Labels: source: developer-docs, type: internal

#275 Update migration guide instructions and example
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/update-version.md
Labels: source: developer-docs, type: enhancement

#260 Add Laravel integrations guide
  docs/developer-docs/latest/developer-resources/content-api/integrations/laravel.md
Labels: source: developer-docs, type: feature release

#353 Fix Laravel integration guide
  docs/.vuepress/config.js
  docs/.vuepress/theme/global-components/IntegrationLinks.vue
  docs/.vuepress/theme/global-components/IntegrationLinksAlt.vue
  docs/developer-docs/latest/developer-resources/content-api/integrations/laravel.md
Labels: source: developer-docs, type: enhancement, type: internal

#354 Add yarn to DO app platform
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
Labels: source: developer-docs, type: enhancement, type: internal

#363 Add warning about DO removed our Strapi one-click from their marketplace
  docs/developer-docs/latest/setup-deployment-guides/installation/digitalocean-one-click.md
Labels: priority: high, source: developer-docs, type: internal

#365 Update backend-customization.md
  docs/developer-docs/latest/development/backend-customization.md
Labels: source: developer-docs, type: updated content

#367 Patch wording for "populate" in find function (backend customization)
  docs/developer-docs/latest/development/backend-customization.md
Labels: source: developer-docs, type: internal, type: updated content

#364 fix: url on email-templates
  docs/developer-docs/latest/development/plugins/email.md
Labels: source: developer-docs, type: updated content
