Repository strapi/documentation, pull requests merged in 2021-09, with the labels that each got.

#400 Update python.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/python.md
Labels: source: developer-docs, type: bug

#402 Update laravel.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/laravel.md
Labels: source: developer-docs, type: typo, target:v3

#405 small grammar fix
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean.md
Labels: source: developer-docs, type: typo, target:v3

#406 Update is/are conjugation mistake in FAQ
  docs/developer-docs/latest/getting-started/troubleshooting.md
Labels: source: developer-docs, type: typo, target:v3, flag: next-deployment

#396 Add Okta example to SSO
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
Labels: source: developer-docs, type: new content

#414 [Bug] Subtle grammar correction in documentation
  docs/developer-docs/latest/development/backend-customization.md
Labels: source: developer-docs, type: typo, target:v3, flag: next-deployment

#411 Use a nodejs version supported by Strapi
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.md
Labels: source: developer-docs, type: updated content, target:v3, flag: next-deployment

#392 Fix socketPath usage on google app engine
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.md
Labels: source: developer-docs, type: updated content, target:v3

#410 Update laravel.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/laravel.md
Labels: source: developer-docs, type: updated content, target:v3, flag: next-deployment

#419 Fix for the Okta sample config
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
Labels: source: developer-docs, type: bug

#426 Update sentence for initializer in local plugins
  docs/developer-docs/latest/development/local-plugins-customization.md
Labels: source: developer-docs, target:v3, flag: next-deployment

#427 Update README.md
  README.md
Labels: type: updated content, source: repo
