Repository strapi/documentation, pull requests merged in 2022-02, with the labels that each got.

#700 Amend admin-customisation.md
  docs/developer-docs/latest/development/admin-customization.md
Labels: source: developer-docs, type: updated content, target:v4, size: small

#579 Add Cleavr deploy guide with v4 updates
  docs/developer-docs/latest/setup-deployment-guides/deployment.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/cleavr.md
Labels: source: developer-docs, type: new content, target:v4, size: medium

#664 update documentation: number field maximum and minimum value
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
Labels: source: user-docs, type: updated content, target:v4, size: small

#704 Create v4 release workflow
  .github/workflows/deploy-production.yml
Labels: source: repo, type: internal, size: small

#719 fix(api configuration): add missing API prefix option for rest
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/api.md
Labels: source: developer-docs, type: updated content, target:v4, size: small

#672 Added Microtica as a deployment option
  docs/.vuepress/config-backup.js
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/setup-deployment-guides/deployment.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/microtica.md
Labels: source: developer-docs, status: on-hold, type: new content, target:v4, size: large

#705 Create v3 release workflow
  .github/workflows/deploy_v3.yml
Labels: source: repo, type: internal, size: small

#737 Add another SSO prerequisites (enable in admin panel)
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/sso.md
Labels: source: user-docs, type: updated content, type: internal, target:v4, size: small

#656 [v3] Password security update
  docs/user-docs/latest/getting-started/introduction.md
Labels: source: user-docs, type: updated content, flag: merge pending release, type: internal, target:v3

#748 Fix entityService references to sort instead of orderBy
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/order-pagination.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/populate.md
Labels: type: internal, target:v4, size: medium, type: code fix

#747 Added missing curly brace
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/plugins.md
Labels: target:v4, size: small, type: code fix

#746 Remove TypeScript typings from lifecycles examples
  docs/developer-docs/latest/development/backend-customization/models.md
Labels: source: developer-docs, type: bug, target:v4, size: small

#749 Add setting to resize a fields to the CM view configuration
  docs/user-docs/latest/content-manager/configuring-view-of-content-type.md
Labels: source: user-docs, type: feature release, type: internal, target:v4, size: small

#702 Updates fetch by slug to use the filter system
  docs/developer-docs/latest/guides/slug.md
Labels: source: developer-docs, type: updated content, target:v4, size: small

#742 Add prerequisites for admin panel customization
  docs/developer-docs/latest/development/admin-customization.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: small

#743 Cron job timezone fix
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/cronjobs.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/server.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: medium

#754 Update plugin config for AWS S3 in AWS deployment guide
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
Labels: source: developer-docs, type: updated content, target:v4, size: medium

#751 Add uploadStream function
  docs/developer-docs/latest/plugins/upload.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: medium

#718 migration guide revisions
  docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-3.4.x-to-3.4.4.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.0.x-to4.0.6.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/snippets/Rebuild-and-start-snippet.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/snippets/update-dependencies-snippet.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: medium

#740 Strapi update version revisions.
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/snippets/Install-npm-yarn
  docs/developer-docs/latest/update-migration-guides/update-version.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: medium

#759 I18n: Move env section into installation steps
  docs/developer-docs/latest/plugins/i18n.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: small

#763 fix(docs): updated digitalocean app platform database to v4
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
Labels: source: developer-docs, type: updated content, target:v4, size: medium, type: code fix
