Repository strapi/documentation, pull requests merged in 2022-10, with the labels that each got.

#1185 Fix upload code example
  docs/developer-docs/latest/plugins/upload.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1187 Move search bar to the the left and fix its behavior
  .algolia/docsearch.config.json
  docs/.vuepress/public/assets/SearchIcon.png
  docs/.vuepress/styles/branding.styl
  docs/.vuepress/theme/components/AlgoliaSearchBox.vue
  docs/.vuepress/theme/components/Navbar.vue
  docs/.vuepress/theme/components/Sidebar.vue
Labels: source: repo, pr: internal, target: v4, target: next

#1189 FIX SSO TypeScript code errors
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/sso.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1180 AWS guide: add GitHub token callout
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1143 Revise contributing.md
  CONTRIBUTING.md
Labels: source: repo, pr: internal, size: medium

#1176 fix 4.4.1 version
  docs/developer-docs/latest/update-migration-guides/update-version.md
Labels: source: developer-docs, pr: updated content, status: waiting-for-CLA, target: v4, size: small

#1075 Update heroku.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1144 Docker documentation for v4
  docs/developer-docs/latest/getting-started/introduction.md
  docs/developer-docs/latest/setup-deployment-guides/installation.md
  docs/developer-docs/latest/setup-deployment-guides/installation/docker.md
  docs/developer-docs/latest/setup-deployment-guides/snippets/docker-env-table.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: large

#1194 Add min and recommended db versions
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#889 add page Database migrations
  docs/.vuepress/config-backup.js
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/developer-resources/database-migrations.md
Labels: source: developer-docs, pr: internal, pr: new content, target: v4, size: medium

#1205 Update nav-links class to prevent overlap on mobile
  docs/.vuepress/theme/components/Sidebar.vue
Labels: pr: fix

#1204 fix: 🌍 wrong locale response when creating an entry with a locale dif…
  docs/developer-docs/latest/plugins/i18n.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1208 Production hotfixes: TOC whitespace + locale
  docs/.vuepress/styles/branding.styl
  docs/developer-docs/latest/plugins/i18n.md
Labels: pr: fix, pr: internal, target: v4, size: small

#1211 Fix a typo in a tip about UID in Entity Service
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/crud.md
Labels: source: developer-docs, pr: typo, target: v4, size: small

#1207 fix security middleware table
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
Labels: source: developer-docs, pr: fix, target: v4, size: small

#1151 closing database before deletion; using plugin for role loading
  docs/developer-docs/latest/guides/unit-testing.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1218 Update Image 'content-manager-list-view.png'
  docs/user-docs/latest/assets/content-manager/content-manager_list-view.png
Labels: source: user-docs, pr: updated content, target: v4, size: small

#1220 Production hotfix for Strapi Cloud beta
  docs/developer-docs/latest/setup-deployment-guides/deployment/strapi-cloud.md
Labels: pr: internal

#1152 Changed V4 specifics
  docs/developer-docs/latest/guides/unit-testing.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium

#1221 move unit testing to dev resources
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/developer-resources/unit-testing.md
Labels: source: developer-docs, target: v4, size: small, pr: chore

#1203 Update migration-guide-4.3.6-to-4.3.7.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.3.6-to-4.3.7.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium

#1174 Dark Mode: new custom theme extension syntax
  docs/developer-docs/latest/development/admin-customization.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4

#981 updated controllers doc
  docs/developer-docs/latest/development/backend-customization/controllers.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium

#1223 4.3.6 ->4.3.8 migration update
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.3.6-to-4.3.8.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/snippets/Rebuild-and-start-snippet.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1197 Refactor error handling documentation to include @strapi/utils error methods
  docs/developer-docs/latest/developer-resources/error-handling.md
Labels: source: developer-docs, pr: updated content, target: v4, size: large

#1175 Update Algolia config
  .algolia/docsearch.config.json
Labels: source: repo, pr: internal, target: v4, size: small

#1224 🚀 Production release: Strapi docs v4.4.4
  .algolia/docsearch.config.json
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/developer-resources/error-handling.md
  docs/developer-docs/latest/developer-resources/unit-testing.md
  docs/developer-docs/latest/development/admin-customization.md
  docs/developer-docs/latest/development/backend-customization/controllers.md
  docs/developer-docs/latest/development/backend-customization/services.md
  docs/developer-docs/latest/guides/draft.md
  docs/developer-docs/latest/plugins/graphql.md
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.3.6-to-4.3.7.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.3.6-to-4.3.8.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/snippets/Rebuild-and-start-snippet.md
  docs/package.json
Labels: source: developer-docs, source: user-docs, pr: internal, target: v4, size: large

#1231 Fix v3 → v4 theming migration
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/frontend/theming.md
Labels: source: developer-docs, pr: fix, pr: updated content, pr: internal, target: v4, size: small

#1232 Production hotfixes
  docs/developer-docs/latest/development/typescript.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/frontend/theming.md
  formatting_style_guide.pdf
Labels: pr: fix, pr: internal, target: v4, size: small, alpha: custom-fields

#1230 fix: correction for app.customFields.register code example on custom …
  docs/developer-docs/latest/development/custom-fields.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1228 Remove email templates from admin customization docs
  docs/developer-docs/latest/development/admin-customization.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1233 Update patch-package mention in plugins extension
  docs/developer-docs/latest/development/plugins-extension.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small

#1235 fixed typo "middlwares" in routes.md
  docs/developer-docs/latest/development/backend-customization/routes.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1236 Remove WYSIWYG guide
  docs/.vuepress/config/sidebar-developer.js
  docs/.vuepress/redirects
  docs/developer-docs/latest/guides/registering-a-field-in-admin.md
Labels: source: developer-docs, pr: internal, target: v4, size: large

#1237 Add redirections for removed Draft and Unit Testing guides
  docs/.vuepress/redirects
Labels: source: developer-docs, pr: fix, pr: internal, target: v4, size: small

#1216 move PM2 docs to deployment
  docs/.vuepress/config/sidebar-developer.js
  docs/.vuepress/redirects
  docs/developer-docs/latest/guides/process-manager.md
  docs/developer-docs/latest/setup-deployment-guides/deployment.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/optional-software/process-manager.md
Labels: pr: updated content, target: v4, size: large

#1214 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: pr: updated content, source: repo, size: medium

#1241 Remove slug guide
  docs/.vuepress/config/sidebar-developer.js
  docs/.vuepress/redirects
  docs/developer-docs/latest/guides/slug.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small

#1240 add slug tip callout
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
Labels: source: user-docs, pr: new content, target: v4, size: small
