Repository strapi/documentation, pull requests merged in 2022-05, with the labels that each got.

#876 Update plugins-extension.md
  docs/developer-docs/latest/development/plugins-extension.md
Labels: source: developer-docs, target:v4, flag: next-deployment, size: small, type: code fix

#874 fix: use correct key parameter for azure deploy
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
Labels: source: developer-docs, type: updated content, target:v4, flag: next-deployment, size: small

#806 Upload: improve code examples
  docs/developer-docs/latest/plugins/upload.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, flag: next-deployment, size: medium

#878 Add callout for alpha/beta migration scripts
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/data-migration.md
Labels: source: developer-docs, type: updated content, type: internal, size: small, target: beta docs

#880 Update services.md
  docs/developer-docs/latest/development/backend-customization/services.md
Labels: source: developer-docs, type: discussion, target:v4, flag: next-deployment, size: small

#888 Remove useless callout in populate parameter description (REST API reference)
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.md
Labels: source: developer-docs, type: typo, target:v4, size: small

#887 Fix wording in model information
  docs/developer-docs/latest/development/backend-customization/models.md
Labels: source: developer-docs, type: typo, target:v4, size: small

#885 Add migration guide to 4.1.10
  docs/.vuepress/config/plugins.js
  docs/.vuepress/redirects
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.0.0+-to-4.0.6.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.0.6+-to-4.1.8.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.1.8+-to-4.1.10.md
  docs/package.json
  docs/yarn.lock
Labels: source: developer-docs, type: internal, type: new content, target:v4, flag: next-deployment, size: medium

#884 Fix predefined hook's name.
  docs/developer-docs/latest/developer-resources/plugin-api-reference/admin-panel.md
Labels: source: developer-docs, type: updated content, target:v4, flag: next-deployment, size: small

#881 Remove populateCreatorFields from models
  docs/developer-docs/latest/development/backend-customization/models.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, flag: next-deployment, size: small

#879 Add NodeJS link to NODE_ENV=production
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/environment.md
Labels: source: developer-docs, type: updated content, target:v4, flag: next-deployment, size: small

#877 Fix the example code for registering hooks
  docs/developer-docs/latest/developer-resources/plugin-api-reference/admin-panel.md
Labels: source: developer-docs, target:v4, flag: next-deployment, size: medium, type: code fix

#864 Typescript phase 2
  docs/developer-docs/latest/development/backend-customization/controllers.md
  docs/developer-docs/latest/development/backend-customization/middlewares.md
  docs/developer-docs/latest/development/backend-customization/models.md
  docs/developer-docs/latest/development/backend-customization/routes.md
  docs/developer-docs/latest/development/backend-customization/services.md
  docs/developer-docs/latest/development/backend-customization/webhooks.md
Labels: source: developer-docs, type: internal, target:v4, size: medium, target: beta docs

#896 Update services.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/services.md
Labels: source: developer-docs, type: typo, target:v4, flag: next-deployment, size: small

#895 Just a lil typo
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/graphql.md
Labels: source: developer-docs, type: typo, target:v4, flag: next-deployment, size: small

#893 fix typo in update-version.md
  docs/developer-docs/latest/update-migration-guides/update-version.md
Labels: source: developer-docs, type: typo, target:v4, flag: next-deployment, size: small

#873 Changed time based fields from snake case to camel case
  docs/developer-docs/latest/development/backend-customization/webhooks.md
Labels: source: developer-docs, type: internal, target:v4, flag: next-deployment, size: medium, type: code fix

#899 Removed the getPlugin part for content-manager
  docs/developer-docs/latest/developer-resources/plugin-api-reference/admin-panel.md
Labels: source: developer-docs, target:v4, size: small, type: code fix

#900 API Documentation plugin callout
  docs/developer-docs/latest/plugins/documentation.md
Labels: source: developer-docs, type: updated content, target:v4, flag: next-deployment, size: small

#901 Add caution callout above custom routes config
  docs/developer-docs/latest/development/backend-customization/routes.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, flag: next-deployment, size: medium

#871 docs routes typo
  docs/developer-docs/latest/development/backend-customization/routes.md
Labels: source: developer-docs, target:v4, size: small, type: code fix

#902 Add a tip to content type schema migration page and link to Codemods
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/content-type-schema.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small
