Repository strapi/documentation, pull requests merged in 2022-12, with the labels that each got.

#1308 Docusaurus: Improve nested tabs look & feel
  docusaurus/src/css/custom.css
  docusaurus/src/css/tabs.css
Labels: pr: internal, size: small, docusaurus

#1310 Docusaurus backend custom remaining
  docusaurus/docs/dev-docs/admin-panel-customization.md
  docusaurus/docs/dev-docs/api/entity-service.md
  docusaurus/docs/dev-docs/backend-customization/controllers.md
  docusaurus/docs/dev-docs/backend-customization/models.md
  docusaurus/docs/dev-docs/backend-customization/policies.md
  docusaurus/docs/dev-docs/backend-customization/requests-responses.md
  docusaurus/docs/dev-docs/backend-customization/routes.md
  docusaurus/docs/dev-docs/backend-customization/services.md
  docusaurus/docs/dev-docs/backend-customization/webhooks.md
  docusaurus/docs/status.md
  docusaurus/docs/user-docs/users-roles-permissions/introduction-to-users-roles-permissions.md
  docusaurus/sidebars.js
Labels: pr: internal, size: large, docusaurus

#1314 🚀 Production hotfix: Upload providers links → Marketplace
  docs/developer-docs/latest/plugins/upload.md
Labels: source: developer-docs, pr: updated content, pr: internal, size: small

#1319 Update the Node.js version to 14.x
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1318 Update docker.md
  docs/developer-docs/latest/setup-deployment-guides/installation/docker.md
Labels: source: developer-docs, pr: internal, target: v4, size: small, pr: code fix

#1320 🚀 Production hot fixes: Azure & Docker
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
  docs/developer-docs/latest/setup-deployment-guides/installation/docker.md
Labels: source: developer-docs, pr: fix, pr: internal, target: v4, size: small

#1316 Docusaurus: environment configuration
  docusaurus/docs/dev-docs/configurations/environment.md
  docusaurus/docs/status.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1322 Relations reordering: User Guide updates
  docs/user-docs/latest/assets/content-manager/RF_multiple-choices2.png
  docs/user-docs/latest/assets/content-manager/edit-view_dynamic-zone1.png
  docs/user-docs/latest/assets/content-manager/edit-view_dynamic-zone3.png
  docs/user-docs/latest/content-manager/managing-relational-fields.md
  docs/user-docs/latest/content-manager/writing-content.md
Labels: source: user-docs, pr: internal, pr: new content, target: v4

#1333 Update digitalocean.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1336 Relations reordering beta
  docs/user-docs/latest/assets/content-manager/RF_multiple-choices2.png
  docs/user-docs/latest/assets/content-manager/edit-view_dynamic-zone1.png
  docs/user-docs/latest/assets/content-manager/edit-view_dynamic-zone3.png
  docs/user-docs/latest/content-manager/managing-relational-fields.md
  docs/user-docs/latest/content-manager/writing-content.md
Labels: source: developer-docs, source: user-docs, pr: internal, target: v4, size: medium

#1323 Update tip for repeatable components index in Upload documentation
  docs/developer-docs/latest/plugins/upload.md
Labels: pr: internal

#1327 Add note about additional connection parameters
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4

#1344 🚀 Production release: Strapi docs v4.5.4
  docs/developer-docs/latest/plugins/upload.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean.md
  docs/developer-docs/latest/update-migration-guides/update-version.md
  docs/package.json
  docs/user-docs/latest/assets/content-manager/RF_multiple-choices2.png
  docs/user-docs/latest/assets/content-manager/edit-view_dynamic-zone1.png
  docs/user-docs/latest/assets/content-manager/edit-view_dynamic-zone3.png
  docs/user-docs/latest/content-manager/managing-relational-fields.md
  docs/user-docs/latest/content-manager/writing-content.md
Labels: source: developer-docs, source: user-docs, pr: updated content, pr: internal, pr: new content, target: v4, size: medium

#1342 Docusaurus: Add email plugin
  docusaurus/docs/dev-docs/plugins/email.md
  docusaurus/docs/dev-docs/providers.md
  docusaurus/sidebars.js
Labels: docusaurus

#1345 Add 4.5.1 migration preparation step
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.4.5-to-4.5.1.md
Labels: source: developer-docs, pr: updated content, size: small

#1334 Docusaurus: add required configs
  docusaurus/docs/dev-docs/configurations/admin-panel.md
  docusaurus/docs/dev-docs/configurations/database.md
  docusaurus/docs/dev-docs/configurations/middlewares.md
  docusaurus/docs/dev-docs/configurations/server.md
  docusaurus/docs/dev-docs/configurations/sqlite.md
  docusaurus/docs/dev-docs/plugins/email.md
  docusaurus/docs/dev-docs/providers.md
  docusaurus/docs/status.md
  docusaurus/docs/user-docs/plugins/installing-plugins-via-the-marketplace.md
  docusaurus/sidebars.js
Labels: docusaurus

#1332 Docusaurus: add optional config documentation
  docusaurus/docs/dev-docs/configurations/api-tokens.md
  docusaurus/docs/dev-docs/configurations/api.md
  docusaurus/docs/dev-docs/configurations/cron.md
  docusaurus/docs/dev-docs/configurations/environment.md
  docusaurus/docs/dev-docs/configurations/functions.md
  docusaurus/docs/dev-docs/configurations/plugins.md
  docusaurus/docs/dev-docs/configurations/public-assets.md
  docusaurus/docs/dev-docs/configurations/rbac.md
  docusaurus/docs/dev-docs/configurations/sso.md
  docusaurus/docs/dev-docs/configurations/typescript.md
  docusaurus/docs/status.md
  docusaurus/docs/user-docs/content-manager/configuring-view-of-content-type.md
  docusaurus/docs/user-docs/users-roles-permissions/configuring-administrator-roles.md
  docusaurus/sidebars.js
Labels: docusaurus

#1325 Convert users, role & permissions to docusaurus
  docusaurus/docs/user-docs/content-manager/introduction-to-content-manager.md
  docusaurus/docs/user-docs/users-roles-permissions/configuring-administrator-roles.md
  docusaurus/docs/user-docs/users-roles-permissions/configuring-end-users-roles.md
  docusaurus/docs/user-docs/users-roles-permissions/introduction-to-users-roles-permissions.md
  docusaurus/docs/user-docs/users-roles-permissions/managing-administrators.md
  docusaurus/docs/user-docs/users-roles-permissions/managing-end-users.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1349 Fix sentry plugin frontmatter
  docs/developer-docs/latest/plugins/sentry.md
Labels: source: developer-docs, pr: fix, pr: internal, target: v4, size: small

#1354 Docusaurus: Media library
  docusaurus/docs/dev-docs/project-structure.md
  docusaurus/docs/status.md
  docusaurus/docs/user-docs/content-manager/writing-content.md
  docusaurus/docs/user-docs/media-library/adding-assets.md
  docusaurus/docs/user-docs/media-library/introduction-to-the-media-library.md
  docusaurus/docs/user-docs/media-library/managing-assets.md
  docusaurus/docs/user-docs/media-library/organizing-assets-with-folders.md
  docusaurus/sidebars.js
  docusaurus/src/components/ProjectStructure.js
  docusaurus/src/css/custom.css
  docusaurus/src/css/project-structure.css
  docusaurus/static/img/assets/icons/grid_view.svg
  docusaurus/static/img/assets/icons/list_view.svg
  docusaurus/static/img/assets/media-library/media-library_configure-the-view.png
  docusaurus/static/img/assets/media-library/media-library_filters.png
  docusaurus/static/img/assets/media-library/media-library_folder-content.png
  docusaurus/static/img/assets/media-library/media-library_overview.png
Labels: pr: internal, docusaurus

#1338 Converts User Guide -> General Settings to Docusaurus
  docusaurus/docs/dev-docs/development/admin-customization.md
  docusaurus/docs/user-docs/media-library/introduction-to-media-library.md
  docusaurus/docs/user-docs/settings/configuring-users-permissions-plugin-settings.md
  docusaurus/docs/user-docs/settings/managing-global-settings.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/settings/settings_api-token-custom.png
Labels: docusaurus

#1335 Converts User Guide -> Plugins to Docusaurus
  docusaurus/docs/dev-docs/plugins/email.md
  docusaurus/docs/dev-docs/plugins/upload.md
  docusaurus/docs/user-docs/content-manager/introduction-to-content-manager.md
  docusaurus/docs/user-docs/content-manager/translating-content.md
  docusaurus/docs/user-docs/content-manager/writing-content.md
  docusaurus/docs/user-docs/plugins/installing-plugins-via-marketplace.md
  docusaurus/docs/user-docs/plugins/introduction-to-plugins.md
  docusaurus/docs/user-docs/plugins/strapi-plugins.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/plugins/marketplace-plugins.png
Labels: docusaurus

#1328 Docusaurus: Add Content Manager section
  docusaurus/docs/status.md
  docusaurus/docs/user-docs/content-manager/configuring-view-of-content-type.md
  docusaurus/docs/user-docs/content-manager/introduction-to-content-manager.md
  docusaurus/docs/user-docs/content-manager/managing-relational-fields.md
  docusaurus/docs/user-docs/content-manager/saving-and-publishing-content.md
  docusaurus/docs/user-docs/content-manager/translating-content.md
  docusaurus/docs/user-docs/content-manager/writing-content.md
  docusaurus/docs/user-docs/media-library/introduction-to-media-library.md
  docusaurus/docs/user-docs/media-library/organizing-assets-with-folders.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/content-manager/RF_multiple-choices2.png
  docusaurus/static/img/assets/content-manager/RF_one-choice2.png
  docusaurus/static/img/assets/content-manager/content-manager_translate2.png
  docusaurus/static/img/assets/content-manager/edit-view-config2.png
  docusaurus/static/img/assets/content-manager/edit-view2.png
  docusaurus/static/img/assets/content-manager/edit-view_relational-fields2.png
  docusaurus/static/img/assets/content-manager/editing_draft_version2.png
  docusaurus/static/img/assets/content-manager/editing_published_version2.png
Labels: docusaurus

#1352 Media Library - Configure The View
  docs/user-docs/latest/assets/icons/grid_view.svg
  docs/user-docs/latest/assets/icons/list_view.svg
  docs/user-docs/latest/assets/media-library/media-library_configure-the-view.png
  docs/user-docs/latest/assets/media-library/media-library_filters.png
  docs/user-docs/latest/assets/media-library/media-library_folder-content.png
  docs/user-docs/latest/assets/media-library/media-library_overview.png
  docs/user-docs/latest/media-library/introduction-to-media-library.md
Labels: source: user-docs, pr: internal, pr: new content, target: v4, size: small

#1348 Docusaurus: add Strapi plugins
  docusaurus/docs/dev-docs/plugins/documentation.md
  docusaurus/docs/dev-docs/plugins/email.md
  docusaurus/docs/dev-docs/plugins/graphql.md
  docusaurus/docs/dev-docs/plugins/i18n.md
  docusaurus/docs/dev-docs/plugins/plugins-intro.md
  docusaurus/docs/dev-docs/plugins/sentry.md
  docusaurus/docs/dev-docs/plugins/upload.md
  docusaurus/docs/dev-docs/plugins/users-permissions.md
  docusaurus/docs/status.md
  docusaurus/docs/user-docs/plugins/installing-plugins-via-marketplace.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1303 [DEITS] Add strapi export and import to the CLI docs
  docs/developer-docs/latest/developer-resources/cli/CLI.md
Labels: source: developer-docs, pr: internal, pr: new content, target: v4, size: medium

#1274 DEITS development page
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/developer-resources/data-management.md
Labels: source: developer-docs, pr: internal, pr: new content, target: v4, size: large

#1287 Add graphql to api token documentation
  docs/developer-docs/latest/plugins/graphql.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/api-tokens.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small

#1096 add TypeScript to deployment docs
  docs/developer-docs/latest/setup-deployment-guides/deployment.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small

#1372 Fix/cleanup SSO documentation
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/sso.md
Labels: pr: internal

#1373 update 100 digitalocean credits to 200
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1339 Media Library - List View
  docs/user-docs/latest/assets/icons/grid_view.svg
  docs/user-docs/latest/assets/icons/list_view.svg
  docs/user-docs/latest/assets/media-library/media-library_filters.png
  docs/user-docs/latest/assets/media-library/media-library_folder-content.png
  docs/user-docs/latest/assets/media-library/media-library_overview.png
  docs/user-docs/latest/media-library/introduction-to-media-library.md
Labels: source: user-docs, pr: updated content, flag: merge pending release, pr: internal, target: v4, size: small

#1368 Components: Update user-doc screenshots
  docs/user-docs/latest/assets/content-manager/edit-view_dynamic-zone-1.png
  docs/user-docs/latest/assets/content-manager/edit-view_dynamic-zone-2.png
  docs/user-docs/latest/assets/content-manager/edit-view_dynamic-zone1.png
  docs/user-docs/latest/assets/content-manager/edit-view_dynamic-zone2.png
  docs/user-docs/latest/assets/content-manager/edit-view_dynamic-zone3.png
  docs/user-docs/latest/assets/content-types-builder/component-creation-1.png
  docs/user-docs/latest/assets/content-types-builder/component-creation.png
  docs/user-docs/latest/content-manager/writing-content.md
  docs/user-docs/latest/content-types-builder/creating-new-content-type.md
Labels: source: user-docs, pr: updated content, flag: merge pending release, pr: internal, target: v4, size: small

#1367 Models: Remove icon prop for components
  docs/developer-docs/latest/development/backend-customization/models.md
Labels: source: developer-docs, pr: updated content, pr: internal, size: small

#1337 Add new admin ratelimit configuration information
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/admin-panel.md
Labels: flag: merge pending release, pr: internal

#1353 docs for the run migrations setting
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
Labels: target: v4
