Repository strapi/documentation, pull requests merged in 2022-03, with the labels that each got.

#765 [v3] migration revision
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/update-version.md
Labels: source: developer-docs, type: updated content, type: internal, target:v3, size: medium

#713 [v4 migration] Controllers migration
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/controllers.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: medium

#714 [v4 migration] Services migration
  docs/developer-docs/latest/development/backend-customization/services.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/services.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: medium

#720 [v4 migration] Routes migration
  docs/developer-docs/latest/development/backend-customization/routes.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/routes.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: medium

#717 [v4 migration] Dependencies migration
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/dependencies.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: medium

#725 [v4 migration] Policies migration
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/policies.md
Labels: source: developer-docs, type: internal, type: new content, size: medium

#726 [v4 migration] GraphQL resolvers migration
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/graphql.md
Labels: type: internal, type: new content, target:v4, size: large

#729 [v4 migration] Admin panel translations migration
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/frontend.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/frontend/translations.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: medium

#730 [v4 migration] Webpack configuration migration
  docs/developer-docs/latest/development/admin-customization.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/frontend.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/frontend/webpack.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: medium

#732 [v4 migration] WYSIWYG customization migration
  docs/developer-docs/latest/development/admin-customization.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/frontend.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/frontend/wysiwyg.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: medium

#733 [v4 migration] Theming
  docs/developer-docs/latest/development/admin-customization.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/frontend.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/frontend/theming.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: medium

#734 [v4 migration] `strapi` global variable calls migration
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/frontend.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/frontend/strapi-global.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: medium

#757 [v4 migration] Route middlewares migration
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/route-middlewares.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: medium

#776 Update templates.md
  docs/developer-docs/latest/setup-deployment-guides/installation/templates.md
Labels: source: developer-docs, type: updated content, target:v4, size: small, type: code fix

#741 Correct query engine operators
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/filter.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/query-engine/filtering.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: medium, type: code fix

#771 Update admin-customization.md
  docs/developer-docs/latest/development/admin-customization.md
Labels: source: developer-docs, type: discussion, target:v4, size: small, type: code fix

#744 Add middleware session
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: medium

#780 Additions and fixes to the code migration guide - dm
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code-migration.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/configuration.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/content-type-schema.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/controllers.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/dependencies.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/global-middlewares.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/policies.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/route-middlewares.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/routes.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/services.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/frontend.md
Labels: source: developer-docs, target:v4, size: medium

#695 strapi.server.close() instead of strapi.destroy()
  docs/developer-docs/latest/guides/unit-testing.md
Labels: source: developer-docs, target:v4, size: small, type: code fix

#788 User/marketplace
  docs/.vuepress/config/sidebar-user.js
  docs/user-docs/latest/assets/icons/official-market.svg
  docs/user-docs/latest/assets/icons/verified-marketplace.svg
  docs/user-docs/latest/assets/plugins/Marketplace-v4.png
  docs/user-docs/latest/plugins/installing-plugins-via-marketplace.md
  docs/user-docs/latest/plugins/introduction-to-plugins.md
Labels: priority: high, source: user-docs, type: updated content, type: internal, target:v4, flag: next-deployment, size: medium

#796 Move Query API to the bottom to promote ES
  docs/.vuepress/config/sidebar-developer.js
Labels: source: developer-docs, type: internal, target:v4, size: small

#792 Added documentation for admin:create-user
  docs/developer-docs/latest/developer-resources/cli/CLI.md
Labels: flag: don't merge, source: developer-docs, flag: merge pending release, type: new content, target:v4, size: medium

#795 [beta] Dark mode: Updates user guide + dev docs
  docs/developer-docs/latest/development/admin-customization.md
  docs/user-docs/latest/assets/getting-started/user-information-profile.png
  docs/user-docs/latest/getting-started/introduction.md
Labels: source: developer-docs, source: user-docs, type: feature release, type: internal, type: new content, flag: next-deployment, size: medium, target: v4 next

#799 Updates to server configuration
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/server.md
Labels: source: developer-docs, type: internal, target:v4, size: small

#810 Fix middleware configuration
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
Labels: source: developer-docs, target:v4, size: small, type: code fix

#812 Salt api token wrong generation location
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/api-tokens.md
Labels: source: developer-docs, type: updated content, target:v4, size: small

#816 Fix missing bracket in "inject component" example
  docs/developer-docs/latest/developer-resources/plugin-api-reference/admin-panel.md
Labels: source: developer-docs, target:v4, flag: next-deployment, size: small, type: code fix

#813 Updated v4.0.6 migration introduction
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.0.x-to4.0.6.md
Labels: source: developer-docs, type: doc request, type: updated content, target:v4, flag: next-deployment, size: small

#797 Removed documentation for combining population & pagination
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.md
Labels: source: developer-docs, type: doc request, type: internal, target:v4, size: small

#820 Move the public path configuration to server config file
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/server.md
Labels: type: feature release, flag: merge pending release

#822 Deploy Strapi v4.1.6 Documentation
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.md
  docs/developer-docs/latest/developer-resources/plugin-api-reference/admin-panel.md
  docs/developer-docs/latest/development/admin-customization.md
  docs/developer-docs/latest/guides/auth-request.md
  docs/developer-docs/latest/plugins/users-permissions.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/api-tokens.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/sso.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/server.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.0.x-to4.0.6.md
Labels: target:v4, type: chore
