Repository strapi/documentation, pull requests merged in 2022-06, with the labels that each got.

#913 Update populating-fields.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.md
Labels: source: developer-docs, pr: typo, target: v4, size: small

#898 update TypeScript dedicated page
  docs/developer-docs/latest/development/plugins-development.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
  docs/developer-docs/latest/setup-deployment-guides/typescript.md
Labels: source: developer-docs, pr: internal, pr: new content, target: v4, size: medium, target: beta

#906 Add "Last updated" mention to the bottom of each page in v3 docs
  docs/.vuepress/config.js
Labels: source: repo, pr: internal, target: v3, size: small

#927 typo in Collection by Field section
  docs/developer-docs/latest/developer-resources/content-api/integrations/laravel.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix, flag: next deployment

#909 Update 11ty.md with Strapi v4
  docs/developer-docs/latest/developer-resources/content-api/integrations/11ty.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium, flag: next deployment

#910 Update Autocreate Slug with Lifecycles
  docs/developer-docs/latest/guides/slug.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium, pr: code fix, flag: next deployment

#929 Add missing acquireConnectionTimeout config option to database
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
Labels: source: developer-docs, pr: fix, pr: internal, size: small, flag: next deployment

#855 Logo customization via admin panel
  docs/developer-docs/latest/development/admin-customization.md
  docs/user-docs/latest/assets/icons/add.svg
  docs/user-docs/latest/assets/icons/reset_icon.svg
  docs/user-docs/latest/assets/settings/settings_custom-logo.png
  docs/user-docs/latest/settings/managing-global-settings.md
Labels: source: developer-docs, source: user-docs, pr: internal, pr: new content, flag: next deployment

#912 minor cleanups and rewriting middleware documentation with examples
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/environment.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
Labels: pr: internal, target: v4, size: large, pr: chore, flag: next deployment

#857 Digital Ocean app platform deployment guide
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
Labels: flag: don't merge, issue: doc request, pr: updated content, pr: internal, target: v4, size: large, flag: next deployment

#923 Updates plugins user guide for marketplace providers
  docs/developer-docs/latest/plugins/upload.md
  docs/user-docs/latest/assets/plugins/Marketplace-v4.png
  docs/user-docs/latest/assets/plugins/marketplace-v4.png
  docs/user-docs/latest/plugins/installing-plugins-via-marketplace.md
  docs/user-docs/latest/plugins/introduction-to-plugins.md
Labels: source: user-docs, pr: updated content, pr: internal, size: medium, flag: next deployment

#930 Improve TypeScript typings subsection
  docs/developer-docs/latest/development/typescript.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small, flag: next deployment

#928 Drop v12 support
  docs/developer-docs/latest/getting-started/usage-information.md
  docs/developer-docs/latest/setup-deployment-guides/deployment.md
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/dependencies.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small, flag: next deployment

#936 Moved middleware list into a table with installed vs required
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: medium, flag: next deployment

#921 add TypeScript typings + programatic [WIP]
  docs/developer-docs/latest/development/typescript.md
Labels: source: developer-docs, pr: internal, pr: new content, target: next, size: medium, flag: next deployment

#935 TypeScript additions for release 4.3.0-beta
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/development/typescript.md
  docs/developer-docs/latest/getting-started/troubleshooting.md
  docs/developer-docs/latest/setup-deployment-guides/TypeScript-typing.gif
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/typescript.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
  docs/developer-docs/latest/setup-deployment-guides/typescript.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: next, size: large, flag: next deployment

#938 Add callout about templates being reworked
  docs/developer-docs/latest/setup-deployment-guides/installation/templates.md
Labels: source: developer-docs, pr: updated content, pr: internal, size: small

#897 chore: update React docs to function components
  docs/developer-docs/latest/developer-resources/content-api/integrations/react.md
Labels: source: developer-docs, pr: updated content, target: v4, size: large

#933 Release 4.2.0 to staging
  docs/developer-docs/latest/developer-resources/content-api/integrations/react.md
  docs/developer-docs/latest/development/admin-customization.md
  docs/developer-docs/latest/getting-started/usage-information.md
  docs/developer-docs/latest/plugins/upload.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/environment.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
  docs/developer-docs/latest/setup-deployment-guides/deployment.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
  docs/developer-docs/latest/setup-deployment-guides/installation/templates.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/dependencies.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/data/mongo-sql-cheatsheet.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.0.6-to-4.1.8.md
  docs/package.json
  docs/user-docs/latest/assets/icons/add.svg
  docs/user-docs/latest/assets/icons/reset_icon.svg
  docs/user-docs/latest/assets/plugins/Marketplace-v4.png
  docs/user-docs/latest/assets/plugins/marketplace-v4.png
  docs/user-docs/latest/assets/settings/settings_custom-logo.png
  docs/user-docs/latest/plugins/installing-plugins-via-marketplace.md
  docs/user-docs/latest/plugins/introduction-to-plugins.md
  docs/user-docs/latest/plugins/strapi-plugins.md
  docs/user-docs/latest/settings/managing-global-settings.md
Labels: source: developer-docs, source: user-docs, pr: updated content, pr: internal, pr: new content, size: large

#940 Remove TypeScript code snippets from DigitalOcean deployment guide
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
Labels: source: developer-docs, pr: internal, target: v4, size: medium

#942 Add warning callout about downgrading and folders
  docs/user-docs/latest/media-library/organizing-assets-with-folders.md
Labels: source: user-docs, pr: updated content, pr: internal, target: next, size: small, flag: next deployment

#934 Release 4.3.0-beta
  docs/.vuepress/config/sidebar-developer.js
  docs/.vuepress/config/sidebar-user.js
  docs/.vuepress/config/theme-config.js
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/development/typescript.md
  docs/developer-docs/latest/getting-started/troubleshooting.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/typescript.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
  docs/developer-docs/latest/setup-deployment-guides/typescript.md
  docs/package.json
  docs/user-docs/latest/assets/icons/crop.svg
  docs/user-docs/latest/assets/icons/download.svg
  docs/user-docs/latest/assets/icons/link.svg
  docs/user-docs/latest/assets/icons/move.svg
  docs/user-docs/latest/assets/media-library/media-library_add-new-assets.png
  docs/user-docs/latest/assets/media-library/media-library_asset-details.png
  docs/user-docs/latest/assets/media-library/media-library_filters.png
  docs/user-docs/latest/assets/media-library/media-library_folder-content.png
  docs/user-docs/latest/assets/media-library/media-library_move-assets.png
  docs/user-docs/latest/assets/media-library/media-library_overview.png
  docs/user-docs/latest/assets/media-library/media-library_sort.png
  docs/user-docs/latest/assets/plugins/sentry.png
  docs/user-docs/latest/assets/settings/settings_media-library.png
  docs/user-docs/latest/content-manager/writing-content.md
  docs/user-docs/latest/media-library/adding-assets.md
  docs/user-docs/latest/media-library/introduction-to-media-library.md
  docs/user-docs/latest/media-library/managing-assets.md
  docs/user-docs/latest/media-library/organizing-assets-with-folders.md
  docs/user-docs/latest/settings/managing-global-settings.md
Labels: source: developer-docs, source: user-docs, pr: updated content, pr: internal, pr: new content, size: large, flag: next deployment

#937 Production release 4.2.0
  README.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/11ty.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/laravel.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/react.md
  docs/developer-docs/latest/development/admin-customization.md
  docs/developer-docs/latest/getting-started/usage-information.md
  docs/developer-docs/latest/guides/slug.md
  docs/developer-docs/latest/plugins/upload.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/environment.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
  docs/developer-docs/latest/setup-deployment-guides/deployment.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
  docs/developer-docs/latest/setup-deployment-guides/installation/templates.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/dependencies.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/data/mongo-sql-cheatsheet.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.0.6-to-4.1.8.md
  docs/package.json
  docs/user-docs/latest/assets/icons/add.svg
  docs/user-docs/latest/assets/icons/reset_icon.svg
  docs/user-docs/latest/assets/plugins/Marketplace-v4.png
  docs/user-docs/latest/assets/plugins/marketplace-v4.png
  docs/user-docs/latest/assets/settings/settings_custom-logo.png
  docs/user-docs/latest/plugins/installing-plugins-via-marketplace.md
  docs/user-docs/latest/plugins/introduction-to-plugins.md
  docs/user-docs/latest/plugins/strapi-plugins.md
  docs/user-docs/latest/settings/managing-global-settings.md
Labels: source: developer-docs, source: user-docs, pr: updated content, pr: internal, pr: new content, target: v4, size: large

#944 Fix Google App Engine guide (socketPath/PostgreSQL)
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.md
Labels: source: developer-docs, target: v3, size: small, pr: code fix, issue: quick fix

#949 Add caution callout about dynamic zones
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
Labels: source: user-docs, pr: internal, target: v4, size: small, issue: quick fix

#950 Add caution callout about dynamic zones
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
Labels: source: user-docs, pr: internal, target: v4, size: small, issue: quick fix

#943 user/logo customization typo fix
  docs/user-docs/latest/settings/managing-global-settings.md
Labels: source: user-docs, pr: typo, pr: internal, target: v4, size: small

#945 Release: Quick Fixes for v3 issues (WIP)
  docs/developer-docs/latest/development/admin-customization.md
  docs/developer-docs/latest/guides/custom-admin.md
  docs/developer-docs/latest/setup-deployment-guides/configurations.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.md
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
Labels: source: developer-docs, pr: internal, target: v3, flag: next deployment

#954 Fix aws-s3 provider code snippet to avoid ACL public-read access issues
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small, pr: code fix, issue: quick fix

#955 Document how to access a plugin configuration
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small, issue: quick fix

#956 Reference Entity Service API from Server API for plugins
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small, issue: quick fix

#953 Explain Entity Service vs. Query Engine + document knex access
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service-api.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/query-engine-api.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/snippets/entity-query-knex-callout.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small, issue: quick fix

#701 WIP: Unit-testing documentation for v4
  docs/developer-docs/latest/guides/unit-testing.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium

#962 Mention StoryBook link in Admin Panel customization
  docs/developer-docs/latest/development/admin-customization.md
Labels: source: developer-docs, pr: internal, target: v4, size: small, flag: next deployment

#968 Contributing: Add instructions on how to run the project
  CONTRIBUTING.md
Labels: source: repo, pr: internal, size: small, pr: chore

#970 Environment: add docs for `FAST_REFRESH`
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/environment.md
Labels: source: developer-docs, pr: updated content, pr: internal, size: small

#971 Bump version number to 4.2.1
  docs/package.json
Labels: source: repo, pr: internal, target: v4

#974 Telemetry: updates in "Usage Information" and CLI doc
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/getting-started/usage-information.md
Labels: source: developer-docs, pr: internal, size: small

#761 Various REST API improvements
  docs/.vuepress/config/sidebar-developer.js
  docs/.vuepress/styles/strapi-custom-blocks.styl
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest-api.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/api-parameters.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/filtering-locale-publication.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/snippets/qs-for-query-body.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/snippets/qs-for-query-title.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/snippets/qs-intro-full.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/snippets/qs-intro-short.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/sort-pagination.md
Labels: source: developer-docs, pr: internal, target: v4

#969 GraphQL: Improve plugin configuration
  docs/developer-docs/latest/plugins/graphql.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/plugins.md
Labels: source: developer-docs, pr: fix, pr: internal, target: v4, size: small

#976 Update for installed providers
  docs/user-docs/latest/assets/plugins/Marketplace-v4.png
  docs/user-docs/latest/assets/plugins/installed-providers.png
  docs/user-docs/latest/assets/plugins/marketplace-v4.png
  docs/user-docs/latest/assets/plugins/marketplace.png
  docs/user-docs/latest/plugins/installing-plugins-via-marketplace.md
Labels: source: user-docs, pr: updated content, pr: internal, target: v4, size: small

#973 🚀 Production release 4.2.2
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  CONTRIBUTING.md
  docs/.vuepress/config/sidebar-developer.js
  docs/.vuepress/styles/strapi-custom-blocks.styl
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/developer-resources/content-api/integrations.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/dart.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/flutter.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/go.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/next-js.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/nuxt-js.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/php.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/react.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/vue-js.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service-api.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/query-engine-api.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest-api.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/api-parameters.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/filtering-locale-publication.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/snippets/qs-for-query-body.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/snippets/qs-for-query-title.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/snippets/qs-intro-full.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/snippets/qs-intro-short.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/sort-pagination.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/snippets/entity-query-knex-callout.md
  docs/developer-docs/latest/developer-resources/error-handling.md
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
  docs/developer-docs/latest/development/admin-customization.md
  docs/developer-docs/latest/development/backend-customization/routes.md
  docs/developer-docs/latest/development/backend-customization/services.md
  docs/developer-docs/latest/development/plugins-extension.md
  docs/developer-docs/latest/development/plugins/graphql.md
  docs/developer-docs/latest/getting-started/troubleshooting.md
  docs/developer-docs/latest/getting-started/usage-information.md
  docs/developer-docs/latest/guides/custom-data-response.md
  docs/developer-docs/latest/guides/draft.md
  docs/developer-docs/latest/guides/send-email.md
  docs/developer-docs/latest/guides/slug.md
  docs/developer-docs/latest/guides/unit-testing.md
  docs/developer-docs/latest/plugins/graphql.md
  docs/developer-docs/latest/plugins/i18n.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/environment.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/plugins.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.0.x-to-4.1.8.md
  docs/package.json
  docs/user-docs/latest/assets/plugins/Marketplace-v4.png
  docs/user-docs/latest/assets/plugins/installed-providers.png
  docs/user-docs/latest/assets/plugins/marketplace-v4.png
  docs/user-docs/latest/assets/plugins/marketplace.png
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
  docs/user-docs/latest/plugins/installing-plugins-via-marketplace.md
  docs/user-docs/latest/settings/managing-global-settings.md
Labels: source: developer-docs, source: user-docs, pr: updated content, pr: internal, pr: new content, target: v4, size: large
