Repository strapi/documentation, pull requests merged in 2022-08, with the labels that each got.

#1026 chore: Add documentation to strapi/strapi#13793
  docs/developer-docs/latest/plugins/graphql.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1023 FIx typos and correct naming conventions
  docs/developer-docs/latest/development/backend-customization/models.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1031 fix email plugin documentation
  docs/developer-docs/latest/plugins/email.md
Labels: source: developer-docs, pr: fix, pr: internal, target: v4

#1032 Dev/upload update
  docs/developer-docs/latest/plugins/upload.md
Labels: source: developer-docs, pr: fix, pr: internal, target: v4

#1037 [WIP] Custom Fields: Updates to user guide with new Custom Fields content
  docs/package.json
Labels: source: user-docs, pr: updated content, pr: internal, target: v4, target: next

#1044 Clarified what the Entity Service is meant to help you interact with
  docs/developer-docs/latest/developer-resources/database-apis-reference/snippets/entity-query-knex-callout.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small

#1020 Update graphql.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/graphql.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1022 fix: update Next.js getting started guide
  docs/developer-docs/latest/developer-resources/content-api/integrations/next-js.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium

#1025 feat: update Ruby getting started
  docs/developer-docs/latest/developer-resources/content-api/integrations/ruby.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium

#1029 Remove em object from lifecycle arguments
  docs/developer-docs/latest/development/backend-customization/models.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium

#1045 Add change password endpoint
  docs/developer-docs/latest/plugins/users-permissions.md
Labels: source: developer-docs, pr: internal, pr: new content, target: v4, size: small

#1019 fix import usage
  docs/developer-docs/latest/development/typescript.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1043 [WIP] fix various TypeScript code examples
  docs/developer-docs/latest/development/backend-customization/services.md
Labels: source: developer-docs, pr: fix, target: v4, size: small

#1040 Remove 1-click installation guides
  docs/.vuepress/config/sidebar-developer.js
  docs/.vuepress/redirects
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean.md
  docs/developer-docs/latest/setup-deployment-guides/installation.md
  docs/developer-docs/latest/setup-deployment-guides/installation/digitalocean-customization.md
  docs/developer-docs/latest/setup-deployment-guides/installation/digitalocean-one-click.md
  docs/developer-docs/latest/setup-deployment-guides/installation/platformsh.md
  docs/developer-docs/latest/setup-deployment-guides/installation/render.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium

#1030 Convert JS -> TS support
  docs/developer-docs/latest/development/typescript.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: medium

#1041 Mention python prerequisite in installation guides
  docs/developer-docs/latest/developer-resources/cli/snippets/installation-prerequisites.md
  docs/developer-docs/latest/getting-started/quick-start.md
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
Labels: source: developer-docs, pr: updated content, pr: internal, size: small

#1051 Custom fields: Updates to User Guide > Content Manager
  docs/user-docs/latest/content-manager/writing-content.md
Labels: source: user-docs, pr: updated content, pr: internal, pr: new content, target: v4, target: next

#1050 Remove rackspace provider from documentation
  docs/developer-docs/latest/development/providers.md
  docs/developer-docs/latest/plugins/upload.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/dependencies.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: medium

#1042 Mention breadcrumbs in Media Library documentation
  docs/user-docs/latest/assets/media-library/media-library_folder-content.png
  docs/user-docs/latest/media-library/organizing-assets-with-folders.md
Labels: source: user-docs, pr: updated content, pr: internal, target: v4, size: small

#1048 🚀 Production release: Strapi docs v4.3.3
  docs/.vuepress/config/sidebar-developer.js
  docs/.vuepress/redirects
  docs/developer-docs/latest/developer-resources/cli/snippets/installation-prerequisites.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/next-js.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/python.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/ruby.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/snippets/entity-query-knex-callout.md
  docs/developer-docs/latest/development/backend-customization/models.md
  docs/developer-docs/latest/development/backend-customization/services.md
  docs/developer-docs/latest/development/providers.md
  docs/developer-docs/latest/development/typescript.md
  docs/developer-docs/latest/getting-started/quick-start.md
  docs/developer-docs/latest/plugins/upload.md
  docs/developer-docs/latest/plugins/users-permissions.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
  docs/developer-docs/latest/setup-deployment-guides/installation.md
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
  docs/developer-docs/latest/setup-deployment-guides/installation/digitalocean-customization.md
  docs/developer-docs/latest/setup-deployment-guides/installation/digitalocean-one-click.md
  docs/developer-docs/latest/setup-deployment-guides/installation/platformsh.md
  docs/developer-docs/latest/setup-deployment-guides/installation/render.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/dependencies.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/graphql.md
  docs/package.json
  docs/user-docs/latest/assets/media-library/media-library_folder-content.png
  docs/user-docs/latest/media-library/organizing-assets-with-folders.md
Labels: source: developer-docs, pr: updated content, pr: internal, pr: new content, target: v4, size: large

#1059 database warning
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
Labels: source: developer-docs, pr: internal, target: v4, size: small

#1063 GraphQL Plugin: Add endpoint to configuration options
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/plugins.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small

#1056 Add create fields to REST API docs
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.md
Labels: source: developer-docs, pr: internal, pr: new content, target: v4, size: small

#1055 Add TypeScript conversion step for SQLite db
  docs/developer-docs/latest/development/typescript.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small

#1064 dev/setup deployment fixes
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/admin-panel.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
Labels: source: developer-docs, pr: fix, target: v4, size: medium

#1072 update CLI strapi start documentation
  docs/developer-docs/latest/developer-resources/cli/CLI.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1070 Mention "nightlies" in CLI installation guide
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
Labels: source: developer-docs, flag: merge pending release, pr: internal, pr: new content, target: v4, size: small

#1073 Fix TypeScript code example
  docs/developer-docs/latest/development/typescript.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small

#1071 Add explanation on populating with true
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: medium

#1076 MongoDB not supported callout
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1077 CTB: Add new time interval option for datetime and time fields
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
Labels: source: user-docs, pr: updated content, pr: internal, target: v4, size: small

#1074 🚀 Production release: Strapi docs v4.3.5
  CONTRIBUTING.md
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.md
  docs/developer-docs/latest/development/typescript.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/plugins.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/admin-panel.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
  docs/developer-docs/latest/setup-deployment-guides/installation/cli.md
  docs/package.json
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
Labels: source: developer-docs, pr: updated content, pr: internal, pr: new content, size: medium

#1035 Custom fields - Dev docs: Add a new Development > Custom Fields page
  docs/.vuepress/config/markdown.js
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/development/custom-fields.md
  docs/developer-docs/latest/development/snippets/custom-field-requires-plugin.md
  docs/package.json
  docs/yarn.lock
Labels: source: developer-docs, pr: internal, pr: new content, target: v4, size: large

#1053 Custom fields - Dev docs: Minor updates and cross-links
  docs/developer-docs/latest/developer-resources/plugin-api-reference/admin-panel.md
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
  docs/developer-docs/latest/development/plugins-development.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, target: next, size: small

#1039 Custom Fields - User Guide: All updates
  docs/user-docs/latest/assets/content-types-builder/fields-selection.png
  docs/user-docs/latest/content-manager/writing-content.md
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
  docs/user-docs/latest/plugins/installing-plugins-via-marketplace.md
  docs/user-docs/latest/plugins/introduction-to-plugins.md
  docs/user-docs/latest/settings/managing-global-settings.md
Labels: source: user-docs, pr: updated content, pr: internal, pr: new content, target: v4, target: next, size: medium

#1036 Custom Fields - Dev docs: All updates
  docs/.vuepress/config/markdown.js
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/developer-resources/plugin-api-reference/admin-panel.md
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
  docs/developer-docs/latest/development/backend-customization/models.md
  docs/developer-docs/latest/development/custom-fields.md
  docs/developer-docs/latest/development/plugins-development.md
  docs/developer-docs/latest/development/snippets/custom-field-requires-plugin.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
  docs/package.json
  docs/yarn.lock
Labels: source: developer-docs, pr: updated content, pr: internal, pr: new content, target: v4, size: large

#1080 Update top nav bar with docs-next links
  docs/.vuepress/config/theme-config.js
Labels: source: repo, pr: internal, target: v4, size: small

#1079 Implement simple rebranding on docs-next
  docs/.vuepress/config/markdown.js
  docs/.vuepress/public/assets/NextIcon.svg
  docs/.vuepress/public/assets/logo.svg
  docs/.vuepress/styles/branding.styl
  docs/.vuepress/styles/index.styl
  docs/.vuepress/styles/palette.styl
  docs/.vuepress/styles/strapi-custom-blocks.styl
  docs/.vuepress/theme/components/Navbar.vue
  docs/.vuepress/theme/global-components/InstallLink.vue
  docs/.vuepress/theme/icons/NextIcon.svg
  docs/developer-docs/latest/getting-started/quick-start.md
Labels: source: repo, pr: internal, target: v4, size: large

#1038 Custom Fields
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/developer-resources/plugin-api-reference/admin-panel.md
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
  docs/developer-docs/latest/development/backend-customization/models.md
  docs/developer-docs/latest/development/custom-fields.md
  docs/developer-docs/latest/development/plugins-development.md
  docs/developer-docs/latest/development/snippets/custom-field-requires-plugin.md
  docs/developer-docs/latest/plugins/email.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
  docs/package.json
  docs/user-docs/latest/assets/content-types-builder/fields-selection.png
  docs/user-docs/latest/content-manager/writing-content.md
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
  docs/user-docs/latest/plugins/installing-plugins-via-marketplace.md
  docs/user-docs/latest/plugins/introduction-to-plugins.md
  docs/user-docs/latest/settings/managing-global-settings.md
Labels: source: developer-docs, source: user-docs, pr: updated content, pr: internal, pr: new content, target: v4, target: next, size: large

#1084 fix: typo in code sample
  docs/developer-docs/latest/development/custom-fields.md
Labels: target: next, size: small, pr: code fix, alpha: custom-fields

#1081 Revert #1071: Populate with `true` has not been released on strapi/strapi yet
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.md
Labels: source: developer-docs, pr: fix, pr: internal, target: v4, size: small

#1082 add TypeScript details to PM2 guide
  docs/developer-docs/latest/guides/process-manager.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1085 Inform users about marketing usage of some data (opt-out by default)
  docs/developer-docs/latest/getting-started/usage-information.md
Labels: pr: updated content, source: repo, pr: internal, target: v4, size: small

#1086 🔥 Hotfix 4.3.6: populate `true` + pm2 & typescript + marketing data usage
  docs/.vuepress/config/theme-config.js
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.md
  docs/developer-docs/latest/getting-started/usage-information.md
  docs/developer-docs/latest/guides/process-manager.md
  docs/package.json
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: medium

#1066 Dev/auth request
  docs/developer-docs/latest/assets/guides/postman-get-request/GET-request-unauth.png
  docs/developer-docs/latest/guides/auth-request.md
Labels: source: developer-docs, pr: updated content, target: v4, size: large

#1091 Updates Azure AD example to fix missing key in Azure response
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/sso.md
Labels: source: developer-docs, pr: fix, target: v4

#1087 Add explanation on populating with true
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.md
Labels: source: developer-docs, pr: internal, pr: new content, target: v4, size: medium

#1095 privateAttributes values must be in camelCase - fix #1094
  docs/developer-docs/latest/development/backend-customization/models.md
Labels: source: developer-docs, pr: fix, target: v4, size: small

#1092 remove unnecessary png
  docs/developer-docs/latest/assets/guides/postman-get-request/GET-request-unauth.png
Labels: source: developer-docs, pr: fix, target: v4, size: small

#1097 typographical error correction
  docs/user-docs/latest/settings/configuring-users-permissions-plugin-settings.md
Labels: source: user-docs, pr: fix, target: v4, size: small

#1098 [Custom Fields] fix file path
  docs/developer-docs/latest/development/custom-fields.md
Labels: pr: fix, target: v4, target: next, size: small, alpha: custom-fields
