Repository strapi/documentation, pull requests merged in 2022-01, with the labels that each got.

#625 fix(dev/docs): typo `intLabel` to `intlLabel`
  docs/developer-docs/latest/developer-resources/plugin-api-reference/admin-panel.md
Labels: source: developer-docs, type: typo

#623 Remove clean flag from build command
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/update-migration-guides/update-version.md
Labels: source: developer-docs, flag: merge pending release, type: internal, type: chore

#636 Add warning to email doc to use full provider name
  docs/developer-docs/latest/plugins/email.md
  docs/developer-docs/latest/plugins/upload.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4

#641 fix: _locale params renamed to locale
  docs/developer-docs/latest/plugins/i18n.md
Labels: source: developer-docs, type: typo, target:v4

#604 fix(docs): Change wording error in tab Twitch
  docs/developer-docs/latest/plugins/users-permissions.md
Labels: source: developer-docs, type: typo

#645 Fix locale customisation
  docs/developer-docs/latest/development/admin-customization.md
Labels: source: developer-docs, type: updated content, target:v4

#577 Improve dev experience
  .gitignore
  CONTRIBUTING.md
  docs/.vuepress/config-backup.js
  docs/.vuepress/config/markdown.js
  docs/.vuepress/config/metas.js
  docs/.vuepress/config/patterns-developer.js
  docs/.vuepress/config/patterns-user.js
  docs/.vuepress/config/plugins.js
  docs/.vuepress/config/sidebar-developer.js
  docs/.vuepress/config/sidebar-user.js
  docs/.vuepress/config/theme-config.js
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/package.json
  docs/scripts/create-developer-docs-config-file.js
  docs/scripts/create-main-config-file.js
  docs/scripts/create-user-docs-config-file.js
Labels: source: repo, type: internal

#647 Update Google Cloud Platform deployment documentation for strapi v4
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.md
Labels: source: developer-docs, type: updated content, target:v4, size: small

#653 Update AWS deployment documentation
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
Labels: source: developer-docs, type: updated content, target:v4, size: small

#649 Fix JWT using wrong file and structure
  docs/developer-docs/latest/plugins/users-permissions.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4

#633 Update graphql.md middleware example
  docs/developer-docs/latest/plugins/graphql.md
Labels: source: developer-docs, type: updated content, target:v4

#610 Guide Register field in admin panel
  docs/.vuepress/config-backup.js
  docs/developer-docs/latest/assets/guides/register-field-admin/ckeditor-rich-text.png
  docs/developer-docs/latest/developer-resources/plugin-api-reference/admin-panel.md
  docs/developer-docs/latest/guides/registering-a-field-in-admin.md
Labels: source: developer-docs, type: updated content, type: internal, target:v4, size: large

#668 Remove not-updated warning
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
Labels: source: developer-docs, type: updated content, target:v4, size: small

#677 Update v4 logo
  docs/.vuepress/public/assets/logo.png
Labels: source: repo, type: internal, size: small

#663 Plugin migration guide
  docs/.vuepress/config/plugins.js
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
  docs/developer-docs/latest/development/backend-customization/controllers.md
  docs/developer-docs/latest/guides/slug.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/plugins.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-alpha.14.5-to-alpha.15.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-alpha.15-to-alpha.16.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-alpha.24-to-alpha.25.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/plugin-migration.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/plugin/enable-plugin.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/plugin/migrate-back-end.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/plugin/migrate-front-end.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/plugin/update-folder-structure.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/snippets/codemod-modify-source-code.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/snippets/plugin-migration-intro.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: large

#676 [v3] Update v3 branding
  docs/.vuepress/public/assets/logo.png
  docs/.vuepress/styles/index.styl
  docs/.vuepress/styles/strapi-custom-blocks.styl
  docs/developer-docs/latest/getting-started/quick-start.md
Labels: source: repo, type: internal, target:v3

#684 Make plugin resolve config option mandatory
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/plugins.md
Labels: type: updated content, type: internal, target:v4, size: small

#697 fix minor typo
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
Labels: source: developer-docs, type: typo, target:v4, size: small

#686 Fixed user-permissions email templating guide likn
  docs/user-docs/latest/settings/configuring-users-permissions-plugin-settings.md
Labels: source: user-docs, type: typo, target:v4, size: small
