Repository strapi/documentation, pull requests merged in 2022-09, with the labels that each got.

#1101 Update plugins-development.md
  docs/developer-docs/latest/development/plugins-development.md
Labels: source: developer-docs, pr: fix, target: v4, size: small

#1102 fix policies code example
  docs/developer-docs/latest/development/backend-customization/policies.md
Labels: source: developer-docs, pr: fix, target: v4, size: small

#1099 Update hardware, DB, OS recommendations
  docs/developer-docs/latest/setup-deployment-guides/deployment.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium

#1104 Fix "Functions" documentation
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
Labels: source: developer-docs, target: v4, size: medium, pr: code fix

#1109 update API token v2 beta
  docs/user-docs/latest/assets/settings/settings_api-token-custom.png
  docs/user-docs/latest/assets/settings/settings_api-token.png
  docs/user-docs/latest/settings/managing-global-settings.md
Labels: source: user-docs, target: next

#1120 chore: fix typos
  docs/developer-docs/latest/getting-started/quick-start.md
Labels: source: developer-docs, pr: typo, target: v4, size: small

#1117 Update node support to 18
  README.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/dependencies.md
Labels: source: developer-docs, target: v4, size: small, pr: chore

#1119 Update Azure database connection for v4
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
Labels: source: developer-docs, target: v4, size: medium, pr: code fix

#1068 Update User Guide for API tokens v2
  docs/user-docs/latest/assets/settings/settings_api-token-custom.png
  docs/user-docs/latest/assets/settings/settings_api-token.png
  docs/user-docs/latest/users-roles-permissions/configuring-administrator-roles.md
Labels: source: user-docs, pr: updated content, pr: internal, target: v4, size: medium

#1123 Fix variable name in digitalocean app platform deployment guide
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
Labels: source: developer-docs, pr: fix, target: v4, size: small

#1125 DocSearch test -v3
  docs/developer-docs/latest/developer-resources/cli/CLI.md
Labels: target: v3

#1127 DocSearch add tags -v3
  .algolia/docsearch.config.json
  docs/developer-docs/latest/developer-resources/cli/CLI.md
Labels: target: v3

#1128 Add closing brace to Algolia config
  .algolia/docsearch.config.json
Labels: target: v3

#1129 Change filters to tags
  .algolia/docsearch.config.json
  docs/developer-docs/latest/developer-resources/cli/CLI.md
Labels: target: v3

#1130 fix meta tag name
  .algolia/docsearch.config.json
Labels: target: v3

#1131 add searchable facet to docsearch json
  .algolia/docsearch.config.json
Labels: target: v3

#1136 Update amazon-aws.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1141 change tableName to collectionName
  docs/developer-docs/latest/development/backend-customization/models.md
Labels: source: developer-docs, pr: fix, target: v4, size: small

#1138 DO droplets --update db config for v4
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1114 Clarify steps for plugin creation
  docs/developer-docs/latest/development/plugins-development.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1134 Add documentation for the request context feature
  docs/developer-docs/latest/development/backend-customization/requests-responses.md
Labels: source: developer-docs, pr: new content, target: v4

#1146 🚀 Production release: Strapi docs v4.3.9
  README.md
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/developer-resources/cli/snippets/installation-prerequisites.md
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
  docs/developer-docs/latest/development/backend-customization/models.md
  docs/developer-docs/latest/development/backend-customization/requests-responses.md
  docs/developer-docs/latest/development/plugins-development.md
  docs/developer-docs/latest/getting-started/quick-start.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/databases/sqlite.md
  docs/developer-docs/latest/setup-deployment-guides/deployment.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/21yunbox.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/cleavr.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/microtica.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/qovery.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/render.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/dependencies.md
  docs/package.json
Labels: source: developer-docs, pr: updated content, pr: internal, pr: new content, target: v4, size: large

#1154 Rebranding: Moved search bar
  .algolia/docsearch.config.json
  docs/.vuepress/public/assets/SearchIcon.png
  docs/.vuepress/styles/branding.styl
  docs/.vuepress/theme/components/AlgoliaSearchBox.vue
  docs/.vuepress/theme/components/Navbar.vue
  docs/.vuepress/theme/components/Sidebar.vue
Labels: status: can not reproduce, size: large, alpha: custom-fields

#991 Updated Heroku deployment documentation
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1100 Update admin-customization.md for plugin translation
  docs/developer-docs/latest/development/admin-customization.md
Labels: source: developer-docs, pr: new content, target: v4, size: medium

#1061 Installing hotjar
  docs/.vuepress/config/metas.js
Labels: source: repo, pr: internal, target: v4, size: large

#1162 fixed typos
  docs/user-docs/latest/content-manager/saving-and-publishing-content.md
  docs/user-docs/latest/media-library/introduction-to-media-library.md
Labels: source: user-docs, pr: typo, target: v4, size: small

#1161 fix: typos fixed
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/gatsby.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/go.md
  docs/developer-docs/latest/developer-resources/content-api/integrations/php.md
  docs/developer-docs/latest/development/backend-customization.md
  docs/developer-docs/latest/development/plugins-extension.md
  docs/developer-docs/latest/getting-started/quick-start.md
  docs/developer-docs/latest/guides/count-graphql.md
  docs/developer-docs/latest/guides/secure-your-app.md
  docs/developer-docs/latest/guides/unit-testing.md
  docs/developer-docs/latest/plugins/users-permissions.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/cronjobs.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/environment.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/plugins.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/public-assets.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/sso.md
Labels: source: developer-docs, pr: typo, target: v4, size: large

#1158 Modify api token v2 RBAC
  docs/user-docs/latest/users-roles-permissions/configuring-administrator-roles.md
Labels: source: user-docs, pr: updated content, target: next, size: small

#1159 Add callout for read-only API tokens
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/api-tokens.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1149 Bump dependencies version
  docs/developer-docs/latest/update-migration-guides/update-version.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1157 update v4.2.x -> v4.3.x migration guide
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.2.x-to-4.3.x.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1163 fix: the youtube link for video demo is outdated
  docs/developer-docs/latest/getting-started/introduction.md
Labels: source: developer-docs, pr: fix, target: v4, size: small

#1145 Add GraphQL Plugin config to TypeScript example similar to JavaScript
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/plugins.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1164 Missing environmet variables added for pm2.
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
Labels: source: developer-docs, pr: fix, target: v4, size: small

#1142 GCP deployment guide: add callout
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1155 Add v4.3.3+ migration guide
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.3.6-to-4.3.7.md
Labels: source: developer-docs, pr: new content, target: v4, size: medium

#1169 Production hotfix: Temporarily revert to old logo
  docs/.vuepress/config/theme-config.js
Labels: status: can not reproduce, pr: internal, target: v4, size: small

#1171 Update link to ColorPicker input (again)
  docs/developer-docs/latest/development/custom-fields.md
Labels: source: developer-docs, pr: fix, target: v4, size: small

#1179 Fix Query engine link
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/crud.md
Labels: source: developer-docs, pr: fix, target: v4, size: small
