Repository strapi/documentation, pull requests merged in 2022-11, with the labels that each got.

#1253 Fix body middleware to array notation
  docs/developer-docs/latest/plugins/upload.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1238 Custom Fields improvements: code examples
  docs/developer-docs/latest/development/custom-fields.md
  docs/developer-docs/latest/development/plugins-development.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: large

#1242 docs: Fix syntax error in middlewares doc
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
Labels: source: developer-docs, target: v4, size: medium, pr: code fix

#1244 Remove JWT validation guide
  docs/.vuepress/config/sidebar-developer.js
  docs/.vuepress/redirects
  docs/developer-docs/latest/guides/jwt-validation.md
Labels: source: developer-docs, pr: internal, target: v4, size: small

#1234 Update Marketplace link for custom fields
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
Labels: source: user-docs, pr: updated content, pr: internal, target: v4, size: small

#1247 Remove "scheduled publication" guide
  docs/.vuepress/config/sidebar-developer.js
  docs/.vuepress/redirects
  docs/developer-docs/latest/guides/scheduled-publication.md
  docs/user-docs/latest/content-manager/saving-and-publishing-content.md
Labels: source: developer-docs, pr: internal, target: v4, size: medium

#1245 Create migration guide from 4.4.3 to 4.4.5
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.4.3-to-4.4.5.md
Labels: source: developer-docs, pr: internal, pr: new content, target: v4, size: medium

#1251 Update api-parameters.mdx
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/api-parameters.md
Labels: source: developer-docs, pr: typo, target: v4, size: small

#1257 fix link and link description
  docs/developer-docs/latest/getting-started/introduction.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1260 Relations performance update (incl. main <> next updates)
  docs/package.json
Labels: source: developer-docs, source: repo, pr: internal, target: v4, size: small

#1248 [WIP] Add alpha & beta badges
  docs/.vuepress/theme/global-components/AlphaBadge.vue
  docs/.vuepress/theme/global-components/BetaBadge.vue
  docs/.vuepress/theme/global-components/CustomBadge.vue
Labels: source: repo, pr: internal, target: v4, size: medium

#1256 Update digitalocean-app-platform.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium

#1262 In-app Marketplace enhancements
  docs/user-docs/latest/assets/plugins/installed-providers.png
  docs/user-docs/latest/assets/plugins/marketplace-plugins.png
  docs/user-docs/latest/plugins/installing-plugins-via-marketplace.md
Labels: source: user-docs, pr: updated content, pr: internal, target: v4, size: small

#1263 🚀 Production release: Strapi docs v4.5.0
  .gitignore
  README.md
  docs/.vuepress/config/theme-config.js
  docs/.vuepress/theme/global-components/AlphaBadge.vue
  docs/.vuepress/theme/global-components/BetaBadge.vue
  docs/.vuepress/theme/global-components/CustomBadge.vue
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/api-parameters.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.md
  docs/developer-docs/latest/getting-started/introduction.md
  docs/developer-docs/latest/plugins/i18n.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
  docs/package.json
  docs/user-docs/latest/assets/content-manager/RF_multiple-choices2.png
  docs/user-docs/latest/assets/content-manager/RF_one-choice2.png
  docs/user-docs/latest/assets/content-manager/content-manager_translate2.png
  docs/user-docs/latest/assets/content-manager/edit-view-config2.png
  docs/user-docs/latest/assets/content-manager/edit-view2.png
  docs/user-docs/latest/assets/content-manager/edit-view_relational-fields2.png
  docs/user-docs/latest/assets/content-manager/editing_draft_version2.png
  docs/user-docs/latest/assets/content-manager/editing_published_version2.png
  docs/user-docs/latest/assets/plugins/installed-providers.png
  docs/user-docs/latest/assets/plugins/marketplace-plugins.png
  docs/user-docs/latest/assets/users-permissions/end-user_content-manager2.png
  docs/user-docs/latest/content-manager/configuring-view-of-content-type.md
  docs/user-docs/latest/content-manager/managing-relational-fields.md
  docs/user-docs/latest/content-manager/saving-and-publishing-content.md
  docs/user-docs/latest/content-manager/translating-content.md
  docs/user-docs/latest/content-manager/writing-content.md
  docs/user-docs/latest/plugins/installing-plugins-via-marketplace.md
  docs/user-docs/latest/users-roles-permissions/managing-end-users.md
Labels: source: developer-docs, source: user-docs, pr: fix, pr: updated content, pr: internal, pr: new content, size: large

#1268 Edit wrong title of migration-guide-4.4.3-to-4.4.5.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.4.3-to-4.4.5.md
Labels: pr: typo, size: small

#1264 fix Twitter provider in U&P
  docs/developer-docs/latest/plugins/users-permissions.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1272 Migration guide for removing relationship duplicates
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.4.5-to-4.5.1.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium

#1277 🚀 Push 4.4.5 → 4.5.1 migration guide to production
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.4.5-to-4.5.1.md
Labels: source: developer-docs, pr: internal, pr: new content, target: v4, size: large

#1290 Docusaurus: Add Strapi Cloud
  docusaurus/docs/dev-docs/deployment/strapi-cloud.md
  docusaurus/docs/status.md
  docusaurus/sidebars.js
  docusaurus/src/css/custom.css
  docusaurus/static/img/assets/deployment/caddy-monotone.svg
  docusaurus/static/img/assets/deployment/cloud/advanced.png
  docusaurus/static/img/assets/deployment/cloud/deploys.png
  docusaurus/static/img/assets/deployment/cloud/import.png
  docusaurus/static/img/assets/deployment/cloud/login.png
  docusaurus/static/img/assets/deployment/cloud/project_list.png
  docusaurus/static/img/assets/deployment/cloud/projects_empty.png
  docusaurus/static/img/assets/deployment/cloud/settings.png
  docusaurus/static/img/assets/deployment/cloud/setup.png
Labels: pr: internal, docusaurus

#1273 DEITS CLI commands
  docs/developer-docs/latest/developer-resources/cli/CLI.md
Labels: source: developer-docs, pr: new content, target: v4, size: medium

#1302 Fix code example of plugin policy
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1282 Small Typo fix: Update routes.md for custom server routes
  docs/developer-docs/latest/development/backend-customization/routes.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1294 Docusaurus: Add Alpha/Beta and Gold badges
  docusaurus/docs/dev-docs/configurations.md
  docusaurus/docs/user-docs/intro.md
  docusaurus/src/components/AlphaBadge.js
  docusaurus/src/components/BetaBadge.js
  docusaurus/src/components/GoldBadge.js
  docusaurus/src/css/admonitions.css
  docusaurus/src/css/api-calls.css
  docusaurus/src/css/badges.css
  docusaurus/src/css/custom.css
  docusaurus/src/css/navigation.css
  docusaurus/src/css/palette.css
  docusaurus/src/theme/MDXComponents.js
Labels: docusaurus

#1278 update webpack configuration
  docs/developer-docs/latest/development/admin-customization.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1212 Update database connection properties
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
Labels: source: developer-docs, pr: updated content, flag: merge pending release, target: v4

#1266 Update 'Getting Started with Nuxt.js' for Strapi 4 and Nuxt 3
  docs/developer-docs/latest/developer-resources/content-api/integrations/nuxt-js.md
Labels: source: developer-docs, pr: updated content, target: v4, size: large
