Repository strapi/documentation, pull requests merged in 2022-07, with the labels that each got.

#988 Update error-handling.md
  docs/developer-docs/latest/developer-resources/error-handling.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#984 Add warning callout for enum values
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
Labels: source: user-docs, pr: updated content, pr: internal, target: v4

#990 update link to public roadmap
  docs/developer-docs/latest/getting-started/troubleshooting.md
Labels: pr: fix, pr: internal, target: v4, size: small

#996 Make the default populating behavior change in Strapi v4 more visible
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest-api.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code-migration.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small

#993 🧐 Release 4.2.3 to staging
  docs/.vuepress/config/sidebar-developer.js
  docs/.vuepress/theme/global-components/PluginsLinks.vue
  docs/developer-docs/latest/developer-resources/error-handling.md
  docs/developer-docs/latest/development/providers.md
  docs/developer-docs/latest/getting-started/troubleshooting.md
  docs/developer-docs/latest/plugins/email.md
  docs/developer-docs/latest/plugins/sentry.md
  docs/developer-docs/latest/plugins/upload.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/admin-panel.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
  docs/package.json
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
  docs/user-docs/latest/plugins/introduction-to-plugins.md
Labels: source: developer-docs, pr: updated content, pr: internal, pr: new content, target: v4, size: large

#994 🚀 Production release 4.2.3
  docs/.vuepress/config/sidebar-developer.js
  docs/.vuepress/theme/global-components/PluginsLinks.vue
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest-api.md
  docs/developer-docs/latest/developer-resources/error-handling.md
  docs/developer-docs/latest/development/providers.md
  docs/developer-docs/latest/getting-started/troubleshooting.md
  docs/developer-docs/latest/plugins/email.md
  docs/developer-docs/latest/plugins/sentry.md
  docs/developer-docs/latest/plugins/upload.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/plugins.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/admin-panel.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code-migration.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/data-migration.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/data/sql.md
  docs/package.json
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
  docs/user-docs/latest/plugins/introduction-to-plugins.md
Labels: source: developer-docs, pr: updated content, pr: internal, pr: new content, target: v4, size: large

#998 Update upload config docs to add missing information about max file size
  docs/developer-docs/latest/plugins/upload.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: medium

#999 Update database pooling information with actual defaults and docker warning
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: medium

#1002 Fix plugins.md typo
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/plugins.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#961 fix: added documentation for eqsi operator
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/filter.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/query-engine/filtering.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/filtering-locale-publication.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/rbac.md
Labels: source: developer-docs, pr: new content, target: v4, size: medium, status: pending product

#997 remove TypeScript from v4.0.6->v4.1.8 migration guide
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.0.6-to-4.1.8.md
Labels: source: developer-docs, pr: internal, target: v4, size: small

#979 fix draft and publish default
  docs/developer-docs/latest/development/backend-customization/models.md
Labels: pr: internal

#985 DO deployment guide: TypeScript code blocks
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
Labels: source: developer-docs, pr: internal, target: v4, size: large

#980 typescript programmatic use
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/development/backend-customization/models.md
  docs/developer-docs/latest/development/typescript.md
  docs/developer-docs/latest/plugins/email.md
Labels: pr: internal

#1010 Add documentation for programmatic TypeScript usage
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/development/backend-customization/models.md
  docs/developer-docs/latest/development/typescript.md
  docs/developer-docs/latest/plugins/email.md
Labels: source: developer-docs, pr: updated content, pr: internal, pr: new content, target: v4, size: large

#1003 Fixes varios typos
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/microtica.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/qovery.md
  docs/developer-docs/latest/setup-deployment-guides/installation/digitalocean-customization.md
  docs/developer-docs/latest/setup-deployment-guides/installation/render.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/graphql.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/frontend/wysiwyg.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/data/mongo-sql-cheatsheet.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/plugin/migrate-front-end.md
  docs/user-docs/latest/content-manager/managing-relational-fields.md
  docs/user-docs/latest/content-manager/translating-content.md
  docs/user-docs/latest/content-types-builder/creating-new-content-type.md
  docs/user-docs/latest/getting-started/introduction.md
  docs/user-docs/latest/settings/configuring-users-permissions-plugin-settings.md
  docs/user-docs/latest/settings/managing-global-settings.md
  docs/user-docs/latest/users-roles-permissions/configuring-administrator-roles.md
  docs/user-docs/latest/users-roles-permissions/managing-end-users.md
Labels: source: developer-docs, pr: typo, pr: internal, target: v4, size: large

#1009 Mention folders in Content Manager usage description
  docs/user-docs/latest/content-manager/writing-content.md
Labels: source: user-docs, pr: updated content, pr: internal, target: v4, size: small

#1000 improve instruction set for replacing the favicon
  docs/developer-docs/latest/development/admin-customization.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium

#1008 Update callouts for Media Library documentation
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest-api.md
  docs/developer-docs/latest/getting-started/troubleshooting.md
  docs/developer-docs/latest/plugins/email.md
  docs/developer-docs/latest/plugins/upload.md
  docs/user-docs/latest/media-library/organizing-assets-with-folders.md
Labels: source: developer-docs, source: user-docs, pr: updated content, pr: internal, target: v4, size: small

#1012 Fix: added documentation for eqsi operator (#961)
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/filter.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/query-engine/filtering.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/filtering-locale-publication.md
Labels: source: developer-docs, pr: internal, pr: new content, size: medium

#1006 Remove old Draft & Publish documentation + update links
  docs/developer-docs/latest/concepts/draft-and-publish.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/filtering-locale-publication.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small

#1004 Update graphql.md (pluralize 'middleware')
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/graphql.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1005 [MINOR] Update query-engine-api.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/query-engine-api.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1014 Hotfixes for 4.3.0
  docs/developer-docs/latest/developer-resources/database-apis-reference/query-engine-api.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/graphql.md
Labels: source: developer-docs, pr: internal, target: v4, size: small, pr: code fix

#1015 🔥 Hotfixes for 4.3.0
  docs/developer-docs/latest/development/typescript.md
  docs/developer-docs/latest/plugins/upload.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small

#1016 Fix Google App Engine documentation
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.md
Labels: source: developer-docs, target: v4, size: medium, pr: code fix
