Repository strapi/documentation, pull requests merged in 2022-04, with the labels that each got.

#827 Fix typo
  docs/developer-docs/latest/developer-resources/cli/CLI.md
Labels: source: developer-docs, type: typo, target:v4, flag: next-deployment, size: small

#829 TypeScript documentation for Dev Docs
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
Labels: flag: don't merge, source: developer-docs, type: internal, type: new content, target:v4

#831 Updated telemetry opt-out
  docs/developer-docs/latest/getting-started/usage-information.md
Labels: source: developer-docs, type: internal, target:v4, flag: next-deployment, size: small

#838 Include APP_KEYS in Heroku Deployment Guide - fix #807
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
Labels: source: developer-docs, type: doc request, target:v4, flag: next-deployment, size: small

#846 Update azure.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
Labels: source: developer-docs, target:v4, size: small, type: chore

#801 Updates to v3 → v4 SQL migration
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/data/sql.md
Labels: source: developer-docs, type: updated content, type: internal, target: beta docs

#835 Typescript documentation
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/developer-resources/error-handling.md
  docs/developer-docs/latest/development/admin-customization.md
  docs/developer-docs/latest/development/backend-customization/policies.md
  docs/developer-docs/latest/getting-started/troubleshooting.md
  docs/developer-docs/latest/plugins/email.md
  docs/developer-docs/latest/plugins/graphql.md
  docs/developer-docs/latest/plugins/upload.md
  docs/developer-docs/latest/plugins/users-permissions.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/api-tokens.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/api.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/cronjobs.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/environment.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/plugins.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/rbac.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/sso.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/admin-panel.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/server.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
  docs/developer-docs/latest/setup-deployment-guides/deployment/optional-software/snippets/strapi-server.md
  docs/developer-docs/latest/setup-deployment-guides/file-structure.md
  docs/developer-docs/latest/setup-deployment-guides/typescript.md
Labels: source: developer-docs, type: internal, target:v4, size: large

#832 make render.com hosting guide work with strapi version >= v4.0.6
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/render.md
Labels: source: developer-docs, type: doc request, type: updated content, target:v4, size: small

#850 Add additional commands for Heroku environment variables config
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
Labels: source: developer-docs, target:v4, size: small, type: code fix

#805 remove API_TOKEN_SALT from the env table
  docs/developer-docs/latest/setup-deployment-guides/configurations/optional/environment.md
Labels: source: developer-docs, type: internal, target:v4, size: small

#860 Update routes.md
  docs/developer-docs/latest/development/backend-customization/routes.md
Labels: source: developer-docs, status: waiting-for-CLA, target:v4, size: small

#818 [v4 migration] MongoDB additions to data migration guide
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/data-migration.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/data/mongo-sql-cheatsheet.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/data/mongo.md
Labels: source: developer-docs, type: internal, type: new content, target:v4, size: large

#828 Callout for unsupported v4 Docker image
  docs/developer-docs/latest/setup-deployment-guides/installation/docker.md
Labels: source: developer-docs, type: doc request, type: updated content, target:v4, size: small
