Repository strapi/documentation, pull requests merged in 2023-07, with the labels that each got.

#1766 Describe review workflows webhook payload change
  docusaurus/docs/dev-docs/backend-customization/webhooks.md
  docusaurus/docs/dev-docs/migration-guides.md
Labels: flag: merge pending release

#1767 Mark the ts auto type generation as experimental
  docusaurus/docs/dev-docs/configurations/typescript.md
Labels: source: Dev Docs, pr: fix, flag: merge pending release

#1775 Updated docker to use Node 18 LTS
  docusaurus/docs/dev-docs/installation/docker.md
Labels: source: Dev Docs, pr: chore

#1774 API Requests - Multi Language Switcher
  docusaurus/docs/dev-docs/api/rest/relations.md
  docusaurus/src/components/MultiLanguageSwitcher/MultiLanguageSwitcher.jsx
  docusaurus/src/components/MultiLanguageSwitcher/MultiLanguageSwitcherRequest.jsx
  docusaurus/src/components/MultiLanguageSwitcher/MultiLanguageSwitcherResponse.jsx
  docusaurus/src/components/MultiLanguageSwitcher/index.js
  docusaurus/src/components/MultiLanguageSwitcher/multi-language-switcher.module.scss
  docusaurus/src/theme/MDXComponents.js
Labels: internal

#1764 chore: remove time-interval from CTB advanced settings
  docusaurus/docs/user-docs/content-type-builder/configuring-fields-content-type.md
Labels: source: User Guide, pr: updated content

#1777 Update controllers.md
  docusaurus/docs/dev-docs/backend-customization/controllers.md
Labels: source: Dev Docs, pr: chore

#1782 Remove 'unique' setting from enumeration fields in CTB
  docusaurus/docs/user-docs/content-type-builder/configuring-fields-content-type.md
Labels: source: User Guide, pr: chore

#1783 Add missing `webhooks.populateRelations` to server configuration
  docusaurus/docs/dev-docs/configurations/server.md
Labels: source: Dev Docs, pr: chore

#1733 Border on Dark Mode images/screenshots
  docusaurus/src/scss/__index.scss
  docusaurus/src/scss/images.scss
Labels: internal

#1779 Fix TypeScript-related instructions in plugins development documentation
  docusaurus/docs/dev-docs/plugins-development.md
Labels: source: Dev Docs, pr: chore

#1785 Clarify external database usage
  docusaurus/docs/cloud/getting-started/deployment.md
Labels: pr: chore, source: Strapi Cloud

#1788 doc: migrate files without folder path
  docusaurus/docs/dev-docs/migration-guides.md
  docusaurus/docs/dev-docs/migration/v4/migration-guide-4.7.0-to-4.11.4.md
Labels: pr: new content, flag: migration guide

#1791 Fix `errors` import from `@strapi/utils` in Error handling documentation
  docusaurus/docs/dev-docs/error-handling.md
Labels: source: Dev Docs, pr: chore

#1792 internal: Annotation component
  docusaurus/src/components/Annotation/Annotation.jsx
  docusaurus/src/components/Annotation/annotation.module.scss
  docusaurus/src/components/Annotation/index.js
  docusaurus/src/hooks/index.js
  docusaurus/src/hooks/useClickAway.js
  docusaurus/src/scss/_base.scss
  docusaurus/src/theme/MDXComponents.js
Labels: internal

#1756 New API layout
  docusaurus/docs/dev-docs/api/rest.md
  docusaurus/docs/dev-docs/api/rest/filters-locale-publication.md
  docusaurus/docs/dev-docs/api/rest/interactive-query-builder.md
  docusaurus/docs/dev-docs/api/rest/parameters.md
  docusaurus/docs/dev-docs/api/rest/populate-select.md
  docusaurus/docs/dev-docs/api/rest/relations.md
  docusaurus/docs/dev-docs/api/rest/sort-pagination.md
  docusaurus/sidebars.js
  docusaurus/src/components/Annotation/Annotation.jsx
  docusaurus/src/components/Annotation/annotation.module.scss
  docusaurus/src/components/Annotation/index.js
  docusaurus/src/components/MultiLanguageSwitcher/MultiLanguageSwitcher.jsx
  docusaurus/src/components/MultiLanguageSwitcher/MultiLanguageSwitcherRequest.jsx
  docusaurus/src/components/MultiLanguageSwitcher/MultiLanguageSwitcherResponse.jsx
  docusaurus/src/components/MultiLanguageSwitcher/index.js
  docusaurus/src/components/MultiLanguageSwitcher/multi-language-switcher.module.scss
  docusaurus/src/components/SideBySide/SideBySideColumn/SideBySideColumn.jsx
  docusaurus/src/components/SideBySide/SideBySideColumn/side-by-side-column.module.scss
  docusaurus/src/components/SideBySide/SideBySideContainer/SideBySideContainer.jsx
  docusaurus/src/components/SideBySide/SideBySideContainer/side-by-side-container.module.scss
  docusaurus/src/components/SideBySide/index.js
  docusaurus/src/components/index.js
  docusaurus/src/hooks/index.js
  docusaurus/src/hooks/useClickAway.js
  docusaurus/src/scss/_base.scss
  docusaurus/src/scss/code.scss
  docusaurus/src/theme/MDXComponents.js
Labels: flag: don't merge, source: Dev Docs, pr: new content

#1793 Enhancement: Add RBAC settings for multiple review workflows
  docusaurus/docs/user-docs/users-roles-permissions/configuring-administrator-roles.md
Labels: source: User Guide, pr: updated content, internal, target: next, size: small

#1797 Error in the example of using "customFields"
  docusaurus/docs/dev-docs/custom-fields.md
Labels: source: Dev Docs, pr: chore

#1798 Fix typo in Usage & Billing docs
  docusaurus/docs/cloud/getting-started/usage-billing.md
Labels: pr: typo, internal, source: Strapi Cloud

#1698 Improvements to the Backend customization introduction
  docusaurus/docs/dev-docs/api/entity-service.md
  docusaurus/docs/dev-docs/api/query-engine.md
  docusaurus/docs/dev-docs/backend-customization.md
  docusaurus/docs/dev-docs/backend-customization/controllers.md
  docusaurus/docs/dev-docs/backend-customization/middlewares.md
  docusaurus/docs/dev-docs/backend-customization/policies.md
  docusaurus/docs/dev-docs/backend-customization/requests-responses.md
  docusaurus/docs/dev-docs/backend-customization/routes.md
  docusaurus/docs/dev-docs/backend-customization/services.md
  docusaurus/docs/dev-docs/configurations/middlewares.md
  docusaurus/docs/snippets/backend-custom-intro-crosslink.md
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/static/img/assets/backend-customization/diagram-controllers-services.png
  docusaurus/static/img/assets/backend-customization/diagram-global-middlewares.png
  docusaurus/static/img/assets/backend-customization/diagram-requests-responses.png
  docusaurus/static/img/assets/backend-customization/diagram-routes.png
  docusaurus/yarn.lock
Labels: source: Dev Docs, pr: updated content, internal, topic: backend customization

#1778 GitHub repo branch settings
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/settings.png
Labels: flag: merge pending release, internal, pr: new content, source: Strapi Cloud

#1784 Multiple review workflows
  docusaurus/docs/user-docs/settings/review-workflows.md
  docusaurus/docs/user-docs/users-roles-permissions/configuring-administrator-roles.md
  docusaurus/static/img/assets/review-workflows/add-stage.png
  docusaurus/static/img/assets/review-workflows/create-view-dark.png
  docusaurus/static/img/assets/review-workflows/create-view-light.png
  docusaurus/static/img/assets/review-workflows/delete-stage.png
  docusaurus/static/img/assets/review-workflows/edit-view-dark.png
  docusaurus/static/img/assets/review-workflows/edit-view-light.png
  docusaurus/static/img/assets/review-workflows/list-view-dark.png
  docusaurus/static/img/assets/review-workflows/list-view-light.png
Labels: source: User Guide, internal, pr: new content, target: v4, size: small

#1795 Bulk Publish improvements
  docusaurus/docs/user-docs/content-manager/saving-and-publishing-content.md
Labels: source: User Guide, pr: updated content, flag: merge pending release, internal
