Repository strapi/documentation, pull requests merged in 2023-05, with the labels that each got.

#1663 Fix note about default directives in middlewares::security for in-app market
  docusaurus/docs/dev-docs/configurations/middlewares.md
Labels: source: Dev Docs, pr: chore

#1676 Fix typo for dynamic zones in Backend customization > Models
  docusaurus/docs/dev-docs/backend-customization/models.md
Labels: source: Dev Docs, pr: chore

#1683 removed introspection references
  docusaurus/docs/dev-docs/plugins/graphql.md
Labels: source: Dev Docs, pr: chore

#1693 Review Workflows screenshots update
  docusaurus/static/img/assets/content-manager/review-stage-column.png
  docusaurus/static/img/assets/content-manager/review-stage-dropdown.png
Labels: source: User Guide, internal

#1682 add warning for for unknown tables getting deleted
  docusaurus/docs/dev-docs/database-migrations.md
Labels: source: Dev Docs, pr: chore

#1695 Fix usage in services
  docusaurus/docs/dev-docs/backend-customization/services.md
Labels: source: Dev Docs, pr: chore

#1687 Updating styles for Sidebar items
  docusaurus/src/scss/sidebar.scss
Labels: source: repo, internal, pr: chore

#1704 Add an file-icon to the Code Block's title
  docusaurus/src/scss/code-block.scss
Labels: internal

#1712 Remove extraneous commands from docker production example
  docusaurus/docs/dev-docs/installation/docker.md
Labels: source: Dev Docs, pr: chore

#1703 Document the new allowedFields config option
  docusaurus/docs/dev-docs/plugins/users-permissions.md
Labels: flag: 💥 Breaking change, flag: merge pending release

#1714 Add an interactive query builder
  docusaurus/docs/dev-docs/api/rest/interactive-query-builder.md
  docusaurus/docs/dev-docs/api/rest/parameters.md
  docusaurus/docs/snippets/qs-intro-short.md
  docusaurus/package.json
  docusaurus/sidebars.js
  docusaurus/src/components/Button/Button.jsx
  docusaurus/src/components/Button/button.module.scss
  docusaurus/src/components/Form/FormField/FormField.jsx
  docusaurus/src/components/Form/FormField/form-field.module.scss
  docusaurus/src/components/Form/FormFieldHint/FormFieldHint.jsx
  docusaurus/src/components/Form/FormFieldHint/form-field-hint.module.scss
  docusaurus/src/components/Form/FormFieldInput/FormFieldInput.jsx
  docusaurus/src/components/Form/FormFieldInput/form-field-input.module.scss
  docusaurus/src/components/Form/FormFieldLabel/FormFieldLabel.jsx
  docusaurus/src/components/Form/FormFieldLabel/form-field-label.module.scss
  docusaurus/src/components/Form/index.js
  docusaurus/src/components/InteractiveQueryBuilder/InteractiveQueryBuilder.jsx
  docusaurus/src/components/InteractiveQueryBuilder/interactive-query-builder.module.scss
  docusaurus/src/scss/_fonts.scss
  docusaurus/src/scss/admonition.scss
  docusaurus/src/scss/code-block.scss
  docusaurus/src/theme/MDXComponents.js
  docusaurus/yarn.lock
Labels: source: Dev Docs, internal, pr: new content

#1723 Fix middleware not found error by adding 'global::' prefix to custom …
  docusaurus/docs/dev-docs/configurations/middlewares.md
Labels: source: Dev Docs, pr: chore
