Repository strapi/documentation, pull requests merged in 2023-01, with the labels that each got.

#1385 Added --no-cache and --production flags for docker
  docs/developer-docs/latest/setup-deployment-guides/installation/docker.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1382 Add missing parentheses
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/graphql.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1392 Remove the duplicated `of` in the Troubleshooting document
  docs/developer-docs/latest/getting-started/troubleshooting.md
Labels: pr: typo, size: small

#1380 Small issues resolution
  docs/developer-docs/latest/development/backend-customization/policies.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/middlewares.md
Labels: pr: internal

#1397 Remove reference to free plan of Heroku Postgres add-on.
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1363 Docusaurus: Add data management documentation
  docusaurus/docs/dev-docs/data-management.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1300 Docusaurus: add CLI documentation
  docusaurus/docs/dev-docs/cli.md
  docusaurus/docs/dev-docs/data-management.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1343 Docusaurus: add providers
  docusaurus/docs/dev-docs/providers.md
  docusaurus/docs/status.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1411 Fix Typo
  docs/developer-docs/latest/development/admin-customization.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1412 Fix documentation plugin example
  docs/developer-docs/latest/plugins/documentation.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1417 Fix PM2 yarn start command
  docs/developer-docs/latest/setup-deployment-guides/deployment/optional-software/process-manager.md
Labels: pr: internal

#1391 Top navigation bar improvements
  docs/.vuepress/config/theme-config.js
Labels: source: repo, pr: internal, size: small

#1341 Relations reordering: Dev docs updates - alternative
  docs/.vuepress/config/sidebar-developer.js
  docs/developer-docs/latest/developer-resources/database-apis-reference/entity-service/crud.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/query-engine/single-operations.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest-api.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/relations.md
  docs/developer-docs/latest/developer-resources/database-apis-reference/snippets/managing-relations.md
Labels: source: developer-docs, pr: internal, pr: new content, target: v4, size: large

#1410 Postgres database user is granted schema privileges
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/databases.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium

#1286 Adding Audit Logs page to User Guide
  docs/.vuepress/config/sidebar-user.js
  docs/user-docs/latest/assets/settings/settings_audit-logs.png
  docs/user-docs/latest/assets/settings/settings_log-details.png
  docs/user-docs/latest/settings/audit-logs.md
Labels: pr: internal

#1419 VPC Setup + Networking
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.md
Labels: source: developer-docs, pr: updated content, target: v4, size: medium

#1414 Update creation flow for billing mvp
  docs/developer-docs/latest/setup-deployment-guides/assets/deployment/cloud/account-billing.png
  docs/developer-docs/latest/setup-deployment-guides/assets/deployment/cloud/advanced.png
  docs/developer-docs/latest/setup-deployment-guides/assets/deployment/cloud/billing-info.png
  docs/developer-docs/latest/setup-deployment-guides/assets/deployment/cloud/settings-billing.png
  docs/developer-docs/latest/setup-deployment-guides/assets/deployment/cloud/settings-general.png
  docs/developer-docs/latest/setup-deployment-guides/assets/deployment/cloud/settings.png
  docs/developer-docs/latest/setup-deployment-guides/assets/deployment/cloud/settings_variables.png
  docs/developer-docs/latest/setup-deployment-guides/assets/deployment/cloud/welcome-screen.png
  docs/developer-docs/latest/setup-deployment-guides/deployment/strapi-cloud.md
Labels: pr: internal

#1435 🚀 Add FeedbackPlaceholder VuePress component to production
  docs/.vuepress/theme/global-components/FeedbackPlaceholder.vue
  docs/user-docs/latest/content-manager/managing-relational-fields.md
Labels: source: repo, pr: internal, target: v4, size: small

#1436 Tweak rendering of FeedbackPlaceholder widget
  docs/.vuepress/styles/branding.styl
  docs/.vuepress/theme/global-components/FeedbackPlaceholder.vue
Labels: status: can not reproduce, pr: internal, target: v4, size: small

#1420 Remove beta badge from Dev Docs & User Guide for relations reordering
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/relations.md
  docs/user-docs/latest/content-manager/managing-relational-fields.md
Labels: source: developer-docs, source: user-docs, flag: merge pending release, pr: internal, target: v4, size: small

#1326 [Logo customization] Auth logo update
  docs/developer-docs/latest/development/admin-customization.md
  docs/user-docs/latest/assets/settings/settings_custom-logo.png
  docs/user-docs/latest/settings/managing-global-settings.md
Labels: source: developer-docs, pr: updated content, flag: merge pending release, pr: internal, target: v4

#1359 Docusaurus: Backport #1326 - Logo customization
  docusaurus/docs/dev-docs/admin-panel-customization.md
  docusaurus/docs/user-docs/settings/managing-global-settings.md
  docusaurus/static/img/assets/settings/settings_custom-logo.png
Labels: flag: merge pending release, pr: internal, docusaurus

#1442 Update uninstall for plugins
  docs/developer-docs/latest/developer-resources/cli/CLI.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small

#1428 Custom fields wording improvements
  docs/developer-docs/latest/development/custom-fields.md
  docs/user-docs/latest/content-types-builder/configuring-fields-content-type.md
  docs/user-docs/latest/plugins/introduction-to-plugins.md
Labels: pr: internal

#1421 Add data import and export filters to the CLI
  docs/developer-docs/latest/developer-resources/cli/CLI.md
Labels: source: developer-docs, flag: merge pending release, pr: internal, size: medium

#1447 small typo fix
  docs/developer-docs/latest/plugins/users-permissions.md
Labels: source: developer-docs, target: v4, size: small, pr: code fix

#1448 Update README
  README.md
Labels: source: repo, pr: internal, size: small

#1434 CTB: Reword D&P and i18n docs
  docs/user-docs/latest/content-types-builder/creating-new-content-type.md
Labels: source: user-docs, flag: merge pending release, pr: internal, target: v4, size: small, pr: chore

#1445 Fix svelte guide
  docs/developer-docs/latest/developer-resources/content-api/integrations/svelte.md
Labels: source: developer-docs, pr: internal, target: v4, size: small, pr: code fix

#1356 Docusaurus: add intergrations
  docusaurus/docs/dev-docs/integrations.md
  docusaurus/docs/dev-docs/integrations/11ty.md
  docusaurus/docs/dev-docs/integrations/angular.md
  docusaurus/docs/dev-docs/integrations/dart.md
  docusaurus/docs/dev-docs/integrations/flutter.md
  docusaurus/docs/dev-docs/integrations/gatsby.md
  docusaurus/docs/dev-docs/integrations/girdsome.md
  docusaurus/docs/dev-docs/integrations/go.md
  docusaurus/docs/dev-docs/integrations/graphql.md
  docusaurus/docs/dev-docs/integrations/jekyll.md
  docusaurus/docs/dev-docs/integrations/laravel.md
  docusaurus/docs/dev-docs/integrations/next-js.md
  docusaurus/docs/dev-docs/integrations/nuxt-js.md
  docusaurus/docs/dev-docs/integrations/php.md
  docusaurus/docs/dev-docs/integrations/python.md
  docusaurus/docs/dev-docs/integrations/react.md
  docusaurus/docs/dev-docs/integrations/ruby.md
  docusaurus/docs/dev-docs/integrations/sapper.md
  docusaurus/docs/dev-docs/integrations/svelte.md
  docusaurus/docs/dev-docs/integrations/vue-js.md
  docusaurus/docs/status.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1446 Improve 'Create a plugin' steps
  docs/developer-docs/latest/development/plugins-development.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: small

#1394 Refactor Heroku deployment guide
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.md
Labels: source: developer-docs, pr: updated content, pr: internal, target: v4, size: large

#1455 🚀 Production hotfix: Add FeedbackPlaceholder to Relations dev docs
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/relations.md
Labels: pr: internal

#1457 Docusaurus: DEITS update
  docusaurus/docs/dev-docs/data-management.md
Labels: pr: internal, docusaurus

#1456 Update Install-npm-yarn
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/snippets/Install-npm-yarn
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1452 add cron docs
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
Labels: source: developer-docs, pr: updated content

#1462 Update Nuxt 3 integration tutorial
  docs/developer-docs/latest/developer-resources/content-api/integrations/nuxt-js.md
Labels: source: developer-docs, target: v4, size: medium, flag: next deployment

#1465 Docusaurus: Nuxt integration update
  docusaurus/docs/dev-docs/integrations/nuxt-js.md
Labels: pr: internal, docusaurus

#1466 Remove cron caution callout
  docs/developer-docs/latest/developer-resources/plugin-api-reference/server.md
Labels: pr: updated content, pr: internal

#1459 Fix npm commands in the Data Management System
  docs/developer-docs/latest/developer-resources/data-management.md
Labels: source: developer-docs, pr: internal, size: small
