Repository strapi/documentation, pull requests merged in 2023-04, with the labels that each got.

#1640 Fix the params provided to s3.getSignedUrlPromise on providers page
  docusaurus/docs/dev-docs/providers.md
Labels: source: Dev Docs, pr: chore

#1643 Module Error
  docusaurus/docs/dev-docs/configurations/middlewares.md
Labels: source: Dev Docs, pr: chore

#1639 Update URL for creating admin user
  docusaurus/docs/dev-docs/deployment/amazon-aws.md
Labels: source: Dev Docs, pr: chore

#1637 Updated Cloud project creation screens and text to include plan selection
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/static/img/assets/cloud/billing-info.png
  docusaurus/static/img/assets/cloud/connect-with-github.png
  docusaurus/static/img/assets/cloud/login.png
  docusaurus/static/img/assets/cloud/plan-selection.png
  docusaurus/static/img/assets/cloud/trial-confirmation.png
Labels: pr: updated content, source: Strapi Cloud

#1615 Add documentation for GraphQL security and GraphQL armor
  docusaurus/docs/dev-docs/plugins/graphql.md
Labels: source: Dev Docs, pr: new content

#1647 Home page content in an configuration file for better maintenance
  docusaurus/src/components/FeaturesList/FeaturesList.jsx
  docusaurus/src/pages/home/Home.jsx
  docusaurus/src/pages/home/_home.content.js
Labels: internal, target: next

#1545 add strapi debug docs
  docusaurus/docs/dev-docs/cli.md
Labels: flag: merge pending release, pr: new content

#1591 Update heroku.md
  docusaurus/docs/dev-docs/deployment/heroku.md
Labels: source: Dev Docs, pr: chore

#1650 Fix Heroku deployment guide
  docusaurus/docs/dev-docs/deployment/heroku.md
Labels: source: Dev Docs, pr: chore

#1652 Improved use case clarification for API TOKENS
  docusaurus/docs/dev-docs/configurations/api-tokens.md
Labels: source: Dev Docs, pr: chore

#1592 add info on db drivers
  docusaurus/docs/dev-docs/configurations/database.md
Labels: source: Dev Docs, flag: merge pending release, pr: new content

#1653 Fix navbar background behavior at website home page
  docusaurus/src/pages/home/Home.jsx
Labels: internal, pr: chore

#1654 Mention query and route parameters in the Requests/Responses documentation
  docusaurus/docs/dev-docs/backend-customization/requests-responses.md
Labels: source: Dev Docs, pr: chore

#1656 fix: ignore polymorphic relations in 4.5.1 migration
  docusaurus/docs/dev-docs/migration/v4/migration-guide-4.4.5-to-4.5.1.md
Labels: source: Dev Docs, pr: fix, flag: migration guide

#1661 Add a callout to gather feedback for all backend customization pages
  docusaurus/docs/dev-docs/backend-customization.md
  docusaurus/docs/dev-docs/backend-customization/controllers.md
  docusaurus/docs/dev-docs/backend-customization/middlewares.md
  docusaurus/docs/dev-docs/backend-customization/models.md
  docusaurus/docs/dev-docs/backend-customization/policies.md
  docusaurus/docs/dev-docs/backend-customization/requests-responses.md
  docusaurus/docs/dev-docs/backend-customization/routes.md
  docusaurus/docs/dev-docs/backend-customization/services.md
  docusaurus/docs/dev-docs/backend-customization/webhooks.md
  docusaurus/docs/snippets/backend-customization-feedback-cta.md
Labels: source: Dev Docs, internal, pr: chore

#1658 fixed the difference from Quick start
  docusaurus/docs/dev-docs/integrations/next-js.md
Labels: source: Dev Docs, pr: chore

#1659 Add globalProxy option to server config
  docusaurus/docs/dev-docs/configurations/server.md
Labels: source: Dev Docs, flag: merge pending release, internal, pr: new content

#1622 Documentation plugin updates
  docusaurus/docs/dev-docs/plugins/documentation.md
Labels: source: Dev Docs, pr: updated content, flag: merge pending release, internal

#1660 Review Workflows updates (GA)
  docusaurus/docs/dev-docs/admin-panel-customization.md
  docusaurus/docs/dev-docs/cli.md
  docusaurus/docs/dev-docs/configurations/api-tokens.md
  docusaurus/docs/dev-docs/configurations/sso.md
  docusaurus/docs/dev-docs/data-management/transfer.md
  docusaurus/docs/dev-docs/plugins/i18n.md
  docusaurus/docs/user-docs/content-manager/reviewing-content.md
  docusaurus/docs/user-docs/content-manager/translating-content.md
  docusaurus/docs/user-docs/content-type-builder/managing-content-types.md
  docusaurus/docs/user-docs/intro.md
  docusaurus/docs/user-docs/plugins/strapi-plugins.md
  docusaurus/docs/user-docs/settings/API-tokens.md
  docusaurus/docs/user-docs/settings/admin-panel.md
  docusaurus/docs/user-docs/settings/audit-logs.md
  docusaurus/docs/user-docs/settings/internationalization.md
  docusaurus/docs/user-docs/settings/managing-global-settings.md
  docusaurus/docs/user-docs/settings/media-library-settings.md
  docusaurus/docs/user-docs/settings/review-workflows.md
  docusaurus/docs/user-docs/settings/single-sign-on.md
  docusaurus/docs/user-docs/settings/transfer-tokens.md
  docusaurus/sidebars.js
  docusaurus/src/pages/home/_home.content.js
  docusaurus/static/img/assets/content-manager/review-stage-column.png
  docusaurus/static/img/assets/content-manager/review-stage-dropdown.png
  docusaurus/static/img/assets/review-workflows/review-workflows.png
Labels: source: User Guide, flag: merge pending release, internal

#1662 Add documentation for inputSize to Custom Fields dev docs
  docusaurus/docs/dev-docs/custom-fields.md
Labels: source: Dev Docs, pr: updated content, flag: merge pending release, internal

#1664 Clarify how to access the Documentation plugin UI
  docusaurus/docs/dev-docs/plugins/documentation.md
  docusaurus/static/img/assets/icons/documentation-plugin.svg
Labels: source: Dev Docs, pr: updated content

#1665 Update warning and warning location
  docusaurus/docs/dev-docs/plugins-extension.md
Labels: source: Dev Docs, pr: chore

#1655 Configuration guide for external DB on Strapi Cloud
  docusaurus/docs/cloud/advanced/database.md
  docusaurus/sidebars.js
Labels: internal, pr: new content, source: Strapi Cloud
