Repository strapi/documentation, pull requests merged in 2023-11, with the labels that each got.

#1904 Update Strapi Examples reference
  docusaurus/docs/dev-docs/plugins/users-permissions.md
Labels: source: Dev Docs, pr: updated content, internal, target: v4, size: small

#1902 Update the CLI commands & approach to watching
  docusaurus/docs/dev-docs/admin-panel-customization.md
  docusaurus/docs/dev-docs/cli.md
  docusaurus/docs/dev-docs/plugins/developing-plugins.md
Labels: source: Dev Docs, pr: chore

#1909 Blocks improvements: keyboard shortcuts & React renderer
  docusaurus/docs/user-docs/content-manager/writing-content.md
  docusaurus/docs/user-docs/content-type-builder/configuring-fields-content-type.md
Labels: source: User Guide, pr: updated content, flag: merge pending release, internal

#1903 Add http.serverOptions config
  docusaurus/docs/dev-docs/configurations/server.md
Labels: source: Dev Docs, pr: chore

#1910 chore(cli): update develop command
  docusaurus/docs/dev-docs/cli.md
Labels: source: Dev Docs, pr: chore

#1918 Update middlewares.md
  docusaurus/docs/dev-docs/backend-customization/examples/middlewares.md
Labels: source: Dev Docs, pr: chore

#1916 Remove beta badge for React Renderer (stable release)
  docusaurus/docs/user-docs/content-type-builder/configuring-fields-content-type.md
Labels: source: User Guide, pr: updated content, internal, temp: port to v5

#1917 Strapi Cloud: GitLab login provider
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/cloud/login.png
  docusaurus/static/img/assets/cloud/login_DARK.png
Labels: pr: updated content, internal, source: Strapi Cloud, temp: port to v5

#1911 New Dev Docs introduction
  docusaurus/docs/dev-docs/advanced-features.md
  docusaurus/docs/dev-docs/community.md
  docusaurus/docs/dev-docs/intro.md
  docusaurus/docs/dev-docs/quick-start.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, pr: updated content, v5

#1926 Fix node.js article URL
  docusaurus/docs/dev-docs/configurations/environment.md
Labels: source: Dev Docs, pr: chore

#1931 Fix code examples in custom fields documentation
  docusaurus/docs/dev-docs/custom-fields.md
  docusaurus/docs/user-docs/plugins/introduction-to-plugins.md
Labels: source: Dev Docs, pr: chore

#1927 Strapi Cloud: free trial without credit card
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/static/img/assets/cloud/project-creation-1.png
  docusaurus/static/img/assets/cloud/project-creation-1_DARK.png
  docusaurus/static/img/assets/cloud/project-creation-2.png
  docusaurus/static/img/assets/cloud/project-creation-2_DARK.png
Labels: pr: updated content, flag: merge pending release, internal, source: Strapi Cloud, temp: port to v5
