Repository strapi/documentation, pull requests merged in 2023-02, with the labels that each got.

#1468 Docusaurus: error handling
  docusaurus/docs/dev-docs/error-handling.md
  docusaurus/docs/status.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1464 Docusaurus: Deployment guides
  docusaurus/docs/dev-docs/deployment.md
  docusaurus/docs/dev-docs/deployment/amazon-aws.md
  docusaurus/docs/dev-docs/deployment/azure.md
  docusaurus/docs/dev-docs/deployment/caddy-proxy.md
  docusaurus/docs/dev-docs/deployment/digitalocean-app-platform.md
  docusaurus/docs/dev-docs/deployment/digitalocean.md
  docusaurus/docs/dev-docs/deployment/haproxy-proxy.md
  docusaurus/docs/dev-docs/deployment/heroku.md
  docusaurus/docs/dev-docs/deployment/hosting-guides.md
  docusaurus/docs/dev-docs/deployment/nginx-proxy.md
  docusaurus/docs/dev-docs/deployment/optional-software-guides.md
  docusaurus/docs/dev-docs/deployment/process-manager.md
  docusaurus/docs/dev-docs/deployment/snippets-proxy/admin-redirect.md
  docusaurus/docs/dev-docs/deployment/snippets-proxy/strapi-server.md
  docusaurus/docs/dev-docs/deployment/snippets-proxy/subfolder-split-warning.md
  docusaurus/docs/snippets/database-require.md
  docusaurus/docs/snippets/hardware-require.md
  docusaurus/docs/snippets/operating-system-require.md
  docusaurus/docs/status.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1476 Test client-side redirection
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/yarn.lock
Labels: source: repo, pr: internal, docusaurus

#1357 user-permissions plugin: document how to add Patreon as an Oauth prov…
  docs/developer-docs/latest/plugins/users-permissions.md
Labels: source: developer-docs, pr: updated content, size: medium

#1484 Fix broken links reported in issue #1423
  docs/developer-docs/latest/developer-resources/error-handling.md
  docs/developer-docs/latest/developer-resources/unit-testing.md
Labels: pr: fix, pr: internal, size: small

#1485 🚀 Production hotfix: Fix broken links in Error Handling and Unit Testing docs
  docs/developer-docs/latest/developer-resources/database-apis-reference/rest/filtering-locale-publication.md
  docs/developer-docs/latest/developer-resources/error-handling.md
  docs/developer-docs/latest/developer-resources/unit-testing.md
  docs/developer-docs/latest/plugins/users-permissions.md
Labels: pr: internal

#1478 Update quick-start.md
  docs/developer-docs/latest/getting-started/quick-start.md
Labels: source: developer-docs, pr: updated content, target: v4, size: small

#1477 Docusaurus: Add relations reordering (dev docs)
  docusaurus/docs/dev-docs/api/rest/relations.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1133 Move sizeLimit one level above in upload provider
  docs/developer-docs/latest/development/providers.md
  docs/developer-docs/latest/plugins/upload.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.5.1-to-4.6.1.md
Labels: source: developer-docs, pr: updated content, flag: merge pending release, pr: internal, flag: migration guide

#1430 Add server webhooks populateRelations config variable
  docs/developer-docs/latest/development/providers.md
  docs/developer-docs/latest/plugins/upload.md
  docs/developer-docs/latest/setup-deployment-guides/configurations/required/server.md
  docs/developer-docs/latest/update-migration-guides/migration-guides.md
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.5.1-to-4.6.1.md
Labels: pr: internal

#1480 Fix/Update Azure deployment docs - App runtime version/syntax and SQL firewall rule syntax
  docs/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.md
Labels: source: developer-docs, pr: updated content, size: small

#1472 Docusaurus: add update version page
  .vscode/settings.json
  docusaurus/docs/dev-docs/migration-guides.md
  docusaurus/docs/dev-docs/update-version.md
  docusaurus/docs/snippets/build-npm-yarn.md
  docusaurus/docs/snippets/develop-npm-yarn.md
  docusaurus/docs/snippets/install-npm-yarn.md
  docusaurus/docs/status.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1487 Fix link in v3->v4 migration guide
  docs/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/policies.md
Labels: pr: internal

#1482 Docusaurus: add Patreon to U&P plugin
  docusaurus/docs/dev-docs/plugins/users-permissions.md
Labels: flag: merge pending release, pr: internal, docusaurus

#1488 Docusaurus:update azure guide
  docusaurus/docs/dev-docs/deployment/azure.md
Labels: pr: updated content, pr: internal, docusaurus

#1486 Add transfer tokens to the User Guide
  docs/user-docs/latest/assets/settings/settings_create-transfer-token.png
  docs/user-docs/latest/assets/settings/settings_transfer-token.png
  docs/user-docs/latest/settings/managing-global-settings.md
  docs/user-docs/latest/users-roles-permissions/configuring-administrator-roles.md
Labels: source: user-docs, pr: internal

#1374 [DEITS] add transfer documentation
  docs/developer-docs/latest/developer-resources/cli/CLI.md
  docs/developer-docs/latest/developer-resources/data-management.md
  docs/user-docs/latest/assets/settings/settings_create-transfer-token.png
  docs/user-docs/latest/assets/settings/settings_transfer-token.png
  docs/user-docs/latest/settings/managing-global-settings.md
  docs/user-docs/latest/users-roles-permissions/configuring-administrator-roles.md
Labels: pr: internal, replicate with docu

#1491 Docusaurus: Add v3 → v4 plugin migration pages
  docusaurus/docs/dev-docs/api/rest/sort-pagination.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/plugin-migration.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/plugin/enable-plugin.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/plugin/migrate-back-end.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/plugin/migrate-front-end.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/plugin/update-folder-structure.md
  docusaurus/docs/snippets/codemods-modify-source-code.md
  docusaurus/docs/snippets/plugin-migration-intro.md
  docusaurus/docs/status.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1475 Docusaurus: add migration and v4 migration guides
  docusaurus/docs/dev-docs/migration-guides.md
  docusaurus/docs/dev-docs/migration-guides/code-migration.md
  docusaurus/docs/dev-docs/migration-guides/data-migration.md
  docusaurus/docs/dev-docs/migration-guides/migration-guide-4.0.0-to-4.0.6.md
  docusaurus/docs/dev-docs/migration-guides/migration-guide-4.0.6-to-4.1.8.md
  docusaurus/docs/dev-docs/migration-guides/migration-guide-4.1.8-to-4.1.10.md
  docusaurus/docs/dev-docs/migration-guides/migration-guide-4.2.x-to-4.3.x.md
  docusaurus/docs/dev-docs/migration-guides/migration-guide-4.3.6-to-4.3.8.md
  docusaurus/docs/dev-docs/migration-guides/migration-guide-4.4.3-to-4.4.5.md
  docusaurus/docs/dev-docs/migration-guides/migration-guide-4.4.5-to-4.5.1.md
  docusaurus/docs/dev-docs/migration-guides/plugin-migration.md
  docusaurus/docs/dev-docs/update-version.md
  docusaurus/docs/snippets/build-npm-yarn.md
  docusaurus/docs/snippets/develop-npm-yarn.md
  docusaurus/docs/snippets/migrate-plugins-extension-caution.md
  docusaurus/docs/status.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1481 Docusaurus: add code migration guide
  docusaurus/docs/dev-docs/migration/v3-to-v4/code-migration.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/backend.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/configuration.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/content-type-schema.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/controllers.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/dependencies.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/frontend.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/global-middlewares.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/graphql.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/policies.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/route-middlewares.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/routes.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/services.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/strapi-global.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/theming.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/translations.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/webpack.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/wysiwyg.md
  docusaurus/docs/status.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1350 Docusaurus: add Project structure
  docusaurus/docs/dev-docs/project-structure.md
  docusaurus/docs/status.md
  docusaurus/sidebars.js
  docusaurus/src/components/ProjectStructure.js
  docusaurus/src/css/project-structure.css
Labels: pr: internal, docusaurus

#1505 Fix docs for plugin install uninstall cli
  docs/developer-docs/latest/developer-resources/cli/CLI.md
Labels: pr: internal, size: small, replicate with docu

#1470 Fix some file path in code blocks in chapter Lifecycle Hooks
  docs/developer-docs/latest/development/backend-customization/models.md
Labels: source: developer-docs, size: small, pr: code fix, replicate with docu

#1503 Review workflows Alpha docs
  docs/.vuepress/config/sidebar-user.js
  docs/user-docs/latest/assets/content-manager/review-stage-column.png
  docs/user-docs/latest/assets/content-manager/review-stage-dropdown.png
  docs/user-docs/latest/assets/content-types-builder/advanced-settings.png
  docs/user-docs/latest/assets/content-types-builder/basic-settings.png
  docs/user-docs/latest/assets/review-workflows/add-stage.png
  docs/user-docs/latest/assets/review-workflows/delete-stage.png
  docs/user-docs/latest/assets/review-workflows/review-workflows.png
  docs/user-docs/latest/content-manager/reviewing-content.md
  docs/user-docs/latest/content-types-builder/managing-content-types.md
  docs/user-docs/latest/settings/audit-logs.md
  docs/user-docs/latest/settings/review-workflows.md
Labels: replicate with docu

#1516 Docusaurus: Fix upload plugin documentation
  docusaurus/docs/dev-docs/plugins/upload.md
Labels: pr: internal, docusaurus

#1515 Add custom fields docs to Docu.
  docusaurus/docs/dev-docs/custom-fields.md
  docusaurus/docs/snippets/custom-field-requires-plugin.md
  docusaurus/sidebars.js
Labels: pr: internal, docusaurus

#1519 Move Algolia scraper config to new Algolia project
  .github/workflows/deploy-production.yml
Labels: source: repo, pr: internal

#1530 🚀 Production hotfixes: CSS, README and contribution guides (🥚 🤫 )
  CONTRIBUTING.md
  README.md
  docusaurus/README.md
  docusaurus/docusaurus.config.js
  docusaurus/src/css/main.css
  docusaurus/static/img/strapi.png
  docusaurus/static/js/particleProfiles.js
Labels: pr: internal

#1531 Port #1479 to Docusaurus
  docusaurus/docs/dev-docs/deployment/heroku.md
Labels: pr: internal

#1532 🚀 Production hotfix: Heroku deployment guide
  docusaurus/docs/dev-docs/deployment/heroku.md
Labels: pr: internal

#1533 🚀 Tiny production hotfix to test worflows
  docusaurus/docs/dev-docs/intro.md
Labels: pr: internal

#1535 🚀 Production hotfixes: Project structure + redirections
  docusaurus/src/components/ProjectStructure.js
  docusaurus/src/css/badges.css
  docusaurus/src/css/code-blocks.css
  docusaurus/vercel.json
Labels: pr: internal

#1502 Refactor data management
  docusaurus/docs/dev-docs/cli.md
  docusaurus/docs/dev-docs/data-management.md
  docusaurus/docs/dev-docs/data-management/export.md
  docusaurus/docs/dev-docs/data-management/import.md
  docusaurus/docs/dev-docs/data-management/transfer.md
  docusaurus/docs/user-docs/settings/managing-global-settings.md
  docusaurus/sidebars.js
Labels: flag: merge pending release, pr: internal

#1540 Add basic sanitation to the controller docs
  docusaurus/docs/dev-docs/backend-customization/controllers.md
Labels: pr: internal

#1546 🚀 Production release: Strapi Docs v4.7
  docusaurus/docs/dev-docs/api/plugins/server-api.md
  docusaurus/docs/dev-docs/api/rest/filters-locale-publication.md
  docusaurus/docs/dev-docs/backend-customization/controllers.md
  docusaurus/docs/dev-docs/cli.md
  docusaurus/docs/dev-docs/configurations/cron.md
  docusaurus/docs/dev-docs/data-management.md
  docusaurus/docs/dev-docs/data-management/export.md
  docusaurus/docs/dev-docs/data-management/import.md
  docusaurus/docs/dev-docs/data-management/transfer.md
  docusaurus/docs/user-docs/settings/managing-global-settings.md
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/sidebars.js
  docusaurus/static/img/strapiicon.png
  docusaurus/static/js/ball.js
  docusaurus/static/js/bar.js
  docusaurus/static/js/firework.js
  docusaurus/static/js/game.js
  docusaurus/static/js/particle.js
  docusaurus/static/js/particleProfiles.js
  docusaurus/vercel.json
Labels: pr: internal

#1549 Port missing #1538 changes to DEITS documentation
  docusaurus/docs/dev-docs/configurations/environment.md
  docusaurus/docs/dev-docs/data-management/export.md
  docusaurus/docs/dev-docs/data-management/transfer.md
Labels: pr: internal
