Repository strapi/documentation, pull requests merged in 2023-03, with the labels that each got.

#1556 🚀 Production hotfix: Remove old Strapi Cloud deployment page
  docusaurus/docs/dev-docs/deployment/strapi-cloud.md
Labels: pr: internal

#1576 🚀 Production hotfixes: Middlewares
  docusaurus/docs/dev-docs/configurations/middlewares.md
  docusaurus/docs/dev-docs/deployment/snippets-proxy/admin-redirect.md
Labels: pr: internal

#1584 Fix 404s
  docusaurus/src/components/ProjectStructure.js
  docusaurus/vercel.json
Labels: pr: internal

#1583 CONTRIBUTING.md updates (WIP)
  CONTRIBUTING.md
  STYLE_GUIDE.pdf
Labels: source: repo, pr: internal

#1590 Internal: Docusaurus upgrade
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/src/components/AlphaBadge.js
  docusaurus/src/components/Badge.js
  docusaurus/src/components/BetaBadge.js
  docusaurus/src/components/EnterpriseBadge.js
  docusaurus/src/scss/__index.scss
  docusaurus/src/scss/badge.scss
  docusaurus/src/scss/medium-zoom.scss
  docusaurus/src/theme/Admonition.js
  docusaurus/src/theme/Admonition/Types.js
  docusaurus/src/theme/Admonition/index.js
  docusaurus/src/theme/MDXComponents.js
  docusaurus/yarn.lock
Labels: pr: internal

#1587 Mention content types are private by default
  docusaurus/docs/dev-docs/api/rest.md
Labels: source: Dev Docs, pr: updated content, pr: chore

#1594 Update README and CONTRIBUTING guide
  CONTRIBUTING.md
  README.md
Labels: pr: updated content, source: repo

#1595 Fix sanitizeQuery method name
  docusaurus/docs/dev-docs/backend-customization/controllers.md
Labels: source: Dev Docs, pr: updated content, internal

#1596 Fix sanitize code example in controllers documentation
  docusaurus/docs/dev-docs/backend-customization/controllers.md
Labels: source: Dev Docs, pr: fix

#1597 Update graphql.md `is not null`
  docusaurus/docs/dev-docs/api/graphql.md
Labels: source: Dev Docs, pr: chore

#1599 Add support to 'New ✨' badge on Sidebar items via customProps.new
  docusaurus/src/components/Badge.js
  docusaurus/src/scss/badge.scss
  docusaurus/src/scss/sidebar.scss
  docusaurus/src/theme/Admonition/index.js
  docusaurus/src/theme/DocSidebarItem/Category/index.js
  docusaurus/src/theme/DocSidebarItem/Html/index.js
  docusaurus/src/theme/DocSidebarItem/Html/styles.module.css
  docusaurus/src/theme/DocSidebarItem/Link/index.js
  docusaurus/src/theme/DocSidebarItem/Link/styles.module.css
Labels: source: repo, internal, pr: chore

#1602 Change the required version to 4.8.1
  docusaurus/docs/cloud/getting-started/deployment.md
Labels: pr: updated content, source: Strapi Cloud

#1610 Update transfer.md - Correct the basic npm command
  docusaurus/docs/dev-docs/data-management/transfer.md
Labels: source: Dev Docs, pr: chore

#1613 Fix npm version
  docusaurus/docs/snippets/installation-prerequisites.md
Labels: source: Dev Docs, pr: chore

#1612 Fix custom-fields.md: value → defaultValue
  docusaurus/docs/dev-docs/custom-fields.md
Labels: source: Dev Docs, pr: chore

#1600 Make 3rd level TOC items expanded by default + autocollapse siblings
  docusaurus/docusaurus.config.js
  docusaurus/sidebars.js
Labels: source: repo, pr: chore

#1604 Add transfer "pull" (`from`) to Data Management System documentation
  docusaurus/docs/dev-docs/cli.md
  docusaurus/docs/dev-docs/data-management.md
  docusaurus/docs/dev-docs/data-management/transfer.md
  docusaurus/docs/user-docs/settings/managing-global-settings.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/settings/settings_create-transfer-token.png
Labels: source: Dev Docs, flag: merge pending release, pr: new content

#1607 Add Notifications & Project overview
  docusaurus/docs/cloud/getting-started/caching.md
  docusaurus/docs/cloud/projects/notifications.md
  docusaurus/docs/cloud/projects/overview.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/notification-center.png
  docusaurus/static/img/assets/icons/notifications.svg
Labels: flag: merge pending release, pr: new content, source: Strapi Cloud

#1619 Mention in user guide that a salt should be defined for data transfer to work
  docusaurus/docs/user-docs/settings/managing-global-settings.md
Labels: source: User Guide, pr: chore

#1621 Mention API tokens configuration in REST API documentation introduction
  docusaurus/docs/dev-docs/api/rest.md
Labels: source: Dev Docs, pr: chore

#1623 Camelcase TypeScript word
  docusaurus/docs/dev-docs/typescript.md
Labels: source: Dev Docs, pr: chore

#1625 Fix docs for controllers (backend customization)
  docusaurus/docs/dev-docs/backend-customization/controllers.md
Labels: source: Dev Docs, pr: chore

#1626 Update populate-select.md
  docusaurus/docs/dev-docs/api/rest/populate-select.md
Labels: source: Dev Docs, pr: chore

#1630 Fix styles for inline code inside links in dark mode
  docusaurus/src/scss/code.scss
Labels: internal

#1601 Add documentation on how to create private providers
  docusaurus/docs/dev-docs/providers.md
Labels: source: Dev Docs, pr: updated content, flag: merge pending release, internal

#1624 Add error class documentation for `NotImplemented`
  docusaurus/docs/dev-docs/error-handling.md
Labels: source: Dev Docs, pr: updated content, flag: merge pending release, internal

#1618 Review Workflows updates
  docusaurus/docs/user-docs/content-manager/reviewing-content.md
  docusaurus/docs/user-docs/content-type-builder/creating-new-content-type.md
  docusaurus/docs/user-docs/settings/review-workflows.md
  docusaurus/docs/user-docs/users-roles-permissions/configuring-administrator-roles.md
Labels: source: User Guide, pr: updated content, flag: merge pending release, internal

#1631 Mention environment variables prefixed by `STRAPI_ADMIN_` are accessible to the front end
  docusaurus/docs/dev-docs/configurations/environment.md
Labels: source: Dev Docs, internal, pr: chore

#1617 New Home Page
  docusaurus/docs/dev-docs/intro.md
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/src/components/Button/Button.jsx
  docusaurus/src/components/Button/button.module.scss
  docusaurus/src/components/Card/Card.jsx
  docusaurus/src/components/Card/card.module.scss
  docusaurus/src/components/Carousel/Carousel.jsx
  docusaurus/src/components/Carousel/carousel.module.scss
  docusaurus/src/components/Container/Container.jsx
  docusaurus/src/components/Container/container.module.scss
  docusaurus/src/components/FeaturesList/FeaturesList.jsx
  docusaurus/src/components/FeaturesList/features-list.module.scss
  docusaurus/src/components/Hero/Hero.jsx
  docusaurus/src/components/Hero/hero.module.scss
  docusaurus/src/components/LinkWithArrow/LinkWithArrow.jsx
  docusaurus/src/components/LinkWithArrow/link-with-arrow.module.scss
  docusaurus/src/components/SearchBar/SearchBar.jsx
  docusaurus/src/components/SearchBar/search-bar.module.scss
  docusaurus/src/components/index.js
  docusaurus/src/pages/home/Home.jsx
  docusaurus/src/pages/home/home.module.scss
  docusaurus/src/pages/index.js
  docusaurus/src/scss/__index.scss
  docusaurus/src/scss/_fonts.scss
  docusaurus/src/scss/_tokens-overrides.scss
  docusaurus/src/scss/grid.scss
  docusaurus/src/scss/navbar.scss
  docusaurus/src/scss/sidebar.scss
  docusaurus/static/img/assets/home/carousel-background--cloud.png
  docusaurus/static/img/assets/home/preview--dev-docs.jpg
  docusaurus/static/img/assets/home/preview--user-guides.jpg
  docusaurus/static/img/assets/icons/arrow-right.svg
  docusaurus/static/img/assets/icons/chevron-left.svg
  docusaurus/static/img/assets/icons/chevron-right.svg
  docusaurus/static/img/assets/icons/code.svg
  docusaurus/static/img/assets/icons/feather.svg
  docusaurus/yarn.lock
Labels: source: repo, internal, pr: new content

#1634 Pluralized 'runLifecyclesFunction'
  docusaurus/docs/dev-docs/typescript.md
Labels: source: Dev Docs, pr: chore

#1636 Fix text, screenshots and GIFs in Quick Start Guide
  docusaurus/docs/dev-docs/quick-start.md
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-categories.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part1-01-admin_panel.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part1-01-admin_panel_2.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part2-03-restaurant.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part2-04-roles.png
Labels: source: Dev Docs, pr: chore
