Repository strapi/documentation, pull requests merged in 2023-09, with the labels that each got.

#1838 Add audit logs migration between 4.6.0 and 4.6.1
  docusaurus/docs/dev-docs/migration/v4/migration-guide-4.5.1-to-4.6.1.md
Labels: source: Dev Docs, pr: updated content, size: small

#1847 Update all screenshots in Strapi Cloud docs + Add Dark Mode versions
  docusaurus/docs/cloud/account/settings.md
  docusaurus/docs/cloud/advanced/database.md
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/cloud/projects/notifications.md
  docusaurus/docs/cloud/projects/overview.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/cancel-subscription-modal.png
  docusaurus/static/img/assets/cloud/cancel-subscription-modal_DARK.png
  docusaurus/static/img/assets/cloud/deploy-logs.png
  docusaurus/static/img/assets/cloud/deploy-logs_DARK.png
  docusaurus/static/img/assets/cloud/deploy_logs.png
  docusaurus/static/img/assets/cloud/deploy_logs_DARK.png
  docusaurus/static/img/assets/cloud/deploys.png
  docusaurus/static/img/assets/cloud/deploys_DARK.png
  docusaurus/static/img/assets/cloud/edit-subscription-modal.png
  docusaurus/static/img/assets/cloud/edit-subscription-modal_DARK.png
  docusaurus/static/img/assets/cloud/manage-subscriptions.png
  docusaurus/static/img/assets/cloud/manage-subscriptions_DARK.png
  docusaurus/static/img/assets/cloud/notification-center.png
  docusaurus/static/img/assets/cloud/notification-center_DARK.png
  docusaurus/static/img/assets/cloud/overview.png
  docusaurus/static/img/assets/cloud/overview_DARK.png
  docusaurus/static/img/assets/cloud/project-creation-1.png
  docusaurus/static/img/assets/cloud/project-creation-1_DARK.png
  docusaurus/static/img/assets/cloud/project-creation-2_DARK.png
  docusaurus/static/img/assets/cloud/project_list.png
  docusaurus/static/img/assets/cloud/project_list_DARK.png
  docusaurus/static/img/assets/cloud/settings.png
  docusaurus/static/img/assets/cloud/settings_DARK.png
  docusaurus/static/img/assets/cloud/settings_billing.png
  docusaurus/static/img/assets/cloud/settings_billing_DARK.png
  docusaurus/static/img/assets/cloud/settings_domains.png
  docusaurus/static/img/assets/cloud/settings_domains_DARK.png
  docusaurus/static/img/assets/cloud/settings_variables.png
  docusaurus/static/img/assets/cloud/settings_variables_DARK.png
Labels: pr: updated content, internal, source: Strapi Cloud

#1851 Add props table for custom field input components
  docusaurus/docs/dev-docs/custom-fields.md
Labels: source: Dev Docs, pr: new content

#1680 add examples for strapi middlewares/controllers to graphql docs
  docusaurus/docs/dev-docs/plugins/graphql.md
Labels: source: Dev Docs, pr: updated content

#1857 Billing page screenshots update in Strapi Cloud project creation guide
  docusaurus/sidebars.js
  docusaurus/static/img/assets/cloud/project-creation-2.png
  docusaurus/static/img/assets/cloud/project-creation-2_DARK.png
Labels: pr: updated content, flag: merge pending release, internal, source: Strapi Cloud

#1856 Project deletion update in Strapi Cloud docs
  docusaurus/docs/cloud/projects/settings.md
Labels: pr: updated content, flag: merge pending release, internal, source: Strapi Cloud

#1849 New section introductions with conceptual information
  docusaurus/docs/dev-docs/api/content-api.md
  docusaurus/docs/dev-docs/api/entity-service.md
  docusaurus/docs/dev-docs/api/plugins/admin-panel-api.md
  docusaurus/docs/dev-docs/api/plugins/server-api.md
  docusaurus/docs/dev-docs/api/query-engine.md
  docusaurus/docs/dev-docs/configurations.md
  docusaurus/docs/dev-docs/configurations/admin-panel.md
  docusaurus/docs/dev-docs/configurations/api-tokens.md
  docusaurus/docs/dev-docs/configurations/api.md
  docusaurus/docs/dev-docs/configurations/cron.md
  docusaurus/docs/dev-docs/configurations/database.md
  docusaurus/docs/dev-docs/configurations/environment.md
  docusaurus/docs/dev-docs/configurations/functions.md
  docusaurus/docs/dev-docs/configurations/guides/access-cast-environment-variables.md
  docusaurus/docs/dev-docs/configurations/guides/access-configuration-values.md
  docusaurus/docs/dev-docs/configurations/middlewares.md
  docusaurus/docs/dev-docs/configurations/plugins.md
  docusaurus/docs/dev-docs/configurations/public-assets.md
  docusaurus/docs/dev-docs/configurations/rbac.md
  docusaurus/docs/dev-docs/configurations/server.md
  docusaurus/docs/dev-docs/configurations/sso.md
  docusaurus/docs/dev-docs/configurations/typescript.md
  docusaurus/docs/dev-docs/customization.md
  docusaurus/docs/dev-docs/deployment.md
  docusaurus/docs/dev-docs/deployment/hosting-guides.md
  docusaurus/docs/dev-docs/deployment/optional-software-guides.md
  docusaurus/docs/dev-docs/installation.md
  docusaurus/docs/dev-docs/plugins.md
  docusaurus/docs/dev-docs/plugins/developing-plugins.md
  docusaurus/docs/dev-docs/plugins/using-plugins.md
  docusaurus/docs/dev-docs/project-structure.md
  docusaurus/docs/dev-docs/setup-deployment.md
  docusaurus/docs/dev-docs/update-version.md
  docusaurus/docs/snippets/community-deployment-guides.md
  docusaurus/docs/snippets/consider-strapi-cloud.md
  docusaurus/sidebars.js
  docusaurus/src/components/CustomDocCard.js
  docusaurus/src/components/CustomDocCardsWrapper.js
  docusaurus/src/components/ProjectStructure.js
  docusaurus/src/components/ProjectStructureConfigFiles.js
  docusaurus/src/scss/__index.scss
  docusaurus/src/scss/_base.scss
  docusaurus/src/scss/custom-doc-cards.scss
  docusaurus/src/theme/MDXComponents.js
Labels: source: Dev Docs, pr: new content, size: large

#1852 Migration guide for v4.14.0
  docusaurus/docs/dev-docs/migration-guides.md
  docusaurus/docs/dev-docs/migration/v4/migration-guide-4.11.4-to-4.14.0.md
Labels: source: Dev Docs, pr: new content

#1840 Update User Guide for Review Workflows to include RBAC for stages
  docusaurus/docs/user-docs/settings/review-workflows.md
  docusaurus/static/img/assets/review-workflows/edit-view-dark.png
  docusaurus/static/img/assets/review-workflows/edit-view-light.png
Labels: source: User Guide, pr: updated content, internal, size: small
