Repository strapi/documentation, pull requests merged in 2023-10, with the labels that each got.

#1842 Add documentation for third-party upload providers for Strapi Cloud
  .markdownlint.jsonc
  docusaurus/docs/cloud/advanced/upload.md
  docusaurus/sidebars.js
Labels: source: Strapi Cloud

#1841 add docs for custom cloud email
  docusaurus/docs/cloud/advanced/email.md
  docusaurus/sidebars.js
Labels: pr: new content, source: Strapi Cloud

#1826 Update Strapi Cloud docs for Multiple Auth MVP (Google auth)
  docusaurus/docs/cloud/account/settings.md
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/cloud/projects/collaboration.md
  docusaurus/static/img/assets/cloud/login.png
  docusaurus/static/img/assets/cloud/login_DARK.png
  docusaurus/static/img/assets/cloud/settings-general.png
  docusaurus/static/img/assets/cloud/settings-general_DARK.png
Labels: pr: updated content, flag: merge pending release, source: Strapi Cloud

#1870 Update Node.js install snippet on AWS Deployment page
  docusaurus/docs/dev-docs/deployment/amazon-aws.md
Labels: source: Dev Docs, pr: chore

#1869 Update routes.md with typo fix
  docusaurus/docs/dev-docs/backend-customization/examples/routes.md
Labels: pr: chore

#1866 New Blocks Rich Text editor documentation
  docusaurus/docs/user-docs/content-manager/writing-content.md
  docusaurus/docs/user-docs/content-type-builder/configuring-fields-content-type.md
  docusaurus/static/img/assets/content-type-builder/fields-selection.png
  docusaurus/static/img/assets/content-type-builder/fields-selection_DARK.png
  docusaurus/static/img/assets/icons/ctb_richtextblocks.svg
Labels: source: User Guide, pr: updated content, internal

#1865 Templates documentation for Strapi Cloud
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/static/img/assets/cloud/project-creation-1.png
  docusaurus/static/img/assets/cloud/project-creation-1_DARK.png
  docusaurus/static/img/assets/cloud/template-modal.png
  docusaurus/static/img/assets/cloud/template-modal_DARK.png
Labels: internal, pr: new content, source: Strapi Cloud

#1878 Cloud backups: tip for already existing projects
  docusaurus/docs/cloud/projects/settings.md
Labels: pr: updated content, internal, source: Strapi Cloud

#1873 Add badges for Cloud-related plans
  docusaurus/src/components/Badge.js
  docusaurus/src/scss/badge.scss
  docusaurus/src/theme/MDXComponents.js
Labels: source: repo, internal

#1882 Fix `ctx.request.params` description
  docusaurus/docs/dev-docs/backend-customization/requests-responses.md
Labels: source: Dev Docs, pr: chore

#1883 Fix exports in providers code examples
  docusaurus/docs/dev-docs/providers.md
Labels: source: Dev Docs, pr: chore

#1850 Content Source Map plugin
  docusaurus/docs/dev-docs/plugins/content-source-map.md
  docusaurus/docs/dev-docs/plugins/using-plugins.md
  docusaurus/docs/snippets/content-source-map-requirements.md
  docusaurus/docs/user-docs/content-manager/writing-content.md
  docusaurus/docs/user-docs/plugins/strapi-plugins.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/content-manager/content-source-map-visual-editing.png
Labels: source: Dev Docs, source: User Guide, internal, pr: new content

#1887 Update supported databases
  docusaurus/docs/dev-docs/configurations/database.md
  docusaurus/docs/dev-docs/installation/cli.md
  docusaurus/docs/snippets/database-require.md
  docusaurus/docs/snippets/operating-system-require.md
Labels: v5

#1890 Clarify that server's plugin and admin's pluginId must match when defining a custom field in a plugin
  docusaurus/docs/dev-docs/custom-fields.md
Labels: source: Dev Docs, pr: chore, temp: port to v5

#1892 Document MySQL v5 support drop in v5
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/mysql5-unsupported.md
  docusaurus/sidebars.js
Labels: v5

#1885 Update README introduction to mention issues vs. requests + various websites
  README.md
Labels: source: repo, pr: chore

#1895 Rich Text Editor Blocks - User Guide updates for stable version
  docusaurus/docs/user-docs/content-manager/writing-content.md
  docusaurus/docs/user-docs/content-type-builder/configuring-fields-content-type.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/content-type-builder/fields-selection.png
  docusaurus/static/img/assets/content-type-builder/fields-selection_DARK.png
Labels: source: User Guide, pr: updated content, flag: merge pending release, internal, temp: port to v5

#1894 Strapi Cloud: document automatic reactivation after project suspension
  docusaurus/docs/cloud/getting-started/usage-billing.md
  docusaurus/sidebars.js
Labels: pr: updated content, flag: merge pending release, internal, source: Strapi Cloud, temp: port to v5

#1899 Add throttle flag to DTS transfer
  docusaurus/docs/dev-docs/data-management/transfer.md
Labels: source: Dev Docs, internal, target: v4, size: small
