Repository strapi/documentation, pull requests merged in 2023-12, with the labels that each got.

#1937 Fix code example for TS in controllers.md
  docusaurus/docs/dev-docs/backend-customization/controllers.md
Labels: source: Dev Docs, pr: chore

#1944 Fix start file TypeScript example in pm2 documentation
  docusaurus/docs/dev-docs/deployment/process-manager.md
Labels: source: Dev Docs, pr: chore

#1942 Strapi Cloud: GitLab as new git provider + new signup page
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/cloud/getting-started/intro.md
  docusaurus/docs/cloud/projects/overview.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/login.png
  docusaurus/static/img/assets/cloud/login_DARK.png
  docusaurus/static/img/assets/cloud/project-creation-1.png
  docusaurus/static/img/assets/cloud/project-creation-1_DARK.png
  docusaurus/static/img/assets/cloud/project-creation-2.png
  docusaurus/static/img/assets/cloud/project-creation-2_DARK.png
  docusaurus/static/img/assets/cloud/projects-empty.png
  docusaurus/static/img/assets/cloud/projects-empty_DARK.png
Labels: pr: updated content, flag: merge pending release, internal, source: Strapi Cloud

#1950 Style improvement for the internal doc component <Annotation>
  docusaurus/src/components/Annotation/Annotation.jsx
  docusaurus/src/components/Annotation/annotation.module.scss
  docusaurus/src/scss/table.scss
Labels: issue: docs/ux

#1952 Update project structure to mention the new auto-generated .strapi folder
  docusaurus/src/components/ProjectStructure.js
Labels: source: Dev Docs, pr: updated content

#1898 Add Kapa AI Widget with no theme controls
  .editorconfig
  docusaurus/docusaurus.config.js
  docusaurus/src/scss/__index.scss
  docusaurus/src/scss/kapa.scss
  docusaurus/static/img/strapi-logo.png
Labels: v5

#1953 Mention that admin users and tokens aren't transferred with the data management system
  docusaurus/docs/dev-docs/data-management/transfer.md
Labels: source: Dev Docs, pr: chore

#1922 Rework and expand Plugins Development section
  docusaurus/docs/dev-docs/api/plugins/admin-panel-api.md
  docusaurus/docs/dev-docs/api/plugins/server-api.md
  docusaurus/docs/dev-docs/configurations/functions.md
  docusaurus/docs/dev-docs/plugins/developing-plugins.md
  docusaurus/docs/dev-docs/plugins/development/create-a-plugin.md
  docusaurus/docs/dev-docs/plugins/development/plugin-structure.md
  docusaurus/docs/dev-docs/plugins/guides/marketplace.md
  docusaurus/docs/dev-docs/plugins/guides/pass-data-from-server-to-admin.md
  docusaurus/docs/dev-docs/plugins/guides/store-and-access-data.md
  docusaurus/sidebars.js
  docusaurus/src/components/PluginStructure.js
  docusaurus/src/components/ReusableAnnotationComponents/ReusableAnnotationComponents.jsx
  docusaurus/src/theme/MDXComponents.js
  docusaurus/static/img/assets/development/generate-plugin-content-type.png
Labels: source: Dev Docs, pr: new content, topic: backend customization, temp: port to v5

#1945 Upgrade tool
  docusaurus/docs/dev-docs/update-migration.md
  docusaurus/docs/dev-docs/update-version.md
  docusaurus/docs/dev-docs/upgrade-tool.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/update-migration/version-numbers.png
  docusaurus/static/img/assets/update-migration/version-numbers_dark.png
Labels: source: Dev Docs, v5

#1935 Document Service
  docusaurus/docs/dev-docs/api/content-apis.md
  docusaurus/docs/dev-docs/api/document-service.md
  docusaurus/docs/dev-docs/api/document-service/filters.md
  docusaurus/docs/dev-docs/api/document-service/populate.md
  docusaurus/docs/dev-docs/api/document-service/select.md
  docusaurus/docs/dev-docs/api/document-service/sort-pagination.md
  docusaurus/docs/dev-docs/api/document.md
  docusaurus/docs/dev-docs/api/entity-service.md
  docusaurus/docs/dev-docs/api/entity-service/components-dynamic-zones.md
  docusaurus/docs/dev-docs/api/entity-service/crud.md
  docusaurus/docs/dev-docs/api/entity-service/filter.md
  docusaurus/docs/dev-docs/api/entity-service/order-pagination.md
  docusaurus/docs/dev-docs/api/entity-service/populate.md
  docusaurus/docs/dev-docs/api/query-engine.md
  docusaurus/docs/dev-docs/api/query-engine/single-operations.md
  docusaurus/docs/dev-docs/backend-customization.md
  docusaurus/docs/dev-docs/backend-customization/services.md
  docusaurus/docs/dev-docs/error-handling.md
  docusaurus/docs/dev-docs/plugins/server-api.md
  docusaurus/docs/snippets/entity-query-knex.md
  docusaurus/docs/snippets/entity-service-deprecated.md
  docusaurus/docs/snippets/recommend-entity-service.md
  docusaurus/package.json
  docusaurus/sidebars.js
  docusaurus/src/components/ReusableAnnotationComponents/ReusableAnnotationComponents.jsx
  docusaurus/src/scss/navbar.scss
  docusaurus/src/scss/sidebar.scss
  docusaurus/src/theme/MDXComponents.js
  docusaurus/static/img/assets/apis/document.png
Labels: source: Dev Docs, pr: new content, v5

#1956 Improve custom controller examples
  docusaurus/docs/dev-docs/backend-customization/controllers.md
Labels: source: Dev Docs, pr: updated content, topic: backend customization

#1920 Releases
  docusaurus/docs/cloud/getting-started/usage-billing.md
  docusaurus/docs/dev-docs/configurations.md
  docusaurus/docs/dev-docs/configurations/features.md
  docusaurus/docs/user-docs/content-manager/adding-content-to-releases.md
  docusaurus/docs/user-docs/intro.md
  docusaurus/docs/user-docs/releases/creating-a-release.md
  docusaurus/docs/user-docs/releases/introduction.md
  docusaurus/docs/user-docs/releases/managing-a-release.md
  docusaurus/docs/user-docs/users-roles-permissions/configuring-administrator-roles.md
  docusaurus/sidebars.js
  docusaurus/src/components/Badge.js
  docusaurus/src/components/ProjectStructureConfigFiles.js
  docusaurus/src/scss/badge.scss
  docusaurus/src/theme/MDXComponents.js
  docusaurus/static/img/assets/icons/more.svg
  docusaurus/static/img/assets/icons/releases.svg
  docusaurus/static/img/assets/releases/new-release.png
  docusaurus/static/img/assets/releases/new-release_DARK.png
  docusaurus/static/img/assets/releases/release-cm-edit-view.png
  docusaurus/static/img/assets/releases/release-cm-edit-view_DARK.png
  docusaurus/static/img/assets/releases/release-details.png
  docusaurus/static/img/assets/releases/release-details_DARK.png
  docusaurus/static/img/assets/releases/releases-overview.png
  docusaurus/static/img/assets/releases/releases-overview_DARK.png
  docusaurus/static/more.svg
Labels: source: User Guide, pr: new content

#1959 Fix incorrect examples of PolicyError
  docusaurus/docs/dev-docs/backend-customization/examples/policies.md
  docusaurus/docs/dev-docs/error-handling.md
Labels: source: Dev Docs, pr: updated content

#1960 Add warning about websockets and remove outdated warning
  docusaurus/docs/dev-docs/data-management/transfer.md
Labels: source: Dev Docs, pr: updated content, target: v4, size: small, temp: port to v5
