Repository strapi/documentation, pull requests merged in 2023-08, with the labels that each got.

#1806 Display updated sections in the table of content
  docusaurus/sidebars.js
  docusaurus/src/components/Badge.js
  docusaurus/src/scss/badge.scss
  docusaurus/src/theme/DocSidebarItem/Category/index.js
  docusaurus/src/theme/DocSidebarItem/Html/index.js
  docusaurus/src/theme/DocSidebarItem/Link/index.js
Labels: source: repo, pr: new content, pr: chore

#1761 Update documentation for Node 14 -> 20
  docusaurus/docs/dev-docs/deployment.md
  docusaurus/docs/dev-docs/deployment/amazon-aws.md
  docusaurus/docs/dev-docs/migration/v3-to-v4/code/dependencies.md
  docusaurus/docs/snippets/installation-prerequisites.md
Labels: source: Dev Docs, flag: merge pending release, internal, pr: chore

#1804 Add `nei` filter operator to REST API docs
  docusaurus/docs/dev-docs/api/entity-service/filter.md
  docusaurus/docs/dev-docs/api/query-engine/filtering.md
  docusaurus/docs/dev-docs/api/rest/filters-locale-publication.md
Labels: source: Dev Docs, pr: new content

#1803 Clarify configuration example for RBAC
  docusaurus/docs/dev-docs/configurations/rbac.md
Labels: source: Dev Docs, pr: chore

#1809 Improve collected data usage and GDPR wording
  docusaurus/docs/dev-docs/usage-information.md
Labels: source: repo, pr: chore

#1794 Strapi Cloud: Account deletion
  docusaurus/docs/cloud/account/settings.md
  docusaurus/static/img/assets/cloud/account-billing2.png
  docusaurus/static/img/assets/cloud/account-billing2_DARK.png
  docusaurus/static/img/assets/cloud/account-deletion.png
  docusaurus/static/img/assets/cloud/account-deletion_DARK.png
  docusaurus/static/img/assets/cloud/account-preferences.png
  docusaurus/static/img/assets/cloud/account-preferences_DARK.png
Labels: internal, pr: new content, source: Strapi Cloud

#1814 Strapi Cloud: Region setting
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/plan-selection.png
  docusaurus/static/img/assets/cloud/plan-selection_DARK.png
  docusaurus/static/img/assets/cloud/setup.png
  docusaurus/static/img/assets/cloud/setup_DARK.png
Labels: pr: updated content, internal, target: v4, source: Strapi Cloud

#1812 Chore: Add docs for `STRAPI_ENFORCE_SOURCEMAPS` env variable
  docusaurus/docs/dev-docs/configurations/environment.md
Labels: source: Dev Docs, internal, size: small, pr: chore

#1800 Strapi Cloud: Collaboration & Shared projects
  docusaurus/docs/cloud/projects/collaboration.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/cloud/collaboration-dialog.png
  docusaurus/static/img/assets/cloud/collaboration-dialog_DARK.png
  docusaurus/static/img/assets/cloud/collaboration-projectview.png
  docusaurus/static/img/assets/cloud/collaboration-projectview_DARK.png
Labels: internal, pr: new content, target: v4, source: Strapi Cloud

#1827 Explicitly repeat to include the `/admin` part in transfer URLs examples
  docusaurus/docs/dev-docs/data-management/transfer.md
Labels: source: Dev Docs, pr: chore

#1816 Add is-owner policy equivalent to middlewares documentation
  docusaurus/docs/dev-docs/backend-customization/middlewares.md
Labels: source: Dev Docs, internal, pr: new content

#1822 Chore: Update admin panel menu component API documentation
  docusaurus/docs/dev-docs/api/plugins/admin-panel-api.md
Labels: source: Dev Docs, internal, size: small, pr: code fix

#1830 Remove warning that no longer applies to transfer
  docusaurus/docs/dev-docs/data-management/transfer.md
Labels: source: Dev Docs, internal, size: small, pr: chore

#1832 fixed production docker npm misconfiguration
  docusaurus/docs/dev-docs/installation/docker.md
Labels: source: Dev Docs, pr: chore

#1824 Update Content Manager list view settings
  docusaurus/docs/user-docs/content-manager/introduction-to-content-manager.md
  docusaurus/static/img/assets/content-manager/content-manager_displayed-fields.png
  docusaurus/static/img/assets/content-manager/content-manager_displayed-fields_DARK.png
  docusaurus/static/img/assets/content-manager/content-manager_filters.png
  docusaurus/static/img/assets/content-manager/content-manager_filters_DARK.png
  docusaurus/static/img/assets/content-manager/content-manager_list-view.png
  docusaurus/static/img/assets/content-manager/content-manager_list-view_DARK.png
Labels: source: User Guide, pr: updated content

#1820 Add validate utility
  docusaurus/docs/dev-docs/api/rest/parameters.md
  docusaurus/docs/dev-docs/backend-customization/controllers.md
Labels: source: Dev Docs, pr: updated content, internal

#1776 Update content manager docs to include review workflow assignee information
  docusaurus/docs/dev-docs/backend-customization/webhooks.md
  docusaurus/docs/user-docs/content-manager/reviewing-content.md
  docusaurus/docs/user-docs/content-type-builder/managing-content-types.md
  docusaurus/static/img/assets/content-manager/review-assignee-dropdown.png
  docusaurus/static/img/assets/content-manager/review-stage-column.png
  docusaurus/static/img/assets/content-manager/review-stage-dropdown.png
  docusaurus/static/img/assets/content-manager/review-workflow-list-view.png
Labels: source: User Guide, internal, pr: new content

#1815 Mention auto-focussing of fields in Custom Fields documentation
  docusaurus/docs/dev-docs/custom-fields.md
Labels: source: Dev Docs, pr: feature release, internal, pr: new content
