Repository strapi/documentation, pull requests merged in 2024-11, with the labels that each got.

#2278 Move custom cloud provider config warnings higher
  docusaurus/docs/cloud/advanced/database.md
  docusaurus/docs/cloud/advanced/email.md
  docusaurus/docs/cloud/advanced/upload.md
  docusaurus/package.json
Labels: pr: fix, internal, size: small, source: Strapi Cloud

#2266 Add API Reference and Guides for TypeScript in docs
  .gitignore
  docusaurus/docs/dev-docs/typescript/development.md
  docusaurus/docs/dev-docs/typescript/development/api-reference.md
  docusaurus/docs/dev-docs/typescript/development/guides.md
  docusaurus/docs/dev-docs/typescript/development/guides/documents-and-entries.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, internal, pr: new content

#2284 Fix discardDraft() Document Service API example
  docusaurus/docs/dev-docs/api/document-service.md
Labels: source: Dev Docs, pr: fix

#2285 Fix locale param. example in Interactive Query Builder
  docusaurus/docs/dev-docs/api/rest/interactive-query-builder.md
Labels: source: Dev Docs, pr: fix

#2286 Fix outdated mention of Gold plan in SSO docs
  docusaurus/docs/dev-docs/configurations/sso.md
Labels: source: Dev Docs, pr: chore

#2287 Fix typo in example code for injectComponent in Admin Panel API docs
  docusaurus/docs/dev-docs/plugins/admin-panel-api.md
Labels: source: Dev Docs, pr: fix

#2289 Release notes script
  docusaurus/release-notes-script.sh
Labels: source: repo, pr: chore

#2290 Add new Cloud regions
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/static/img/assets/cloud/project-creation-1.png
  docusaurus/static/img/assets/cloud/project-creation-1_DARK.png
Labels: pr: updated content, source: Strapi Cloud

#2283 Add useTypescriptMigrations
  docusaurus/docs/dev-docs/configurations/database.md
Labels: flag: merge pending release, pr: new content

#2277 fix(controllers): :memo: list correct paths to custom sanitization methods
  docusaurus/docs/dev-docs/backend-customization/controllers.md
Labels: source: Dev Docs, pr: updated content, temp: port to doc6

#2262 Update credit cards handling
  docusaurus/docs/cloud/account/account-billing.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/account-billing2.png
  docusaurus/static/img/assets/cloud/account-billing2_DARK.png
  docusaurus/static/img/assets/cloud/project-creation-2.png
  docusaurus/static/img/assets/cloud/project-creation-2_DARK.png
Labels: pr: chore, source: Strapi Cloud

#2282 Add `strapi cloud environment link` to Cloud CLI
  docusaurus/docs/cloud/cli/cloud-cli.md
Labels: pr: new content, source: Strapi Cloud

#2292 chore: add restoration timestamp to docs and ressources
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/settings_backups.png
  docusaurus/static/img/assets/cloud/settings_backups_DARK.png
Labels: pr: chore, source: Strapi Cloud

#2296 Collapse prerequisites and display step 1 in Quick Start Guide
  docusaurus/docs/dev-docs/quick-start.md
Labels: source: Dev Docs, pr: chore

#2276 🎨 Design fixes for the new design
  docusaurus/src/components/Card/card.module.scss
  docusaurus/src/pages/home/home.module.scss
  docusaurus/src/scss/badge.scss
  docusaurus/src/scss/custom-doc-cards.scss
  docusaurus/src/scss/custom-search-bar.scss
  docusaurus/src/scss/icons.scss
  docusaurus/src/scss/sidebar.scss
Labels: source: repo

#2297 chore: deleted old cloud assets
  docusaurus/static/img/assets/cloud/account-billing.png
  docusaurus/static/img/assets/cloud/account-deletion.png
  docusaurus/static/img/assets/cloud/account-deletion_DARK.png
  docusaurus/static/img/assets/cloud/add-addons.png
  docusaurus/static/img/assets/cloud/advanced.png
  docusaurus/static/img/assets/cloud/billing-info.png
  docusaurus/static/img/assets/cloud/cancel-subscription-modal.png
  docusaurus/static/img/assets/cloud/cancel-subscription-modal_DARK.png
  docusaurus/static/img/assets/cloud/connect-with-github.png
  docusaurus/static/img/assets/cloud/deploys.png
  docusaurus/static/img/assets/cloud/deploys_DARK.png
  docusaurus/static/img/assets/cloud/edit-subscription-modal.png
  docusaurus/static/img/assets/cloud/edit-subscription-modal_DARK.png
  docusaurus/static/img/assets/cloud/edit-subscription.png
  docusaurus/static/img/assets/cloud/import.png
  docusaurus/static/img/assets/cloud/manage-login.png
  docusaurus/static/img/assets/cloud/manage-subscriptions.png
  docusaurus/static/img/assets/cloud/manage-subscriptions_DARK.png
  docusaurus/static/img/assets/cloud/plan-selection.png
  docusaurus/static/img/assets/cloud/plan-selection_DARK.png
  docusaurus/static/img/assets/cloud/projects_empty.png
  docusaurus/static/img/assets/cloud/settings_usage.png
  docusaurus/static/img/assets/cloud/setup.png
  docusaurus/static/img/assets/cloud/setup_DARK.png
  docusaurus/static/img/assets/cloud/subscription-details.png
  docusaurus/static/img/assets/cloud/trial-confirmation.png
  docusaurus/static/img/assets/cloud/welcome-screen.png
Labels: pr: chore, source: Strapi Cloud
