Repository strapi/documentation, pull requests merged in 2024-12, with the labels that each got.

#2305 Update cross-link to U&P plugin from dev docs routes documentation
  docusaurus/docs/dev-docs/backend-customization/routes.md
Labels: source: Dev Docs, pr: chore

#2300 Strapi Cloud: Rename project
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/settings.png
  docusaurus/static/img/assets/cloud/settings_DARK.png
Labels: flag: merge pending release, internal, pr: new content, source: Strapi Cloud

#2307 Mention Preview is under a feature flag
  docusaurus/docs/dev-docs/configurations/features.md
  docusaurus/docs/user-docs/content-manager/previewing-content.md
Labels: source: Dev Docs, pr: chore

#2308 Fixing unit testing docs for Strapi 5
  docusaurus/docs/dev-docs/testing.md
Labels: source: Dev Docs, size: small, pr: chore, pr: code fix, v5

#2303 First iteration of Growth plan
  docusaurus/docs/cloud/getting-started/cloud-fundamentals.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/docs/dev-docs/backend-customization/webhooks.md
  docusaurus/docs/dev-docs/community.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/license-only.md
  docusaurus/docs/user-docs/content-manager/adding-content-to-releases.md
  docusaurus/docs/user-docs/content-manager/working-with-content-history.md
  docusaurus/docs/user-docs/getting-started/user-guide-fundamentals.md
  docusaurus/docs/user-docs/plugins/strapi-plugins.md
  docusaurus/docs/user-docs/releases/creating-a-release.md
  docusaurus/docs/user-docs/releases/introduction.md
  docusaurus/docs/user-docs/releases/managing-a-release.md
  docusaurus/sidebars.js
  docusaurus/src/components/Badge.js
  docusaurus/src/scss/badge.scss
  docusaurus/src/theme/MDXComponents.js
Labels: source: repo, pr: new content

#2318 Fix SDK plugin init command example in the SDK reference
  docusaurus/docs/dev-docs/plugins/development/plugin-sdk.md
Labels: source: Dev Docs, pr: fix, pr: chore

#2320 fix locale prerequisites
  docusaurus/docs/dev-docs/api/rest/filters-locale-publication.md
Labels: source: Dev Docs, pr: fix, temp: port to doc6

#2319 fix wrong import
  docusaurus/docs/dev-docs/migration/v4-to-v5/additional-resources/helper-plugin.md
Labels: source: Dev Docs, pr: fix, temp: port to doc6

#2317 SDK beta callout
  docusaurus/docs/dev-docs/api/rest.md
Labels: source: Dev Docs, pr: chore

#2322 Mention new admin panel homepage and update screenshots
  docusaurus/docs/user-docs/intro.md
  docusaurus/static/img/assets/getting-started/admin-panel-homepage-2.png
  docusaurus/static/img/assets/getting-started/admin-panel-homepage-2_DARK.png
Labels: flag: don't merge, source: User Guide, pr: updated content

#2323 Adding notes about GitLab groups
  docusaurus/docs/cloud/account/account-settings.md
  docusaurus/docs/cloud/getting-started/deployment-cli.md
  docusaurus/docs/cloud/getting-started/deployment.md
Labels: pr: chore, source: Strapi Cloud

#2326 Add section about importing env vars
  docusaurus/docs/cloud/projects/settings.md
Labels: pr: chore, source: Strapi Cloud

#2332 Use yarn/npm tabs in Strapi CLI examples
  docusaurus/docs/dev-docs/cli.md
Labels: source: Dev Docs, pr: chore
