Repository strapi/documentation, pull requests merged in 2024-07, with the labels that each got.

#2139 Add link to blog post about using `fetch()` with the REST API
  docusaurus/docs/dev-docs/api/rest/guides/intro.md
Labels: source: Dev Docs, pr: new content

#2140 Add FAQ entry about Strapi Cloud upgrade
  docusaurus/docs/dev-docs/faq.md
Labels: source: Dev Docs, pr: new content

#2138 Custom U&P providers
  docusaurus/docs/dev-docs/configurations/functions.md
  docusaurus/docs/dev-docs/plugins/users-permissions.md
Labels: v5

#2133 Update QSG to match new CLI behavior
  docusaurus/docs/dev-docs/quick-start.md
Labels: source: Dev Docs, pr: updated content, flag: merge pending release, temp: port to v5

#2142 AI bot improvements
  docusaurus/docusaurus.config.js
  docusaurus/src/scss/navbar.scss
Labels: source: repo, v5

#2144 feat(cli): strapi projects
  docusaurus/docs/cloud/cli/cloud-cli.md
Labels: flag: merge pending release, source: Strapi Cloud

#2148 Update REST API additional resources with new links and call to write
  docusaurus/docs/dev-docs/api/rest/guides/intro.md
Labels: source: Dev Docs, pr: new content, v5

#2149 Add link to article about REST API and CDN
  docusaurus/docs/dev-docs/api/rest/guides/intro.md
Labels: source: Dev Docs, pr: new content

#2151 Extend new/updated badges usage to sections
  docusaurus/docs/cloud/cli/cloud-cli.md
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/docs/dev-docs/api/rest/guides/intro.md
  docusaurus/sidebars.js
  docusaurus/src/theme/MDXComponents.js
Labels: source: repo, v5

#2147 List to Strapi Cloud projects from Cloud CLI
  docusaurus/docs/cloud/cli/cloud-cli.md
Labels: flag: merge pending release, pr: new content, source: Strapi Cloud, temp: port to v5

#2152 Link existing projects to Strapi Cloud projects from the Cloud CLI
  docusaurus/docs/cloud/cli/cloud-cli.md
Labels: pr: new content, source: Strapi Cloud, temp: port to v5

#2154 Port existing Cloud docs content from v4 website to Strapi 5 website — July 2024 update
  docusaurus/docs/cloud/account/account-billing.md
  docusaurus/docs/cloud/account/account-settings.md
  docusaurus/docs/cloud/advanced/database.md
  docusaurus/docs/cloud/cli/cloud-cli.md
  docusaurus/docs/cloud/getting-started/cloud-fundamentals.md
  docusaurus/docs/cloud/getting-started/deployment-cli.md
  docusaurus/docs/cloud/getting-started/deployment-options.md
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/cloud/getting-started/intro.md
  docusaurus/docs/cloud/getting-started/usage-billing.md
  docusaurus/docs/cloud/projects/collaboration.md
  docusaurus/docs/cloud/projects/deploys.md
  docusaurus/docs/cloud/projects/overview.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/docs/snippets/invoices-statuses.md
  docusaurus/static/img/assets/cloud/account-billing2.png
  docusaurus/static/img/assets/cloud/account-billing2_DARK.png
  docusaurus/static/img/assets/cloud/account-invoices.png
  docusaurus/static/img/assets/cloud/account-invoices_DARK.png
  docusaurus/static/img/assets/cloud/account-preferences.png
  docusaurus/static/img/assets/cloud/account-preferences_DARK.png
  docusaurus/static/img/assets/cloud/login.png
  docusaurus/static/img/assets/cloud/login_DARK.png
  docusaurus/static/img/assets/cloud/project-creation-1.png
  docusaurus/static/img/assets/cloud/project-creation-1_DARK.png
  docusaurus/static/img/assets/cloud/settings-general.png
  docusaurus/static/img/assets/cloud/settings-general_DARK.png
  docusaurus/static/img/assets/cloud/settings.png
  docusaurus/static/img/assets/cloud/settings_DARK.png
  docusaurus/static/img/assets/cloud/settings_backups.png
  docusaurus/static/img/assets/cloud/settings_backups_DARK.png
  docusaurus/static/img/assets/cloud/settings_billing.png
  docusaurus/static/img/assets/cloud/settings_billing_DARK.png
  docusaurus/static/img/assets/cloud/settings_domains.png
  docusaurus/static/img/assets/cloud/settings_domains_DARK.png
  docusaurus/static/img/assets/cloud/settings_invoices.png
  docusaurus/static/img/assets/cloud/settings_invoices_DARK.png
  docusaurus/static/img/assets/cloud/settings_plans.png
  docusaurus/static/img/assets/cloud/settings_plans_DARK.png
  docusaurus/static/img/assets/cloud/settings_variables.png
  docusaurus/static/img/assets/cloud/settings_variables_DARK.png
  docusaurus/static/img/assets/icons/ArrowClockwise.svg
  docusaurus/static/img/assets/icons/Browsers.svg
  docusaurus/static/img/assets/icons/CreditCard.svg
  docusaurus/static/img/assets/icons/Faders.svg
  docusaurus/static/img/assets/icons/Invoice.svg
  docusaurus/static/img/assets/icons/MapTrifold.svg
  docusaurus/static/img/assets/icons/Palette.svg
  docusaurus/static/img/assets/icons/code2.svg
Labels: internal, v5

#2156 Adjustments to search & AI in top nav
  docusaurus/docusaurus.config.js
  docusaurus/src/components/SearchBar/search-bar.module.scss
  docusaurus/src/scss/navbar.scss
Labels: source: repo, internal, v5

#2160 Merge Algolia Search and Ask AI button
  docusaurus/docusaurus.config.js
  docusaurus/src/components/SearchBar/search-bar.module.scss
  docusaurus/src/scss/__index.scss
  docusaurus/src/scss/custom-search-bar.scss
  docusaurus/src/theme/AskAiIcon.js
  docusaurus/src/theme/SearchBar.js
Labels: v5
