Repository strapi/documentation, pull requests merged in 2024-01, with the labels that each got.

#1968 chore: fix relative paths on models page
  docusaurus/docs/dev-docs/backend-customization/models.md
Labels: source: Dev Docs, pr: chore

#1967 Fix broken nodejs releases documentation link
  docusaurus/docs/snippets/installation-prerequisites.md
Labels: source: Dev Docs, pr: chore

#1924 Blocks improvements: moving blocks & expand field
  docusaurus/docs/user-docs/content-manager/writing-content.md
  docusaurus/static/img/assets/icons/reorder.svg
Labels: source: User Guide, pr: updated content, internal

#1972 chore: update screenshot and add callout for beta version
  docusaurus/docs/user-docs/releases/managing-a-release.md
  docusaurus/static/img/assets/releases/release-details.png
  docusaurus/static/img/assets/releases/release-details_DARK.png
Labels: flag: merge pending release

#1971 Updates to the Releases feature for the beta release
  docusaurus/docs/user-docs/content-manager/adding-content-to-releases.md
  docusaurus/docs/user-docs/releases/creating-a-release.md
  docusaurus/docs/user-docs/releases/introduction.md
  docusaurus/docs/user-docs/releases/managing-a-release.md
  docusaurus/static/img/assets/releases/release-details.png
  docusaurus/static/img/assets/releases/release-details_DARK.png
Labels: source: User Guide, pr: updated content

#1976 Fixed sso okta caution block placement
  docusaurus/docs/dev-docs/configurations/sso.md
Labels: source: Dev Docs, pr: chore

#1978 Strapi Cloud: Node version feature
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/static/img/assets/cloud/advanced-settings.png
  docusaurus/static/img/assets/cloud/advanced-settings_DARK.png
Labels: pr: updated content, flag: merge pending release, internal, source: Strapi Cloud

#1961 Reviewed & complete version of Strapi Cloud documentation
  docusaurus/docs/cloud/account/account-billing.md
  docusaurus/docs/cloud/account/account-settings.md
  docusaurus/docs/cloud/getting-started/caching.md
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/cloud/getting-started/usage-billing.md
  docusaurus/docs/cloud/projects/collaboration.md
  docusaurus/docs/cloud/projects/deploys-history.md
  docusaurus/docs/cloud/projects/deploys.md
  docusaurus/docs/cloud/projects/notifications.md
  docusaurus/docs/cloud/projects/overview.md
  docusaurus/docs/cloud/projects/runtime-logs.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/docs/user-docs/releases/managing-a-release.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/cloud/cancel-deploy.png
  docusaurus/static/img/assets/cloud/cancel-deploy_DARK.png
  docusaurus/static/img/assets/cloud/collaboration-dialog.png
  docusaurus/static/img/assets/cloud/collaboration-dialog_DARK.png
  docusaurus/static/img/assets/cloud/collaboration-projectview.png
  docusaurus/static/img/assets/cloud/collaboration-projectview_DARK.png
  docusaurus/static/img/assets/cloud/deploy-logs.png
  docusaurus/static/img/assets/cloud/deploy-logs_DARK.png
  docusaurus/static/img/assets/cloud/deploys.png
  docusaurus/static/img/assets/cloud/deploys_DARK.png
  docusaurus/static/img/assets/cloud/overview.png
  docusaurus/static/img/assets/cloud/overview_DARK.png
  docusaurus/static/img/assets/cloud/runtime-logs.png
  docusaurus/static/img/assets/cloud/runtime-logs_DARK.png
  docusaurus/static/img/assets/cloud/settings-general.png
  docusaurus/static/img/assets/cloud/settings-general_DARK.png
  docusaurus/static/img/assets/cloud/settings.png
  docusaurus/static/img/assets/cloud/settings_DARK.png
  docusaurus/static/img/assets/cloud/settings_backups.png
  docusaurus/static/img/assets/cloud/settings_backups_DARK.png
  docusaurus/static/img/assets/cloud/settings_billing.png
  docusaurus/static/img/assets/cloud/settings_billing_DARK.png
  docusaurus/static/img/assets/cloud/settings_domains.png
  docusaurus/static/img/assets/cloud/settings_domains_DARK.png
  docusaurus/static/img/assets/cloud/settings_variables.png
  docusaurus/static/img/assets/cloud/settings_variables_DARK.png
  docusaurus/static/img/assets/cloud/trigger-deploy.png
  docusaurus/static/img/assets/cloud/trigger-deploy_DARK.png
  docusaurus/static/img/assets/icons/Duplicate copy.svg
  docusaurus/static/img/assets/icons/Eye.svg
  docusaurus/static/img/assets/icons/More.svg
  docusaurus/static/img/assets/icons/ONHOLDCarretDown.svg
  docusaurus/static/img/assets/icons/ONHOLDCarretUp.svg
  docusaurus/static/img/assets/icons/more.svg
  docusaurus/static/more.svg
Labels: pr: updated content, internal, source: Strapi Cloud

#1981 Strapi Cloud: mandatory billing details
  docusaurus/docs/cloud/account/account-billing.md
  docusaurus/static/img/assets/cloud/account-billing2.png
  docusaurus/static/img/assets/cloud/account-billing2_DARK.png
Labels: pr: updated content, internal, source: Strapi Cloud

#1969 Strapi Cloud: extension of period before project deletion when suspended
  docusaurus/docs/cloud/getting-started/usage-billing.md
Labels: pr: updated content, internal, source: Strapi Cloud

#1928 Strapi Cloud: restore backup via UI
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/settings_backups.png
  docusaurus/static/img/assets/cloud/settings_backups_DARK.png
Labels: pr: updated content, internal, source: Strapi Cloud

#1973 Add exhaustive list of Markdown shortcuts in Blocks documentation
  docusaurus/docs/user-docs/content-manager/writing-content.md
Labels: source: User Guide, pr: updated content, internal

#1975 Update docs for autogenerate settings for JS projects
  docusaurus/docs/dev-docs/configurations/typescript.md
  docusaurus/docs/dev-docs/typescript.md
Labels: source: Dev Docs, pr: updated content

#1988 [Strapi 5️⃣] Removal of `isSupportedImage`
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/is-supported-image-removed.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, v5

#1987 [Strapi 5️⃣] Add v5 breaking change about react-router-dom 6
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/react-router-dom-6.md
Labels: source: Dev Docs, v5

#1990 mention local file upload path
  docusaurus/docs/dev-docs/plugins/upload.md
Labels: source: Dev Docs, pr: chore
