Repository strapi/documentation, pull requests merged in 2024-08, with the labels that each got.

#2162 Admin panel customization section rework
  docusaurus/docs/dev-docs/admin-panel-customization.md
  docusaurus/docs/dev-docs/admin-panel-customization/bundlers.md
  docusaurus/docs/dev-docs/admin-panel-customization/deployment.md
  docusaurus/docs/dev-docs/admin-panel-customization/development.md
  docusaurus/docs/dev-docs/admin-panel-customization/extension.md
  docusaurus/docs/dev-docs/admin-panel-customization/host-port-path.md
  docusaurus/docs/dev-docs/admin-panel-customization/options.md
  docusaurus/docs/dev-docs/admin-panel-customization/wysiwyg-editor.md
  docusaurus/docs/dev-docs/backend-customization.md
  docusaurus/docs/dev-docs/cli.md
  docusaurus/docs/snippets/hot-reloading-admin-panel.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, pr: updated content, v5

#2164 fix: plugin project structure
  docusaurus/src/components/PluginStructure.js
Labels: v5

#2165 Fix incorrect commands
  docusaurus/docs/dev-docs/installation/cli.md
  docusaurus/docs/snippets/database-require.md
Labels: source: Dev Docs, v5

#2167 Updates for 5 free trials on Strapi Cloud
  docusaurus/docs/cloud/cli/cloud-cli.md
  docusaurus/docs/cloud/getting-started/deployment-cli.md
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/cloud/getting-started/usage-billing.md
  docusaurus/static/img/assets/cloud/projects-empty-with-free-trials.png
  docusaurus/static/img/assets/cloud/projects-empty-with-free-trials_DARK.png
Labels: pr: updated content, flag: merge pending release, source: Strapi Cloud

#2120 Add docs for releases settings
  docusaurus/docs/user-docs/settings/introduction.md
  docusaurus/docs/user-docs/settings/releases.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/releases/release-settings.png
Labels: flag: merge pending release, internal, v5

#2173 Deprecate integration guides
  docusaurus/docs/dev-docs/integrations/11ty.md
  docusaurus/docs/dev-docs/integrations/angular.md
  docusaurus/docs/dev-docs/integrations/dart.md
  docusaurus/docs/dev-docs/integrations/flutter.md
  docusaurus/docs/dev-docs/integrations/gatsby.md
  docusaurus/docs/dev-docs/integrations/go.md
  docusaurus/docs/dev-docs/integrations/graphql.md
  docusaurus/docs/dev-docs/integrations/gridsome.md
  docusaurus/docs/dev-docs/integrations/jekyll.md
  docusaurus/docs/dev-docs/integrations/laravel.md
  docusaurus/docs/dev-docs/integrations/next-js.md
  docusaurus/docs/dev-docs/integrations/nuxt-js.md
  docusaurus/docs/dev-docs/integrations/php.md
  docusaurus/docs/dev-docs/integrations/python.md
  docusaurus/docs/dev-docs/integrations/react.md
  docusaurus/docs/dev-docs/integrations/ruby.md
  docusaurus/docs/dev-docs/integrations/sapper.md
  docusaurus/docs/dev-docs/integrations/svelte.md
  docusaurus/docs/dev-docs/integrations/vue-js.md
  docusaurus/docs/snippets/integration-guides-soon-removed.md
Labels: internal, v5

#2171 Strapi Cloud: Billing & Usage section updates
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/settings_billing.png
  docusaurus/static/img/assets/cloud/settings_billing_DARK.png
Labels: pr: updated content, flag: merge pending release, internal, source: Strapi Cloud, temp: port to v5

#2182 feat: cover more cases in helper plugin migration
  docusaurus/docs/dev-docs/migration/v4-to-v5/additional-resources/helper-plugin.md
Labels: source: Dev Docs, v5

#2187 Improve diagrams for the Document Service concept introduction
  docusaurus/docs/dev-docs/api/document.md
  docusaurus/src/scss/diagrams.scss
Labels: source: Dev Docs, v5
