Repository strapi/documentation, pull requests merged in 2024-03, with the labels that each got.

#2035 Add docs for disabling the growth experiments
  docusaurus/docs/dev-docs/configurations/admin-panel.md
Labels: source: Dev Docs, target: v4, size: small, temp: port to v5

#2037 [Strapi 5] (no-)watch-admin and bundler updates
  docusaurus/docs/dev-docs/admin-panel-customization.md
  docusaurus/docs/dev-docs/cli.md
Labels: source: Dev Docs, pr: updated content, v5

#1995 [Strapi 5] Breaking change for CM redux store
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/redux-content-manager-app-state.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, internal, v5

#2024 Created an Introduction page for the User Guide and the General Settings Section
  docusaurus/docs/dev-docs/intro.md
  docusaurus/docs/user-docs/getting-started/setting-up-admin-panel.md
  docusaurus/docs/user-docs/getting-started/user-guide-fundamentals.md
  docusaurus/docs/user-docs/intro.md
  docusaurus/docs/user-docs/settings/introduction.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/settings/settings-i18n.png
  docusaurus/static/img/assets/settings/settings-i18n_DARK.png
  docusaurus/static/img/assets/settings/settings_api-token-custom.png
  docusaurus/static/img/assets/settings/settings_api-token-custom_DARK.png
  docusaurus/static/img/assets/settings/settings_api-token.png
  docusaurus/static/img/assets/settings/settings_api-token_DARK.png
  docusaurus/static/img/assets/settings/settings_create-transfer-token.png
  docusaurus/static/img/assets/settings/settings_create-transfer-token_DARK.png
  docusaurus/static/img/assets/settings/settings_custom-logo.png
  docusaurus/static/img/assets/settings/settings_custom-logo_DARK.png
  docusaurus/static/img/assets/settings/settings_media-library.png
  docusaurus/static/img/assets/settings/settings_media-library_DARK.png
  docusaurus/static/img/assets/settings/settings_transfer-token.png
  docusaurus/static/img/assets/settings/settings_transfer-token_DARK.png
  docusaurus/static/img/assets/settings/up_email-templates.png
  docusaurus/static/img/assets/settings/up_email-templates_DARK.png
  docusaurus/static/img/assets/settings/up_providers.png
  docusaurus/static/img/assets/settings/up_providers_DARK.png
  docusaurus/static/img/assets/settings/up_settings.png
  docusaurus/static/img/assets/settings/up_settings_DARK.png
Labels: source: User Guide, internal, pr: new content, temp: port to v5

#2033 Strapi Cloud: new signup page
  docusaurus/static/img/assets/cloud/login.png
  docusaurus/static/img/assets/cloud/login_DARK.png
Labels: pr: updated content, internal, source: Strapi Cloud

#2039 Beta updates for Releases Scheduling
  docusaurus/docs/user-docs/releases/managing-a-release.md
Labels: source: User Guide, pr: updated content, internal

#2038 [Strapi 5] REST API updates (incl. i18n and breaking changes)
  docusaurus/docs/dev-docs/api/rest.md
  docusaurus/docs/dev-docs/api/rest/filters-locale-publication.md
  docusaurus/docs/dev-docs/api/rest/parameters.md
  docusaurus/docs/dev-docs/api/rest/populate-select.md
  docusaurus/docs/dev-docs/api/rest/sort-pagination.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/draft-and-publish-always-enabled.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/new-response-format.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/no-find-page-in-document-service.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/publication-state-removed.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/use-document-id.md
  docusaurus/docs/dev-docs/plugins/i18n.md
  docusaurus/docs/dev-docs/quick-start.md
  docusaurus/docs/snippets/breaking-change-affecting-plugins.md
  docusaurus/docs/snippets/breaking-change-not-affecting-plugins.md
  docusaurus/sidebars.js
  docusaurus/src/scss/code-block.scss
  docusaurus/static/img/assets/rest-api/plural-api-id.png
  docusaurus/static/img/assets/rest-api/plural-api-id_DARK.png
Labels: source: Dev Docs, pr: updated content, internal, v5

#1989 [Strapi 5] Breaking change for strapi exports
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/strapi-imports.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, internal, v5

#1999 [Strapi 5] Breaking change for sorting by id
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/sort-by-id.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, internal, v5

#1997 [Strapi 5] Breaking change for U&P register.allowedFields
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/register-allowed-fields.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, internal, v5

#1994 [Strapi 5] Breaking change for `strapi.container`
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/strapi-container.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, internal, v5

#2042 Clarify generate types command usage for TypeScript
  docusaurus/docs/dev-docs/backend-customization/models.md
Labels: source: Dev Docs, pr: updated content

#2040 Strapi Cloud: new introduction & fundamentals page
  docusaurus/docs/cloud/getting-started/cloud-fundamentals.md
  docusaurus/docs/cloud/getting-started/intro.md
  docusaurus/sidebars.js
Labels: internal, pr: new content, source: Strapi Cloud

#2046 Strapi Cloud: removing one-time password in "Managing subscriptions"
  docusaurus/docs/cloud/account/account-billing.md
Labels: pr: updated content, internal, source: Strapi Cloud

#2034 Clarify `populate` usage
  docusaurus/docs/dev-docs/api/rest.md
  docusaurus/docs/dev-docs/api/rest/guides/intro.md
  docusaurus/docs/dev-docs/api/rest/guides/populate-creator-fields.md
  docusaurus/docs/dev-docs/api/rest/guides/understanding-populate.md
  docusaurus/docs/dev-docs/api/rest/populate-select.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/rest-api/ctb-article-components-structure.png
  docusaurus/static/img/assets/rest-api/ctb-blocks-dynamic-zone-structure-2.png
  docusaurus/static/img/assets/rest-api/ctb-blocks-dynamic-zone-structure.png
  docusaurus/static/img/assets/rest-api/populate-foodadvisor-diagram.png
  docusaurus/static/img/assets/rest-api/populate-foodadvisor-diagram1.png
  docusaurus/static/img/assets/rest-api/populate-foodadvisor-diagram2.png
  docusaurus/static/img/assets/rest-api/populate-foodadvisor-diagram3.png
Labels: source: Dev Docs, internal, pr: new content, temp: port to v5

#2055 [Strapi 5] Breaking change for model config path uses uid
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/model-config-path-uses-uid.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, internal, v5

#2049 [Strapi 5] Breaking change for server log level configuration
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/server-default-log-level.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, internal, v5

#2047 [Strapi 5] Breaking change for the removed webpack aliases
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/webpack-aliases-removed.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, internal, target: next, v5

#2059 Cloud documentation update & fix
  docusaurus/docs/cloud/getting-started/usage-billing.md
  docusaurus/docs/cloud/projects/settings.md
Labels: internal, pr: chore, source: Strapi Cloud

#2027 [Strapi 5] Update Draft & Publish User Guide for v5
  docusaurus/docs/user-docs/content-manager/introduction-to-content-manager.md
  docusaurus/docs/user-docs/content-manager/saving-and-publishing-content.md
  docusaurus/docs/user-docs/content-manager/translating-content.md
  docusaurus/docs/user-docs/content-manager/writing-content.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/content-manager/content-manager_displayed-fields.png
  docusaurus/static/img/assets/content-manager/content-manager_displayed-fields_DARK.png
  docusaurus/static/img/assets/content-manager/content-manager_filters2.png
  docusaurus/static/img/assets/content-manager/content-manager_filters2_DARK.png
  docusaurus/static/img/assets/content-manager/content-manager_list-view.png
  docusaurus/static/img/assets/content-manager/content-manager_list-view_DARK.png
  docusaurus/static/img/assets/content-manager/content-manager_single-type.png
  docusaurus/static/img/assets/content-manager/content-manager_single-type_DARK.png
  docusaurus/static/img/assets/content-manager/content-manager_translate3.png
  docusaurus/static/img/assets/content-manager/content-manager_translate3_DARK.png
  docusaurus/static/img/assets/content-manager/content-manager_unpublish.png
  docusaurus/static/img/assets/content-manager/content-manager_unpublish_DARK.png
  docusaurus/static/img/assets/content-manager/edit-view3.png
  docusaurus/static/img/assets/content-manager/edit-view3_DARK.png
  docusaurus/static/img/assets/content-manager/editing_draft_version3.png
  docusaurus/static/img/assets/content-manager/editing_draft_version3_DARK.png
  docusaurus/static/img/assets/content-manager/editing_published_version3.png
  docusaurus/static/img/assets/content-manager/editing_published_version3_DARK.png
  docusaurus/static/img/assets/icons/cross-circle.svg
  docusaurus/static/img/assets/icons/delete-locale.svg
Labels: source: User Guide, pr: updated content, internal, v5

#2058 Add callout to lifecycle hooks to cross-link to error handling docs
  docusaurus/docs/dev-docs/backend-customization/models.md
Labels: source: Dev Docs, internal, pr: chore

#2053 [Strapi 5] Breaking change for upgrade from apollo v3 to apollo v4
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/upgrade-to-apollov4.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, internal, v5

#2048 Add docs for keycloak users-permissions provider
  docusaurus/docs/dev-docs/plugins/users-permissions.md
Labels: source: Dev Docs, pr: new content, target: v4, size: medium, temp: port to v5

#2061 Updates for stable release of Releases Scheduling
  docusaurus/docs/dev-docs/configurations/features.md
  docusaurus/docs/user-docs/content-manager/adding-content-to-releases.md
  docusaurus/docs/user-docs/releases/creating-a-release.md
  docusaurus/docs/user-docs/releases/introduction.md
  docusaurus/docs/user-docs/releases/managing-a-release.md
  docusaurus/static/img/assets/releases/new-release.png
  docusaurus/static/img/assets/releases/new-release_DARK.png
  docusaurus/static/img/assets/releases/release-details.png
  docusaurus/static/img/assets/releases/release-details_DARK.png
  docusaurus/static/img/assets/releases/releases-overview.png
  docusaurus/static/img/assets/releases/releases-overview2.png
  docusaurus/static/img/assets/releases/releases-overview2_DARK.png
  docusaurus/static/img/assets/releases/releases-overview_DARK.png
Labels: source: User Guide, pr: updated content

#2063 fix: set alpine linux version due to recent changes to `libvips`
  docusaurus/docs/dev-docs/installation/docker.md
Labels: temp: port to v5

#2064 Add a small note about the cloud overages on project deletion
  docusaurus/docs/cloud/getting-started/usage-billing.md
Labels: pr: fix, source: Strapi Cloud

#2065 Add new guides section to REST API
  docusaurus/docs/dev-docs/api/rest/guides/intro.md
Labels: pr: new content

#2068 Fix: Typo. Balance some brackets.
  docusaurus/docs/dev-docs/api/rest/relations.md
Labels: source: Dev Docs, pr: fix, temp: port to v5
