Repository strapi/documentation, pull requests merged in 2024-02, with the labels that each got.

#1996 Typescript Typo fix
  docusaurus/docs/dev-docs/typescript.md
Labels: source: Dev Docs, pr: chore

#2003 Remove Content Source Map/Vercel Visual Editing documentation
  docusaurus/docs/dev-docs/plugins/content-source-map.md
  docusaurus/docs/dev-docs/plugins/using-plugins.md
  docusaurus/docs/user-docs/content-manager/writing-content.md
  docusaurus/docs/user-docs/plugins/strapi-plugins.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, source: User Guide, pr: chore

#2002 Update Releases documentation for next release
  docusaurus/docs/user-docs/content-manager/adding-content-to-releases.md
Labels: source: User Guide, pr: updated content

#2005 Replace images with stripped-out EXIF data
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part1-01-admin_panel.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part1-01-admin_panel_DARK.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part2-02-collection_ct.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part2-02-collection_ct_DARK.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part2-03-restaurant.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part2-03-restaurant_DARK.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part2-04-roles.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part2-04-roles_DARK.png
  docusaurus/static/img/assets/quick-start-guide/qsg-strapi-cloud-1.png
  docusaurus/static/img/assets/quick-start-guide/qsg-strapi-cloud-1_DARK.png
Labels: source: repo, pr: chore

#2018 Update admin-redirect.md - Fixed invalid path - Ready to merge
  docusaurus/docs/dev-docs/deployment/snippets-proxy/admin-redirect.md
Labels: source: Dev Docs, pr: chore

#2013 Strapi Cloud: Developer plan
  docusaurus/docs/cloud/account/account-billing.md
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/cloud/getting-started/usage-billing.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/cloud/project-creation-1.png
  docusaurus/static/img/assets/cloud/project-creation-1_DARK.png
Labels: pr: updated content, internal, source: Strapi Cloud

#2009 [Strapi 5] Breaking change for strict requirements on configuration filenames
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/strict-requirements-config-files.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, v5

#2006 [Strapi 5] Breaking change for no findPage() method in Document Service API
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/no-find-page-in-document-service.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, v5

#2007 [Strapi 5] Breaking change about removed support for some env-only options
  docusaurus/docs/dev-docs/configurations/environment.md
  docusaurus/docs/dev-docs/configurations/server.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/removed-support-for-some-env-options.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, v5

#1965 feat: add plugin cli docs page
  docusaurus/docs/dev-docs/plugins/developing-plugins.md
  docusaurus/docs/dev-docs/plugins/development/create-a-plugin.md
  docusaurus/docs/dev-docs/plugins/development/plugin-cli.md
  docusaurus/docs/dev-docs/plugins/guides/use-the-plugin-cli.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, pr: new content, temp: port to v5

#2004 chore: node 20 installation
  docusaurus/docs/dev-docs/deployment/azure.md
Labels: source: Dev Docs, pr: chore, temp: port to v5

#2029 Fix default value of develop's `--open` option
  docusaurus/docs/dev-docs/cli.md
Labels: source: Dev Docs, pr: chore

#2032 Improve the Plugins configuration section to mention Upload/Media Library configuration
  docusaurus/docs/dev-docs/configurations.md
  docusaurus/docs/dev-docs/configurations/plugins.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, pr: updated content

#2025 Update Releases documentation with Scheduling
  docusaurus/docs/dev-docs/backend-customization/webhooks.md
  docusaurus/docs/dev-docs/configurations.md
  docusaurus/docs/dev-docs/configurations/features.md
  docusaurus/docs/user-docs/content-manager/adding-content-to-releases.md
  docusaurus/docs/user-docs/releases/creating-a-release.md
  docusaurus/docs/user-docs/releases/introduction.md
  docusaurus/docs/user-docs/releases/managing-a-release.md
  docusaurus/sidebars.js
  docusaurus/src/components/ProjectStructureConfigFiles.js
  docusaurus/static/img/assets/icons/releases.svg
  docusaurus/static/img/assets/releases/release-scheduling.png
  docusaurus/static/img/assets/releases/release-scheduling_DARK.png
  docusaurus/static/img/assets/releases/releases-overview2.png
  docusaurus/static/img/assets/releases/releases-overview2_DARK.png
Labels: source: User Guide, pr: updated content, internal, temp: port to v5
