Repository strapi/documentation, pull requests merged in 2024-10, with the labels that each got.

#2247 Fixing the table of links in the rest api documentation
  docusaurus/docs/dev-docs/api/rest.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, pr: fix, internal

#2248 Current documentation leads to not functional `server.js`
  docusaurus/docs/dev-docs/typescript/development.md
Labels: source: Dev Docs, pr: fix

#2249 PublicationAt breaking change
  docusaurus/docs/dev-docs/api/rest.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/publishedat-removed.md
Labels: pr: new content

#2250 Add custom password validation example
  docusaurus/docs/dev-docs/plugins/users-permissions.md
Labels: source: Dev Docs, pr: updated content

#2239 List environments with Cloud CLI
  docusaurus/docs/cloud/cli/cloud-cli.md
Labels: pr: updated content, source: Strapi Cloud

#2260 Restore bigger font-size for categories title in sidebar
  docusaurus/src/scss/sidebar.scss
Labels: pr: fix, source: repo

#2261 Add example code and resulting screenshot for theme extension
  docusaurus/docs/dev-docs/admin-panel-customization/options.md
  docusaurus/static/img/assets/admin-panel-customization/red-login-button.png
Labels: source: Dev Docs, pr: updated content

#2258 chore: update confirmation modal text in Cloud Update Repository
  docusaurus/docs/cloud/projects/settings.md
Labels: flag: merge pending release, pr: chore, source: Strapi Cloud, temp: port to doc6

#2259 Add support for 'latest' parameter in the upgrade tool
  docusaurus/docs/dev-docs/upgrade-tool.md
Labels: source: Dev Docs, pr: updated content, flag: merge pending release, internal, temp: port to doc6

#2268 Fix tiny typo
  docusaurus/docs/snippets/invoices-statuses.md
Labels: pr: fix, source: Strapi Cloud

#2269 Update names of removed mutations in GraphQL breaking change
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/graphql-api-updated.md
Labels: source: Dev Docs, pr: chore

#2271 Update upgrade-to-apollov4.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/upgrade-to-apollov4.md
Labels: source: Dev Docs, pr: chore

#2159 Add openapi.json route documentation (#2143)
  docusaurus/docs/dev-docs/plugins/documentation.md
Labels: source: Dev Docs, pr: updated content, target: v4

#2272 Remove Strapi 5 warning for Cloud in FAQ
  docusaurus/docs/dev-docs/migration/v4-to-v5/introduction-and-faq.md
Labels: source: Dev Docs, internal, size: small

#2275 chore: fix example request update (document-service) method
  docusaurus/docs/dev-docs/api/document-service/status.md
Labels: source: Dev Docs, pr: fix

#2264 chore: minor cloud doc changes
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/environments.png
  docusaurus/static/img/assets/cloud/environments_DARK.png
  docusaurus/static/img/assets/cloud/settings-general.png
  docusaurus/static/img/assets/cloud/settings-general_DARK.png
  docusaurus/static/img/assets/cloud/settings.png
  docusaurus/static/img/assets/cloud/settings_DARK.png
  docusaurus/static/img/assets/cloud/settings_backups.png
  docusaurus/static/img/assets/cloud/settings_backups_DARK.png
  docusaurus/static/img/assets/cloud/settings_billing.png
  docusaurus/static/img/assets/cloud/settings_billing_DARK.png
  docusaurus/static/img/assets/cloud/settings_domains.png
  docusaurus/static/img/assets/cloud/settings_domains_DARK.png
  docusaurus/static/img/assets/cloud/settings_env.png
  docusaurus/static/img/assets/cloud/settings_env_DARK.png
  docusaurus/static/img/assets/cloud/settings_invoices.png
  docusaurus/static/img/assets/cloud/settings_invoices_DARK.png
  docusaurus/static/img/assets/cloud/settings_plans.png
  docusaurus/static/img/assets/cloud/settings_plans_DARK.png
  docusaurus/static/img/assets/cloud/settings_variables.png
  docusaurus/static/img/assets/cloud/settings_variables_DARK.png
Labels: flag: merge pending release, pr: chore, source: Strapi Cloud

#2252 Add Knex Config function support
  docusaurus/docs/dev-docs/configurations/database.md
Labels: source: Dev Docs, pr: updated content, flag: merge pending release
