Repository strapi/documentation, pull requests merged in 2024-06, with the labels that each got.

#2100 [Strapi 5] Updates to relations in API docs
  docusaurus/docs/dev-docs/api/document-service.md
  docusaurus/docs/dev-docs/api/rest/relations.md
Labels: internal, v5

#2119 Quick Start Guide and CLI installation guide updates for the Cloud CLI
  docusaurus/docs/dev-docs/installation/cli.md
  docusaurus/docs/dev-docs/quick-start.md
  docusaurus/static/img/assets/quick-start-guide/qsg-cloud-login.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-visit-cloud-app.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-visit-cloud-app_DARK.gif
Labels: source: Dev Docs, pr: updated content, flag: merge pending release

#2086 Cloud CLI documentation
  docusaurus/docs/cloud/cli/cloud-cli.md
  docusaurus/docs/cloud/getting-started/deployment-cli.md
  docusaurus/docs/cloud/getting-started/deployment-options.md
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/dev-docs/installation/cli.md
  docusaurus/docs/dev-docs/quick-start.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/quick-start-guide/qsg-cloud-login.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-visit-cloud-app.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-visit-cloud-app_DARK.gif
Labels: flag: merge pending release, internal, pr: new content, source: Strapi Cloud

#2123 Add lockIcon → licenseOnly breaking change
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/license-only.md
  docusaurus/docs/dev-docs/plugins/admin-panel-api.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/plugins/lightning-icon-menu.png
  docusaurus/static/img/assets/plugins/lightning-icon-settings.png
Labels: v5

#2124 Add new proxy configuration feature
  docusaurus/docs/dev-docs/configurations/server.md
Labels: flag: 💥 Breaking change, v5

#2131 Add breaking change for server.proxy config.
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/server-proxy.md
  docusaurus/sidebars.js
Labels: v5

#2132 Digital Ocean Droplet Deployment Edit: Add info about nginx max file size to config instructions
  docusaurus/docs/dev-docs/deployment/digitalocean.md
Labels: source: Dev Docs, pr: updated content

#2126 New "Upgrades" section (replaces updates & migration) for Strapi 5
  docusaurus/docs/dev-docs/configurations/database.md
  docusaurus/docs/dev-docs/data-management/export.md
  docusaurus/docs/dev-docs/data-management/import.md
  docusaurus/docs/dev-docs/data-management/transfer.md
  docusaurus/docs/dev-docs/intro.md
  docusaurus/docs/dev-docs/migration-guides.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/introduction.md
  docusaurus/docs/dev-docs/plugins-extension.md
  docusaurus/docs/dev-docs/plugins/i18n.md
  docusaurus/docs/dev-docs/update-migration.md
  docusaurus/docs/dev-docs/update-version.md
  docusaurus/docs/dev-docs/upgrade-tool.md
  docusaurus/docs/dev-docs/upgrades.md
  docusaurus/sidebars.js
  docusaurus/src/components/ReusableAnnotationComponents/ReusableAnnotationComponents.jsx
  docusaurus/src/pages/home/_home.content.js
  docusaurus/src/theme/MDXComponents.js
  docusaurus/static/img/assets/migration/strapi-version-number.png
  docusaurus/static/img/assets/migration/strapi-version-number_DARK.png
  docusaurus/vercel.json
Labels: internal, v5

#2134 Update the cloud cli logout step
  docusaurus/docs/cloud/cli/cloud-cli.md
Labels: flag: merge pending release, source: Strapi Cloud, temp: port to v5

#2130 Billing flow revamp
  docusaurus/docs/cloud/account/account-billing.md
  docusaurus/docs/cloud/account/account-settings.md
  docusaurus/docs/cloud/getting-started/cloud-fundamentals.md
  docusaurus/docs/cloud/getting-started/intro.md
  docusaurus/docs/cloud/getting-started/usage-billing.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/docs/snippets/invoices-statuses.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/cloud/account-billing2.png
  docusaurus/static/img/assets/cloud/account-billing2_DARK.png
  docusaurus/static/img/assets/cloud/account-invoices.png
  docusaurus/static/img/assets/cloud/account-invoices_DARK.png
  docusaurus/static/img/assets/cloud/account-preferences.png
  docusaurus/static/img/assets/cloud/account-preferences_DARK.png
  docusaurus/static/img/assets/cloud/settings-general.png
  docusaurus/static/img/assets/cloud/settings-general_DARK.png
  docusaurus/static/img/assets/cloud/settings.png
  docusaurus/static/img/assets/cloud/settings_DARK.png
  docusaurus/static/img/assets/cloud/settings_backups.png
  docusaurus/static/img/assets/cloud/settings_backups_DARK.png
  docusaurus/static/img/assets/cloud/settings_billing.png
  docusaurus/static/img/assets/cloud/settings_billing_DARK.png
  docusaurus/static/img/assets/cloud/settings_domains.png
  docusaurus/static/img/assets/cloud/settings_domains_DARK.png
  docusaurus/static/img/assets/cloud/settings_invoices.png
  docusaurus/static/img/assets/cloud/settings_invoices_DARK.png
  docusaurus/static/img/assets/cloud/settings_plans.png
  docusaurus/static/img/assets/cloud/settings_plans_DARK.png
  docusaurus/static/img/assets/cloud/settings_variables.png
  docusaurus/static/img/assets/cloud/settings_variables_DARK.png
  docusaurus/static/img/assets/icons/ArrowClockwise.svg
  docusaurus/static/img/assets/icons/Browsers.svg
  docusaurus/static/img/assets/icons/CreditCard.svg
  docusaurus/static/img/assets/icons/Faders.svg
  docusaurus/static/img/assets/icons/Invoice.svg
  docusaurus/static/img/assets/icons/MapTrifold.svg
  docusaurus/static/img/assets/icons/Palette.svg
  docusaurus/static/img/assets/icons/code2.svg
Labels: pr: updated content, internal, pr: new content, source: Strapi Cloud, temp: port to v5

#2128 Update to Cloud CLI docs re. connecting a git repo.
  docusaurus/docs/cloud/cli/cloud-cli.md
  docusaurus/docs/cloud/getting-started/deployment-cli.md
  docusaurus/docs/cloud/projects/deploys.md
  docusaurus/docs/cloud/projects/settings.md
Labels: pr: updated content, flag: merge pending release, source: Strapi Cloud, temp: port to v5
