Repository strapi/documentation, pull requests merged in 2024-09, with the labels that each got.

#2180 Update azure.md with another node version
  docusaurus/docs/dev-docs/deployment/azure.md
Labels: source: Dev Docs, pr: fix, temp: port to v5

#2192 Strapi 5 templates
  docusaurus/docs/dev-docs/advanced-features.md
  docusaurus/docs/dev-docs/installation/cli.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/templates.md
  docusaurus/docs/dev-docs/templates.md
  docusaurus/sidebars.js
Labels: source: Dev Docs, v5

#2195 Add scope and warning details to the upgrade tool guide
  docusaurus/docs/dev-docs/upgrade-tool.md
Labels: source: Dev Docs, pr: updated content, v5

#2197 User Guide: make main categories clickable in breadcrumbs
  docusaurus/sidebars.js
Labels: source: User Guide, pr: updated content, internal, target: next, v5

#2198 Cloud: make main categories clickable in breadcrumbs
  docusaurus/sidebars.js
Labels: pr: updated content, internal, target: next, source: Strapi Cloud, v5

#2199 Add a note on how to work around a version clash in the 4.2.x to 4.3.x migration when on node v16
  docusaurus/docs/dev-docs/migration/v4/migration-guide-4.2.x-to-4.3.x.md
Labels: source: Dev Docs, pr: updated content

#2201 Update transfer.md
  docusaurus/docs/dev-docs/data-management/transfer.md
Labels: source: Dev Docs, pr: updated content

#2203 Update the Quick Start Guide with Cloud CLI and new CLI prompts
  docusaurus/docs/dev-docs/installation/cli.md
  docusaurus/docs/dev-docs/quick-start.md
  docusaurus/static/img/assets/installation/prompts.png
  docusaurus/static/img/assets/quick-start-guide/qsg-cloud-login.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-first-login-cloud.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-first-login-cloud_DARK.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-categories-v5.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-categories-v5_DARK.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part1-01-admin_panel-v5.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part1-01-admin_panel-v5_DARK.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part2-02-collection_ct-v5.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part2-02-collection_ct-v5_DARK.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part2-03-restaurant-v5.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part2-03-restaurant-v5_DARK.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part2-04-roles-v5.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-part2-04-roles-v5_DARK.png
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-publish-v5.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-publish-v5_DARK.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-restaurant-v5.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-handson-restaurant-v5_DARK.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-questions-answers-terminal.png
  docusaurus/static/img/assets/quick-start-guide/qsg-strapi-cloud-terminal-questions.png
  docusaurus/static/img/assets/quick-start-guide/qsg-visit-cloud-app.gif
  docusaurus/static/img/assets/quick-start-guide/qsg-visit-cloud-app_DARK.gif
Labels: source: Dev Docs, pr: updated content, v5

#2204 Breaking change for removing the "shared population strategy" for components & dynamic zones
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/no-shared-population-strategy-components-dynamic-zones.md
Labels: source: Dev Docs, internal, pr: new content, v5

#2208 Plugin migration updates
  docusaurus/docs/dev-docs/migration/v4-to-v5/additional-resources/plugins-migration.md
Labels: source: Dev Docs, pr: updated content

#2209 feat: add more before examples for helper plugin migration
  docusaurus/docs/dev-docs/migration/v4-to-v5/additional-resources/helper-plugin.md
Labels: source: Dev Docs, v5

#2212 Update codemods list
  docusaurus/docs/dev-docs/migration/v4-to-v5/step-by-step.md
Labels: source: Dev Docs, pr: updated content, internal, v5

#2216 Update server-default-log-level.md log levels
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/server-default-log-level.md
Labels: source: Dev Docs, pr: updated content, v5, temp: add to release notes

#2215 Update attributes-and-content-types-names-reserved.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/attributes-and-content-types-names-reserved.md
Labels: source: Dev Docs, pr: updated content, v5, temp: add to release notes

#2217 Add links to v4 docs
  docusaurus/docs/dev-docs/api/document-service.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/lifecycle-hooks-document-service.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/no-shared-population-strategy-components-dynamic-zones.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/no-upload-at-entry-creation.md
Labels: internal, v5

#2223 Fix dz populate example
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/no-shared-population-strategy-components-dynamic-zones.md
Labels: source: Dev Docs, pr: updated content, v5

#2226 fix: replace v5/main links with develop
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/breaking-changes/react-router-dom-6.md
  docusaurus/docs/dev-docs/migration/v4-to-v5/step-by-step.md
  docusaurus/docs/dev-docs/plugins/admin-panel-api.md
  docusaurus/docs/dev-docs/plugins/content-manager-apis.md
  docusaurus/docs/dev-docs/templates.md
Labels: source: Dev Docs, pr: fix, internal

#2232 Fix grammar in the "TypeScript development" docs
  docusaurus/docs/dev-docs/typescript/development.md
Labels: source: Dev Docs, pr: fix

#2230 chore(dev-docs): helper plugin migration guide clarifications
  docusaurus/docs/dev-docs/migration/v4-to-v5/additional-resources/helper-plugin.md
Labels: source: Dev Docs, internal, pr: chore

#2233 Fix SEO issues
  docusaurus/docs/cloud/getting-started/intro.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/docs/dev-docs/admin-panel-customization/options.md
  docusaurus/docs/dev-docs/api/document-service/fields.md
  docusaurus/docs/dev-docs/api/document-service/select.md
  docusaurus/docs/dev-docs/api/entity-service/filter.md
  docusaurus/docs/dev-docs/api/entity-service/populate.md
  docusaurus/docs/dev-docs/api/query-engine/filtering.md
  docusaurus/docs/dev-docs/api/query-engine/populating.md
  docusaurus/docs/dev-docs/intro.md
  docusaurus/docs/user-docs/content-type-builder/configuring-fields-content-type.md
  docusaurus/docs/user-docs/content-type-builder/creating-new-content-type.md
  docusaurus/docs/user-docs/intro.md
  docusaurus/docusaurus.config.js
  docusaurus/vercel.json
Labels: internal, pr: chore

#2234 Fix pagination_next for first page of categories
  docusaurus/docs/cloud/account/account-settings.md
  docusaurus/docs/cloud/advanced/database.md
  docusaurus/docs/cloud/cli/cloud-cli.md
  docusaurus/docs/cloud/getting-started/intro.md
  docusaurus/docs/cloud/projects/deploys.md
  docusaurus/docs/cloud/projects/overview.md
  docusaurus/docs/dev-docs/installation.md
  docusaurus/docs/user-docs/content-type-builder/introduction-to-content-types-builder.md
  docusaurus/docs/user-docs/intro.md
  docusaurus/docs/user-docs/media-library/introduction-to-the-media-library.md
  docusaurus/docs/user-docs/plugins/introduction-to-plugins.md
  docusaurus/docs/user-docs/releases/introduction.md
  docusaurus/docs/user-docs/settings/introduction.md
Labels: pr: fix, internal

#2229 Strapi Cloud: Multi-Environments documentation & updates
  docusaurus/docs/cloud/advanced/database.md
  docusaurus/docs/cloud/getting-started/usage-billing.md
  docusaurus/docs/cloud/projects/collaboration.md
  docusaurus/docs/cloud/projects/deploys-history.md
  docusaurus/docs/cloud/projects/deploys.md
  docusaurus/docs/cloud/projects/overview.md
  docusaurus/docs/cloud/projects/runtime-logs.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/cancel-deploy.png
  docusaurus/static/img/assets/cloud/cancel-deploy_DARK.png
  docusaurus/static/img/assets/cloud/collaboration-dialog2.png
  docusaurus/static/img/assets/cloud/collaboration-dialog2_DARK.png
  docusaurus/static/img/assets/cloud/collaboration-projectview.png
  docusaurus/static/img/assets/cloud/collaboration-projectview_DARK.png
  docusaurus/static/img/assets/cloud/deploy_logs.png
  docusaurus/static/img/assets/cloud/deploy_logs_DARK.png
  docusaurus/static/img/assets/cloud/environments.png
  docusaurus/static/img/assets/cloud/environments_DARK.png
  docusaurus/static/img/assets/cloud/overview.png
  docusaurus/static/img/assets/cloud/overview2.png
  docusaurus/static/img/assets/cloud/overview2_DARK.png
  docusaurus/static/img/assets/cloud/overview_DARK.png
  docusaurus/static/img/assets/cloud/project_list.png
  docusaurus/static/img/assets/cloud/project_list_DARK.png
  docusaurus/static/img/assets/cloud/runtime-logs.png
  docusaurus/static/img/assets/cloud/runtime-logs_DARK.png
  docusaurus/static/img/assets/cloud/settings.png
  docusaurus/static/img/assets/cloud/settings_DARK.png
  docusaurus/static/img/assets/cloud/settings_backups.png
  docusaurus/static/img/assets/cloud/settings_backups_DARK.png
  docusaurus/static/img/assets/cloud/settings_billing.png
  docusaurus/static/img/assets/cloud/settings_billing_DARK.png
  docusaurus/static/img/assets/cloud/settings_domains.png
  docusaurus/static/img/assets/cloud/settings_domains_DARK.png
  docusaurus/static/img/assets/cloud/settings_env.png
  docusaurus/static/img/assets/cloud/settings_env_DARK.png
  docusaurus/static/img/assets/cloud/settings_invoices.png
  docusaurus/static/img/assets/cloud/settings_invoices_DARK.png
  docusaurus/static/img/assets/cloud/settings_plans.png
  docusaurus/static/img/assets/cloud/settings_plans_DARK.png
  docusaurus/static/img/assets/cloud/settings_variables.png
  docusaurus/static/img/assets/cloud/settings_variables_DARK.png
  docusaurus/static/img/assets/cloud/trigger-deploy.png
  docusaurus/static/img/assets/cloud/trigger-deploy_DARK.png
  docusaurus/static/img/assets/icons/v5/Stack.svg
Labels: flag: merge pending release, internal, pr: new content, source: Strapi Cloud

#2237 fix: Creating a custom provider example
  docusaurus/docs/dev-docs/plugins/users-permissions.md
Labels: source: Dev Docs, pr: fix

#2235 Mention Blocked status for Releases
  docusaurus/docs/user-docs/releases/managing-a-release.md
Labels: source: User Guide, pr: updated content, internal

#2242 Add link to ms package for examples for JWT expiresIn
  docusaurus/docs/dev-docs/plugins/users-permissions.md
Labels: source: Dev Docs, pr: updated content

#2243 Update create-a-plugin.md
  docusaurus/docs/dev-docs/plugins/development/create-a-plugin.md
Labels: source: Dev Docs, pr: fix

#2244 Fix `CheckPagePermissions` code example in helper-plugin deprecation guide
  docusaurus/docs/dev-docs/migration/v4-to-v5/additional-resources/helper-plugin.md
Labels: source: Dev Docs, pr: fix
