Repository strapi/documentation, pull requests merged in 2025-05, with the labels that each got.

#2486 Remove Node 18 support and misc. cleanup
  README.md
  SECURITY.md
  docusaurus/docs/cms/installation/cli.md
  docusaurus/docs/cms/installation/docker.md
  docusaurus/docs/cms/usage-information.md
  docusaurus/docs/snippets/installation-prerequisites.md
Labels: pr: chore, temp - port to docs-next, source: CMS

#2485 Remove obsolete version attribute from Docker guide
  docusaurus/docs/cms/installation/docker.md
Labels: echoes: bug, source: CMS

#2474 Homepage API
  docusaurus/docs/cms/admin-panel-customization/homepage.md
  docusaurus/docs/cms/configurations/features.md
  docusaurus/docs/cms/features/admin-panel.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/admin-homepage/admin-panel-homepage-with-tour.png
  docusaurus/static/img/assets/admin-homepage/admin-panel-homepage-with-tour_DARK.png
  docusaurus/static/img/assets/admin-homepage/admin-panel-homepage.png
  docusaurus/static/img/assets/admin-homepage/admin-panel-homepage_DARK.png
  docusaurus/static/img/assets/homepage-customization/content-metrics-widget.png
  docusaurus/static/img/assets/homepage-customization/content-metrics-widget_DARK.png
  docusaurus/static/img/assets/homepage-customization/rendering-data-management.png
Labels: pr: new content, source: CMS

#2484 Viewable API tokens in the admin panel
  docusaurus/docs/cms/configurations/admin-panel.md
  docusaurus/docs/cms/features/api-tokens.md
Labels: pr: chore, source: CMS

#2492 Free Cloud plan
  docusaurus/docs/cloud/cli/cloud-cli.md
  docusaurus/docs/cloud/getting-started/cloud-fundamentals.md
  docusaurus/docs/cloud/getting-started/deployment-cli.md
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/cloud/getting-started/usage-billing.md
  docusaurus/docs/cloud/projects/runtime-logs.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/project-creation-1-2.png
  docusaurus/static/img/assets/cloud/project-creation-1-2_DARK.png
  docusaurus/static/img/assets/cloud/project_list.png
  docusaurus/static/img/assets/cloud/project_list_DARK.png
Labels: pr: updated content, source: Strapi Cloud

#2498 Add "Copy Markdown" button
  docusaurus/src/components/ContributeLink/ContributeLink.jsx
  docusaurus/src/components/CopyMarkdownButton.js
  docusaurus/src/scss/__index.scss
  docusaurus/src/scss/copy-markdown-button.scss
Labels: source: repo, pr: new content

#2501 Dev-related sidebar rework, iteration #1
  docusaurus/docs/cloud/advanced/email.md
  docusaurus/docs/cloud/advanced/upload.md
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/cms/admin-panel-customization/wysiwyg-editor.md
  docusaurus/docs/cms/backend-customization/examples/services-and-controllers.md
  docusaurus/docs/cms/configurations.md
  docusaurus/docs/cms/configurations/admin-panel.md
  docusaurus/docs/cms/configurations/cron.md
  docusaurus/docs/cms/configurations/database.md
  docusaurus/docs/cms/configurations/environment.md
  docusaurus/docs/cms/configurations/guides/configure-sso.md
  docusaurus/docs/cms/configurations/guides/public-assets.md
  docusaurus/docs/cms/configurations/guides/use-cron-jobs.md
  docusaurus/docs/cms/configurations/media-library-providers.md
  docusaurus/docs/cms/configurations/typescript.md
  docusaurus/docs/cms/configurations/users-and-permissions-providers.md
  docusaurus/docs/cms/configurations/users-and-permissions-providers/new-provider-guide.md
  docusaurus/docs/cms/customization.md
  docusaurus/docs/cms/features/email.md
  docusaurus/docs/cms/features/media-library.md
  docusaurus/docs/cms/features/sso.md
  docusaurus/docs/cms/features/users-permissions.md
  docusaurus/docs/cms/installation/cli.md
  docusaurus/docs/cms/migration/v4-to-v5/additional-resources/plugins-migration.md
  docusaurus/docs/cms/migration/v4-to-v5/breaking-changes/mailgun-provider-variables.md
  docusaurus/docs/cms/typescript.md
  docusaurus/docs/cms/typescript/adding-support-to-existing-project.md
  docusaurus/docs/cms/typescript/development.md
  docusaurus/docs/cms/typescript/documents-and-entries.md
  docusaurus/docs/cms/typescript/guides.md
  docusaurus/docs/snippets/media-library-providers-list.md
  docusaurus/docs/snippets/supported-databases.md
  docusaurus/sidebars.js
  docusaurus/src/scss/sidebar.scss
  docusaurus/static/js/redirector.js
  docusaurus/vercel.json
Labels: pr: updated content, source: CMS

#2505 Dev-related content rework, iteration #2 (admin panel configuration and customization)
  docusaurus/docs/cms/admin-panel-customization.md
  docusaurus/docs/cms/admin-panel-customization/bundlers.md
  docusaurus/docs/cms/admin-panel-customization/deployment.md
  docusaurus/docs/cms/admin-panel-customization/extension.md
  docusaurus/docs/cms/admin-panel-customization/favicon.md
  docusaurus/docs/cms/admin-panel-customization/host-port-path.md
  docusaurus/docs/cms/admin-panel-customization/locales-translations.md
  docusaurus/docs/cms/admin-panel-customization/logos.md
  docusaurus/docs/cms/admin-panel-customization/options.md
  docusaurus/docs/cms/admin-panel-customization/theme-extension.md
  docusaurus/docs/cms/backend-customization.md
  docusaurus/docs/cms/configurations/admin-panel.md
  docusaurus/docs/cms/configurations/guides/configure-sso.md
  docusaurus/docs/cms/deployment.md
  docusaurus/docs/cms/features/admin-panel.md
  docusaurus/sidebars.js
Labels: pr: updated content, source: CMS

#2507 Add LLMs.txt and LLMs-full.txt generation
  .github/workflows/deploy-production.yml
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/plugins/llms-generator-plugin.js
  docusaurus/scripts/generate-llms.js
  docusaurus/static/llms-full.txt
  docusaurus/static/llms.txt
  docusaurus/yarn.lock
Labels: source: repo, pr: new content
