Repository strapi/documentation, pull requests merged in 2025-10, with the labels that each got.

#2730 Save & deploy on branch change
  docusaurus/docs/cloud/projects/settings.md
Labels: flag: merge pending release, internal, pr: chore, source: Strapi Cloud

#2746 Save & deploy for domains
  docusaurus/docs/cloud/projects/settings.md
Labels: internal, pr: chore, source: Strapi Cloud

#2754 Add FAQ entry for MCP
  docusaurus/docs/cms/faq.md
Labels: source: repo, internal, pr: chore
