Repository strapi/documentation, pull requests merged in 2025-04, with the labels that each got.

#2451 Adding a small note about Cloud sidegrade and display new ui
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/settings_plans.png
  docusaurus/static/img/assets/cloud/settings_plans_DARK.png
Labels: pr: chore, source: Strapi Cloud

#2453 Update SSO badge style
  docusaurus/src/components/Badge.js
  docusaurus/src/scss/badge.scss
Labels: pr: chore, source: CMS

#2452 Add missing factory method in TypeScript development example
  docusaurus/docs/cms/typescript/development.md
Labels: pr: chore, source: CMS

#2454 Fix issue #2378
  docusaurus/docs/cms/installation/docker.md
Labels: pr: chore, source: CMS

#2455 Fix `key` token color in code blocks
  docusaurus/src/scss/code-block.scss
Labels: source: repo, pr: chore

#2456 New design for features & plugins identity cards
  docusaurus/docs/cms/features/api-tokens.md
  docusaurus/docs/cms/features/audit-logs.md
  docusaurus/docs/cms/features/content-history.md
  docusaurus/docs/cms/features/data-management.md
  docusaurus/docs/cms/features/draft-and-publish.md
  docusaurus/docs/cms/features/email.md
  docusaurus/docs/cms/features/internationalization.md
  docusaurus/docs/cms/features/media-library.md
  docusaurus/docs/cms/features/preview.md
  docusaurus/docs/cms/features/rbac.md
  docusaurus/docs/cms/features/releases.md
  docusaurus/docs/cms/features/review-workflows.md
  docusaurus/docs/cms/features/sso.md
  docusaurus/docs/cms/features/users-permissions.md
  docusaurus/docs/cms/plugins/documentation.md
  docusaurus/docs/cms/plugins/graphql.md
  docusaurus/docs/cms/plugins/sentry.md
  docusaurus/docs/release-notes.md
  docusaurus/src/components/ExternalLink.js
  docusaurus/src/components/IdentityCard/IdentityCard.jsx
  docusaurus/src/components/IdentityCard/identity-card.scss
  docusaurus/src/components/IdentityCard/index.js
  docusaurus/src/components/index.js
  docusaurus/src/scss/typography.scss
  docusaurus/src/theme/MDXComponents.js
Labels: pr: chore, source: CMS

#2458 Documentation: Update suggested npm production Dockerfile
  docusaurus/docs/cms/installation/docker.md
Labels: pr: chore, source: CMS

#2457 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: source: repo, pr: chore

#2459 New tabs design
  docusaurus/docs/cms/configurations/admin-panel.md
  docusaurus/src/scss/tabs.scss
Labels: source: repo, pr: chore

#2461 Fix identity cards design
  docusaurus/src/components/IdentityCard/identity-card.scss
Labels: source: repo, pr: chore

#2460 Move contribution link to secondary table of contents on larger viewports
  docusaurus/i18n/en/code.json
  docusaurus/src/components/ContributeLink/ContributeLink.jsx
  docusaurus/src/components/ContributeLink/contribute-link.module.scss
  docusaurus/src/components/ContributeLink/index.js
  docusaurus/src/scss/footer.scss
  docusaurus/src/scss/table-of-contents.scss
  docusaurus/src/theme/TOC/index.js
  docusaurus/src/theme/TOCItems/Tree.js
  docusaurus/src/theme/TOCItems/index.js
Labels: source: repo, pr: chore

#2462 Remove unused plugins files and update links
  docusaurus/docs/cms/api/graphql.md
  docusaurus/docs/cms/api/rest/relations.md
  docusaurus/docs/cms/cli.md
  docusaurus/docs/cms/migration/v4-to-v5/breaking-changes/no-upload-at-entry-creation.md
  docusaurus/docs/cms/plugins/introduction-to-plugins.md
  docusaurus/docs/cms/plugins/upload.md
  docusaurus/docs/cms/providers.md
  docusaurus/vercel.json
Labels: pr: chore, source: CMS

#2463 Add `files` to Strapi Client docs
  docusaurus/docs/cms/api/client.md
Labels: pr: updated content, source: CMS

#2467 Fix plugin init command
  docusaurus/docs/cms/plugins-development/create-a-plugin.md
Labels: pr: chore, source: CMS

#2469 Rewrite Custom fields documentation as a feature page
  docusaurus/docs/cms/admin-panel-customization/wysiwyg-editor.md
  docusaurus/docs/cms/backend-customization/models.md
  docusaurus/docs/cms/configurations/functions.md
  docusaurus/docs/cms/features/content-type-builder.md
  docusaurus/docs/cms/features/custom-fields.md
  docusaurus/docs/cms/plugins-development/admin-panel-api.md
  docusaurus/docs/cms/plugins-development/developing-plugins.md
  docusaurus/docs/cms/plugins-development/server-api.md
  docusaurus/sidebars.js
  docusaurus/src/scss/details.scss
  docusaurus/static/js/redirector.js
  docusaurus/vercel.json
Labels: pr: updated content, source: CMS

#2470 Add caution about custom domains and Strapi Cloud assets URLs
  docusaurus/docs/cloud/projects/settings.md
Labels: pr: chore, source: Strapi Cloud

#2471 Fix screenshot description in Cloud projects overview
  docusaurus/docs/cloud/projects/overview.md
Labels: pr: chore, source: CMS

#2472 Add link to external guide about deploying Strapi on Azure
  docusaurus/docs/cms/deployment.md
Labels: pr: chore, source: CMS

#2476 chore: general fixes
  docusaurus/docs/cloud/advanced/database.md
  docusaurus/docs/cloud/advanced/email.md
  docusaurus/docs/cloud/advanced/upload.md
  docusaurus/docs/cloud/cli/cloud-cli.md
  docusaurus/docs/cloud/getting-started/deployment-cli.md
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/cloud/getting-started/usage-billing.md
  docusaurus/docs/cloud/projects/deploys-history.md
  docusaurus/docs/cloud/projects/deploys.md
  docusaurus/docs/cloud/projects/notifications.md
  docusaurus/docs/cloud/projects/overview.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/docs/snippets/invoices-statuses.md
Labels: pr: chore, source: Strapi Cloud

#2473 CMS docs: add Guideflows in feature pages
  docusaurus/docs/cms/features/content-history.md
  docusaurus/docs/cms/features/draft-and-publish.md
  docusaurus/docs/cms/features/internationalization.md
  docusaurus/docs/cms/features/media-library.md
  docusaurus/docs/cms/features/rbac.md
  docusaurus/docs/cms/features/releases.md
  docusaurus/docs/cms/features/review-workflows.md
Labels: internal, source: CMS

#2477 Add Inkeep support
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/src/components/HomepageAIButton/HomepageAIButton.js
  docusaurus/src/components/Inkeep/InkeepDocExample.jsx
  docusaurus/src/components/Inkeep/InkeepSimple.jsx
  docusaurus/src/components/Inkeep/index.js
  docusaurus/src/hooks/useInkeepModal.js
  docusaurus/src/pages/ask-ai.jsx
  docusaurus/src/theme/DocSidebar/CustomSearchBar.js
  docusaurus/src/theme/Root.js
  docusaurus/static/img/logo-monogram.png
  docusaurus/yarn.lock
Labels: source: repo, pr: new content
