Repository strapi/documentation, pull requests merged in 2025-09, with the labels that each got.

#2673 Add AI Toolbar
  docusaurus/docs/cloud/getting-started/cloud-fundamentals.md
  docusaurus/docs/cms/admin-panel-customization/bundlers.md
  docusaurus/docs/cms/api/document.md
  docusaurus/docs/cms/backend-customization.md
  docusaurus/docs/cms/intro.md
  docusaurus/docusaurus.config.js
  docusaurus/src/components/AiToolbar/AiToolbar.jsx
  docusaurus/src/components/AiToolbar/actions/actionRegistry.js
  docusaurus/src/components/AiToolbar/actions/copyMarkdown.js
  docusaurus/src/components/AiToolbar/actions/navigate.js
  docusaurus/src/components/AiToolbar/config/aiToolsConfig.js
  docusaurus/src/components/AiToolbar/index.js
  docusaurus/src/components/AiToolbar/utils/aiToolsHelpers.js
  docusaurus/src/components/ContributeLink/ContributeLink.jsx
  docusaurus/src/components/DebugComponent.jsx
  docusaurus/src/hooks/useBadgeReorder.js
  docusaurus/src/scss/__index.scss
  docusaurus/src/scss/ai-toolbar.scss
  docusaurus/src/scss/badge.scss
  docusaurus/src/theme/MDXComponents.js
  docusaurus/src/theme/MDXComponents/Heading.js
Labels: source: repo, pr: new content

#2710 fix: cms quick start for npm compat
  docusaurus/docs/cms/quick-start.md
Labels: pr: chore, source: CMS

#2717 Add additional context to the admin locales and translations page
  docusaurus/docs/cms/admin-panel-customization/locales-translations.md
Labels: internal, pr: chore, source: CMS, codex

#2721 Fix Strapi TypeScript import example
  docusaurus/docs/cms/typescript/development.md
Labels: pr: updated content, internal, source: CMS, codex

#2731 fix: proxy breaking change in server example
  docusaurus/docs/cms/configurations/server.md
Labels: internal

#2734 Fix reactivate subscription errors
  docusaurus/docs/cloud/getting-started/usage-billing.md
  docusaurus/static/img/assets/cloud/settings-reactivate.png
  docusaurus/static/img/assets/cloud/settings-reactivate_DARK.png
Labels: internal

#2735 Automatically add proper `source:` and `pr:` labels to PRs
  .github/workflows/auto-label-prs-for-source-and-content.yml
Labels: source: repo, internal, pr: new content
