Repository strapi/documentation, pull requests merged in 2025-02, with the labels that each got.

#2372 Add missing TypeScript version to Admin Panel API code example
  docusaurus/docs/dev-docs/plugins/admin-panel-api.md
Labels: source: Dev Docs, pr: chore, temp: port to doc6

#2373 JavaScript SDK
  docusaurus/docs/dev-docs/api/content-api.md
  docusaurus/docs/dev-docs/api/sdk-js.md
  docusaurus/src/scss/diagrams.scss
  docusaurus/static/img/assets/diagrams/apis-v2.png
  docusaurus/static/img/assets/diagrams/apis-v2_DARK.png
Labels: source: Dev Docs, pr: new content, temp: port to doc6

#2381 Rename SDK to Client in files and diagrams
  docusaurus/docs/dev-docs/api/client.md
  docusaurus/docs/dev-docs/api/content-api.md
  docusaurus/docs/dev-docs/api/rest.md
  docusaurus/docs/dev-docs/whats-new.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/diagrams/apis-v2.png
  docusaurus/static/img/assets/diagrams/apis-v2_DARK.png
Labels: source: Dev Docs, pr: chore, temp: port to doc6

#2380 Pregenerated API tokens
  docusaurus/docs/user-docs/settings/API-tokens.md
  docusaurus/static/img/assets/settings/settings_pregen-api-tokens.png
  docusaurus/static/img/assets/settings/settings_pregen-api-tokens_DARK.png
Labels: source: Dev Docs, pr: updated content, temp: port to doc6

#2389 Add ExternalLink custom component
  docusaurus/docs/cms/intro.md
  docusaurus/src/components/ExternalLink.js
  docusaurus/src/scss/icons.scss
  docusaurus/src/theme/MDXComponents.js
Labels: source: repo, pr: chore

#2390 Remove integration guides
  docusaurus/docs/cms/integrations/11ty.md
  docusaurus/docs/cms/integrations/angular.md
  docusaurus/docs/cms/integrations/dart.md
  docusaurus/docs/cms/integrations/flutter.md
  docusaurus/docs/cms/integrations/gatsby.md
  docusaurus/docs/cms/integrations/go.md
  docusaurus/docs/cms/integrations/graphql.md
  docusaurus/docs/cms/integrations/gridsome.md
  docusaurus/docs/cms/integrations/jekyll.md
  docusaurus/docs/cms/integrations/laravel.md
  docusaurus/docs/cms/integrations/next-js.md
  docusaurus/docs/cms/integrations/nuxt-js.md
  docusaurus/docs/cms/integrations/php.md
  docusaurus/docs/cms/integrations/python.md
  docusaurus/docs/cms/integrations/react.md
  docusaurus/docs/cms/integrations/ruby.md
  docusaurus/docs/cms/integrations/sapper.md
  docusaurus/docs/cms/integrations/svelte.md
  docusaurus/docs/cms/integrations/vue-js.md
  docusaurus/docs/snippets/integration-guides-soon-removed.md
Labels: pr: chore, source: cms

#2395 Update release notes script
  docusaurus/scripts/release-notes-script.sh
Labels: source: repo

#2402 Add missing TypeScript pages
  docusaurus/docs/cms/typescript.md
  docusaurus/docs/cms/typescript/adding-support-to-existing-project.md
  docusaurus/docs/cms/typescript/development.md
  docusaurus/docs/cms/typescript/documents-and-entries.md
Labels: pr: updated content, source: CMS

#2392 Setting up local plugin in Strapi without the Plugin SDK
  docusaurus/docs/dev-docs/plugins/development/create-a-plugin.md
Labels: source: Dev Docs, pr: updated content, temp: port to doc6

#2391 Enhanced webhooks docs
  docusaurus/docs/dev-docs/backend-customization/webhooks.md
Labels: source: Dev Docs, pr: updated content, temp: port to doc6

#2404 Fix descriptions for database parameters in CLI installation
  docusaurus/docs/dev-docs/installation/cli.md
Labels: source: Dev Docs, pr: chore, temp: port to doc6
