Repository strapi/documentation, pull requests merged in 2025-03, with the labels that each got.

#2412 Mention blog article about lifecycle functions
  docusaurus/docs/cms/configurations/functions.md
Labels: pr: chore, source: CMS

#2413 Mention lifecycle hooks blog article
  docusaurus/docs/cms/migration/v4-to-v5/breaking-changes/lifecycle-hooks-document-service.md
Labels: pr: chore, source: CMS

#2414 Fix pagination_next values
  docusaurus/docs/cms/api/content-api.md
  docusaurus/docs/cms/api/rest/guides/intro.md
  docusaurus/docs/cms/configurations.md
  docusaurus/docs/cms/customization.md
  docusaurus/docs/cms/plugins-development/admin-panel-api.md
Labels: pr: chore, source: CMS

#2416 First of Iteration #1 for new homepage
  docusaurus/src/components/HomepageAIButton/HomepageAIButton.js
  docusaurus/src/components/HomepageAIButton/homepageaibutton.module.scss
  docusaurus/src/components/index.js
  docusaurus/src/pages/home/Home.jsx
  docusaurus/src/pages/home/_home.content.js
  docusaurus/src/pages/home/home.module.scss
Labels: source: repo, pr: chore

#2394 New Cloud plans
  docusaurus/docs/cloud/getting-started/cloud-fundamentals.md
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/cloud/getting-started/usage-billing.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/docs/dev-docs/backend-customization/webhooks.md
  docusaurus/docs/user-docs/content-manager/adding-content-to-releases.md
  docusaurus/docs/user-docs/content-manager/working-with-content-history.md
  docusaurus/docs/user-docs/getting-started/user-guide-fundamentals.md
  docusaurus/docs/user-docs/releases/creating-a-release.md
  docusaurus/docs/user-docs/releases/introduction.md
  docusaurus/docs/user-docs/releases/managing-a-release.md
  docusaurus/docs/user-docs/settings/audit-logs.md
  docusaurus/docs/user-docs/settings/releases.md
  docusaurus/docs/user-docs/settings/review-workflows.md
  docusaurus/src/components/Badge.js
  docusaurus/src/scss/badge.scss
  docusaurus/src/theme/MDXComponents.js
  docusaurus/static/img/assets/cloud/project-creation-1.png
  docusaurus/static/img/assets/cloud/project-creation-1_DARK.png
  docusaurus/static/img/assets/cloud/project-creation-2.png
  docusaurus/static/img/assets/cloud/project-creation-2_DARK.png
  docusaurus/static/img/assets/cloud/settings.png
  docusaurus/static/img/assets/cloud/settings_DARK.png
  docusaurus/static/img/assets/cloud/settings_plans.png
  docusaurus/static/img/assets/cloud/settings_plans_DARK.png
Labels: pr: updated content, source: Strapi Cloud

#2396 New Cloud plans (CMS docs)
  docusaurus/docs/cloud/getting-started/cloud-fundamentals.md
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/docs/cloud/getting-started/usage-billing.md
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/docs/cms/backend-customization/webhooks.md
  docusaurus/docs/cms/features/audit-logs.md
  docusaurus/docs/cms/features/content-history.md
  docusaurus/docs/cms/features/releases.md
  docusaurus/docs/cms/features/review-workflows.md
  docusaurus/src/components/Badge.js
  docusaurus/src/scss/badge.scss
  docusaurus/src/theme/MDXComponents.js
  docusaurus/static/img/assets/cloud/project-creation-1.png
  docusaurus/static/img/assets/cloud/project-creation-1_DARK.png
  docusaurus/static/img/assets/cloud/project-creation-2.png
  docusaurus/static/img/assets/cloud/project-creation-2_DARK.png
  docusaurus/static/img/assets/cloud/settings.png
  docusaurus/static/img/assets/cloud/settings_DARK.png
  docusaurus/static/img/assets/cloud/settings_plans.png
  docusaurus/static/img/assets/cloud/settings_plans_DARK.png
Labels: pr: updated content, source: Strapi Cloud

#2418 Use new cloud plans screenshot
  docusaurus/docs/cloud/getting-started/deployment.md
  docusaurus/static/img/assets/cloud/project-creation-1.1.png
  docusaurus/static/img/assets/cloud/project-creation-1.1_DARK.png
Labels: source: Strapi Cloud, temp: port to doc6

#2420 Second draft of iteration #1 for new homepage
  docusaurus/src/components/Card/Card.jsx
  docusaurus/src/components/Card/card.module.scss
  docusaurus/src/components/Hero/hero.module.scss
  docusaurus/src/components/HomepageAIButton/homepageaibutton.module.scss
  docusaurus/src/pages/home/Home.jsx
  docusaurus/src/pages/home/_home.content.js
  docusaurus/src/pages/home/home.module.scss
  docusaurus/src/scss/icons.scss
Labels: source: repo, pr: chore

#2419 Strapi Cloud settings: Environment Variables revamp
  docusaurus/docs/cloud/projects/settings.md
  docusaurus/static/img/assets/cloud/settings_variables.png
  docusaurus/static/img/assets/cloud/settings_variables_DARK.png
Labels: pr: updated content, source: Strapi Cloud, temp: port to doc6

#2410 Preview: Side panel
  docusaurus/docs/dev-docs/preview.md
  docusaurus/docs/user-docs/content-manager/previewing-content.md
  docusaurus/sidebars.js
  docusaurus/static/img/assets/content-manager/previewing-content2.gif
Labels: source: Dev Docs, source: User Guide, pr: updated content, temp: port to doc6

#2407 Update Content Manager to mention editing relations on the fly
  docusaurus/docs/user-docs/content-manager/managing-relational-fields.md
Labels: source: User Guide, pr: updated content

#2406 Update Content Manager to mention editing relations on the fly
  docusaurus/docs/cms/features/content-manager.md
Labels: pr: updated content, source: CMS

#2400 Preview: Side panel
  docusaurus/docs/cms/features/preview.md
  docusaurus/src/scss/badge.scss
  docusaurus/static/img/assets/content-manager/previewing-content2.gif
Labels: pr: updated content, source: CMS

#2426 Fixes AI button blurry box shadow
  docusaurus/src/components/HomepageAIButton/homepageaibutton.module.scss
Labels: pr: fix, source: repo

#2430 Convert example in Store and Access Data guide from ES to DS
  docusaurus/docs/dev-docs/plugins/guides/store-and-access-data.md
Labels: source: Dev Docs, pr: chore, temp: port to doc6

#2431 Fix Node versions in installation snippet
  docusaurus/docs/snippets/installation-prerequisites.md
Labels: source: Dev Docs, pr: chore, temp: port to doc6

#2432 Add use case for handling database migrations with TypeScript
  docusaurus/docs/dev-docs/database-migrations.md
Labels: source: Dev Docs, pr: chore, temp: port to doc6

#2434 Fix missing location for content-type generation command in Store and Access Data (plugins dev) guide
  docusaurus/docs/dev-docs/plugins/guides/store-and-access-data.md
Labels: source: Dev Docs, pr: chore, temp: port to doc6

#2377 enhancement: add email ratelimiting config options
  docusaurus/docs/dev-docs/plugins/email.md
Labels: source: Dev Docs, pr: feature release

#2435 Add Design System breaking changes summary
  docusaurus/docs/cms/migration/v4-to-v5/additional-resources/introduction.md
  docusaurus/docs/cms/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/cms/migration/v4-to-v5/breaking-changes/design-system.md
  docusaurus/docusaurus.config.js
  docusaurus/src/scss/code-block.scss
Labels: pr: new content, source: CMS

#2428 Add callout for downgrade/upgrade Cloud plans
  docusaurus/docs/cloud/projects/settings.md
Labels: pr: chore, source: Strapi Cloud, temp: port to doc6

#2440 Various Cloud docs updates
  docusaurus/docs/cloud/advanced/email.md
  docusaurus/docs/cloud/advanced/upload.md
  docusaurus/docs/cloud/getting-started/cloud-fundamentals.md
  docusaurus/docs/cloud/getting-started/deployment-cli.md
  docusaurus/docs/cloud/getting-started/deployment.md
Labels: pr: updated content, internal, source: Strapi Cloud

#2411 Preview: Side panel (stable, CMS)
  docusaurus/docs/cms/features/preview.md
  docusaurus/sidebars.js
Labels: pr: updated content, source: CMS

#2442 Add support for dark mode to new homepage cards
  docusaurus/docusaurus.config.js
  docusaurus/src/components/Card/Card.jsx
  docusaurus/src/components/Card/card.module.scss
  docusaurus/src/pages/home/Home.jsx
  docusaurus/src/pages/home/_home.content.js
  docusaurus/static/img/assets/home/cloud-screenshot-for-homepage.png
  docusaurus/static/img/assets/home/cloud-screenshot-for-homepage_DARK.png
  docusaurus/static/img/assets/home/cms-screenshot-for-homepage_DARK.png
Labels: source: repo, pr: chore

#2444 Improve cors documentation
  docusaurus/docs/cms/configurations/middlewares.md
Labels: pr: updated content, source: CMS
