Repository strapi/documentation, pull requests merged in 2025-07, with the labels that each got.

#2568 Remove duplicated sections in Preview docs
  docusaurus/docs/cms/features/preview.md
Labels: pr: chore, source: CMS

#2561 Tooltips in TOC
  docusaurus/.gitignore
  docusaurus/sidebars.js
  docusaurus/src/components/InfoIcon/index.js
  docusaurus/src/scss/sidebar.scss
  docusaurus/src/theme/DocSidebarItem/Category/index.js
  docusaurus/src/theme/DocSidebarItem/Html/index.js
  docusaurus/src/theme/DocSidebarItem/Link/index.js
  docusaurus/static/llms-full.txt
Labels: source: repo

#2574 Fix Amplitude tracking experiment CDN
  docusaurus/docusaurus.config.js
  docusaurus/plugins/amplitude-plugin.js
Labels: source: repo, pr: chore

#2578 Fix strapi network mismatch issues in Docker instructions
  docusaurus/docs/cms/installation/docker.md
Labels: pr: chore, source: CMS

#2586 Fix incorrect wording in the description of the `findOne()` method
  docusaurus/docs/cms/api/document-service.md
Labels: pr: chore, source: CMS

#2589 Hide second footer
  docusaurus/src/scss/footer.scss
Labels: source: repo, pr: chore

#2593 Expand strapi generate documentation
  docusaurus/docs/cms/cli.md
  docusaurus/src/components/ExpandableContent.js
  docusaurus/src/scss/__index.scss
  docusaurus/src/scss/expandable-content.scss
  docusaurus/src/theme/MDXComponents.js
  docusaurus/static/img/assets/cli/strapi-generate.gif
Labels: pr: updated content, source: CMS

#2595 Improve strapi-generate docs further
  docusaurus/docs/cms/cli.md
Labels: pr: updated content, source: CMS

#2605 Fix tabs display with long labels
  docusaurus/docs/cms/api/document.md
  docusaurus/src/scss/tabs.scss
Labels: source: repo, pr: chore

#2609 Fix MermaidWithFallback diagram display
  docusaurus/src/components/MermaidWithFallback.js
Labels: source: repo, pr: chore

#2602 Expand and improve Client docs
  docusaurus/docs/cms/api/client.md
Labels: pr: updated content, source: CMS

#2617 Explain there's only one GraphQL endpoint and how to customize its URL
  docusaurus/docs/cms/api/graphql.md
Labels: pr: updated content, source: CMS

#2615 GraphQL & REST API: more information on operators & more examples
  docusaurus/docs/cms/api/graphql.md
  docusaurus/docs/cms/api/rest/filters.md
  docusaurus/static/llms-full.txt
Labels: pr: updated content, internal, source: CMS
