Repository strapi/documentation, pull requests merged in 2025-08, with the labels that each got.

#2636 Add experimental firstPublishedAt configuration
  docusaurus/docs/cms/configurations/features.md
  docusaurus/docs/cms/features/draft-and-publish.md
  docusaurus/static/llms-full.txt
Labels: pr: new content, source: CMS

#2635 Fix 'v4CompatibilityMode' typo for Strapi 5 migration
  docusaurus/docs/cms/migration/v4-to-v5/breaking-changes/graphql-api-updated.md
  docusaurus/docs/cms/migration/v4-to-v5/step-by-step.md
Labels: pr: chore, source: CMS

#2640 Fix 'v4CompatibilityMode' typo for Strapi 5 migration in step by step guide
  docusaurus/docs/cms/migration/v4-to-v5/step-by-step.md
Labels: pr: chore, source: CMS

#2634 Add advanced queries and policies guides to GraphQL docs
  docusaurus/docs/cms/api/graphql.md
  docusaurus/docs/cms/api/graphql/advanced-policies.md
  docusaurus/docs/cms/api/graphql/advanced-queries.md
  docusaurus/docs/cms/plugins/graphql.md
Labels: pr: updated content, source: CMS

#2646 Clarify Content Manager API typing
  docusaurus/docs/cms/plugins-development/content-manager-apis.md
Labels: pr: updated content, source: CMS

#2655 Database configuration: callout w/ information on data.db path
  docusaurus/docs/cms/configurations/database.md
Labels: pr: updated content, internal, source: CMS

#2657 Clarify `database` vs. `filename` usage in database configuration
  docusaurus/docs/cms/configurations/database.md
  docusaurus/docs/release-notes.md
  docusaurus/package.json
Labels: pr: updated content, source: CMS

#2682 Update account-billing.md
  docusaurus/docs/cloud/account/account-billing.md
Labels: contribution
