Repository strapi/documentation, pull requests merged in 2025-06, with the labels that each got.

#2508 Admin Panel API typo in example
  docusaurus/docs/cms/plugins-development/admin-panel-api.md
  docusaurus/docs/cms/plugins-development/content-manager-apis.md
Labels: pr: chore, source: CMS

#2536 Increase modal width to 720px
  docusaurus/docusaurus.config.js
Labels: source: repo, pr: chore

#2538 Add inline prop to custom Badge component
  docusaurus/src/components/Badge.js
  docusaurus/src/scss/badge.scss
Labels: source: repo, pr: chore

#2543 Add tip about using copy markdown button and LLMs.txt files
  docusaurus/docs/cms/intro.md
Labels: source: repo, pr: chore

#2539 CMS Docs: Conditional Fields (beta release)
  docusaurus/docs/cms/features/content-type-builder.md
  docusaurus/docs/snippets/conditional-fields.md
Labels: internal, pr: new content, source: CMS

#2549 Add link to blog article about webhooks and Next.js
  docusaurus/.gitignore
  docusaurus/docs/cms/backend-customization/webhooks.md
Labels: pr: chore, source: CMS

#2551 Add repeatable components/Document Service API breaking change
  docusaurus/docs/cms/api/document-service.md
  docusaurus/docs/cms/migration/v4-to-v5/breaking-changes.md
  docusaurus/docs/cms/migration/v4-to-v5/breaking-changes/do-not-update-repeatable-components-with-document-service-api.md
  docusaurus/static/llms-full.txt
Labels: pr: new content, source: CMS

#2562 Use new notation for accessing plugin config
  docusaurus/docs/cms/plugins-development/server-api.md
  docusaurus/static/llms-full.txt
Labels: pr: chore, source: CMS
