Repository strapi/documentation, pull requests merged in 2025-01, with the labels that each got.

#2333 chore: removed account preferences section from cloud doc
  docusaurus/docs/cloud/account/account-settings.md
  docusaurus/static/img/assets/cloud/account-billing2.png
  docusaurus/static/img/assets/cloud/account-billing2_DARK.png
  docusaurus/static/img/assets/cloud/account-invoices.png
  docusaurus/static/img/assets/cloud/account-invoices_DARK.png
  docusaurus/static/img/assets/cloud/account-preferences.png
  docusaurus/static/img/assets/cloud/account-preferences_DARK.png
  docusaurus/static/img/assets/cloud/settings-general.png
  docusaurus/static/img/assets/cloud/settings-general_DARK.png
Labels: pr: chore, source: Strapi Cloud, temp: port to doc6

#2348 fix: document service API example typo
  docusaurus/docs/dev-docs/api/document-service.md
Labels: source: Dev Docs, pr: fix

#2349 Fix typo in admonition
  docusaurus/docs/dev-docs/api/document-service/fields.md
Labels: source: Dev Docs, pr: fix

#2352 Add the --verbose option to the data transfer command description
  docusaurus/docs/dev-docs/data-management/transfer.md
Labels: source: Dev Docs, pr: chore, temp: port to doc6

#2341 Add the SSO badge for the new, paid add-on
  docusaurus/docs/dev-docs/configurations.md
  docusaurus/docs/dev-docs/configurations/admin-panel.md
  docusaurus/docs/dev-docs/configurations/sso.md
  docusaurus/docs/user-docs/getting-started/setting-up-admin-panel.md
  docusaurus/docs/user-docs/settings/single-sign-on.md
  docusaurus/docs/user-docs/users-roles-permissions/configuring-administrator-roles.md
  docusaurus/src/components/Badge.js
  docusaurus/src/scss/_tokens.scss
  docusaurus/src/scss/badge.scss
  docusaurus/src/theme/MDXComponents.js
Labels: pr: chore, source: Strapi Cloud

#2299 Update text for add environment button
  docusaurus/docs/cloud/projects/overview.md
  docusaurus/docs/cloud/projects/settings.md
Labels: pr: chore, source: Strapi Cloud

#2343 Add graphQL landingPage configuration and updates Playground → Sandbox
  docusaurus/docs/dev-docs/plugins/graphql.md
Labels: source: Dev Docs, pr: updated content, temp: port to doc6

#2356 Fix populate examples for Document Service API
  docusaurus/docs/dev-docs/api/document-service/populate.md
Labels: source: Dev Docs, pr: fix

#2358 Fix bug in the middlewares example
  docusaurus/docs/dev-docs/api/document-service/middlewares.md
Labels: source: Dev Docs, pr: chore

#2360 Fix typo in v4 → v5 step-by-step for GraphQL plugin
  docusaurus/docs/dev-docs/migration/v4-to-v5/step-by-step.md
Labels: source: Dev Docs, pr: chore

#2367 Fix incorrect import of unstable_useContentManagerContext in Helper-plugin migration reference
  docusaurus/docs/dev-docs/migration/v4-to-v5/additional-resources/helper-plugin.md
Labels: source: Dev Docs, pr: fix, temp: port to doc6

#2368 Update Doc Service API middleware example
  docusaurus/docs/dev-docs/api/document-service/middlewares.md
Labels: source: Dev Docs, pr: chore
